.an-erp-is,
.erp1 {
  position: absolute;
  display: inline-block;
}
.erp1 {
  top: 0;
  left: 1.5rem;
  line-height: 120.9%;
  width: 14.813rem;
  height: 7.5rem;
  text-shadow: 4px 2px 3px rgba(0, 0, 0, 0.3);
}
.an-erp-is {
  top: 11.375rem;
  left: 1.875rem;
  font-size: 1.5rem;
  font-family: var(--font-sansation);
  width: 26.875rem;
  height: 11.625rem;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.35);
}
.button-rev-up1 {
  position: absolute;
  top: 1.125rem;
  left: 1.375rem;
  border-radius: 139px;
  background: linear-gradient(
    -90deg,
    #5b1ffe,
    #413dd4 50%,
    #12a2f3 99.99%,
    #8467c7
  );
  width: 22.625rem;
  height: 4.813rem;
}
.rev-up-your-bussiness {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24rem;
  height: 7.063rem;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.35);
}
.vector-icon {
  position: absolute;
  top: 2.875rem;
  left: 21.813rem;
  width: 0.563rem;
  height: 1.313rem;
  object-fit: contain;
}
.button-rev-up {
  position: absolute;
  top: 25.875rem;
  left: 0;
  width: 24rem;
  height: 7.063rem;
  text-align: center;
  font-size: 1.75rem;
}
.hero {
  position: absolute;
  top: 11.5rem;
  left: 5.375rem;
  width: 28.75rem;
  height: 32.938rem;
  text-align: left;
  color: var(--color-whitesmoke);
  font-family: var(--font-istok-web);
}
.text-three-signs,
.three-signs-that {
  position: absolute;
  top: 0;
  left: 0;
  width: 66.25rem;
  height: 3.313rem;
}
.three-signs-that {
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-three-signs {
  font-size: 2.375rem;
}
.erp-systems-can {
  top: 8.313rem;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12.938rem;
  height: 8.938rem;
}
.erp-systems-can,
.icon,
.sign {
  position: absolute;
}
.icon {
  top: 0;
  left: 3.25rem;
  width: 6.5rem;
  height: 6.5rem;
  object-fit: cover;
}
.sign {
  top: 10.875rem;
  left: 49.5rem;
  width: 12.938rem;
  height: 17.25rem;
}
.erp-systems-automate {
  position: absolute;
  top: 8.938rem;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 17.688rem;
  height: 8.938rem;
}
.icon1,
.sign1 {
  position: absolute;
}
.icon1 {
  top: 0;
  left: 5.438rem;
  width: 6.813rem;
  height: 7.444rem;
  object-fit: cover;
}
.sign1 {
  top: 9.938rem;
  left: 26.063rem;
  width: 17.688rem;
  height: 17.875rem;
}
.erp-integrates-data {
  position: absolute;
  top: 7.25rem;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 17.938rem;
  height: 10.5rem;
}
.icon2 {
  position: absolute;
  top: 0;
  left: 5.625rem;
  width: 6.5rem;
  height: 6.5rem;
  object-fit: cover;
}
.sign2,
.three-signs {
  position: absolute;
  top: 10.875rem;
  left: 4.75rem;
  width: 17.938rem;
  height: 17.75rem;
}
.three-signs {
  top: 49.438rem;
  left: 6.938rem;
  width: 66.25rem;
  height: 28.625rem;
  font-size: var(--font-size-lg);
}
.we-serve-as {
  margin: 0;
}
.on-your-way,
.we-serve-as {
  font-weight: 300;
}
.solution-tailored-to {
  font-weight: 500;
  font-family: var(--font-roboto);
  color: #006a8e;
}
.on-your-way-to-digital-success {
  margin: 0;
}
.we-serve-as-container1 {
  width: 100%;
}
.we-serve-as-container {
  position: absolute;
  top: 1.313rem;
  left: 0;
  display: flex;
  align-items: center;
  width: 51rem;
  height: 8.938rem;
}
.simplify-company-processes-container {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 3.125rem;
  font-weight: 300;
  color: var(--color-midnightblue);
}
.text-simplify {
  position: absolute;
  top: 85.875rem;
  left: 2.188rem;
  width: 59.125rem;
  height: 10.25rem;
  text-align: left;
  font-size: var(--font-size-mid);
}
.card-low-code-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-mid);
  width: 19.188rem;
  height: 19.375rem;
}
.image-21-icon {
  position: absolute;
  top: 1.438rem;
  left: 1.375rem;
  width: 16.5rem;
  height: 5.625rem;
  object-fit: cover;
}
.offering-personalized-solution {
  font-weight: 500;
}
.create-and-build-container,
.rapid-low-code-apps {
  position: absolute;
  top: 10.813rem;
  left: 1.25rem;
  display: flex;
  align-items: center;
  width: 16.625rem;
  height: 7.75rem;
}
.rapid-low-code-apps {
  top: 8.125rem;
  left: 1.375rem;
  font-size: var(--font-size-11xl);
  font-family: var(--font-alegreya-sans);
  justify-content: center;
  width: 16.438rem;
  height: 2rem;
}
.card-low-code {
  position: absolute;
  top: 0;
  left: 22.5rem;
  width: 19.188rem;
  height: 19.375rem;
  font-size: var(--font-size-base);
  font-family: var(--font-roboto);
}
.cloud-migration {
  position: absolute;
  top: 8.313rem;
  left: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 13.938rem;
  height: 1.813rem;
}
.leverage-the-expertise-container {
  position: absolute;
  top: 11.375rem;
  left: 1.313rem;
  font-size: var(--font-size-base);
  display: flex;
  align-items: center;
  width: 16.875rem;
  height: 6.188rem;
  font-family: var(--font-roboto);
}
.image-28-icon {
  position: absolute;
  top: 1.438rem;
  left: 1.313rem;
  width: 16.619rem;
  height: 5.625rem;
  object-fit: cover;
}
.card-cloud {
  position: absolute;
  top: 0;
  left: 45rem;
  width: 19.188rem;
  height: 19.375rem;
}
.image-23-icon {
  position: absolute;
  top: 1.438rem;
  left: 1.438rem;
  border-radius: 9px;
  width: 16.375rem;
  height: 5.625rem;
  object-fit: cover;
}
.providing-all-the,
.to-streamline-processes {
  font-weight: 500;
  font-family: var(--font-roboto);
}
.to-streamline-processes {
  font-weight: 300;
}
.the-lymtech-team-container {
  position: absolute;
  top: 11.5rem;
  left: 0.813rem;
  font-size: var(--font-size-base);
  display: flex;
  align-items: center;
  width: 17.688rem;
  height: 6.25rem;
  font-family: var(--font-roboto);
}
.integrated-team,
.text {
  position: absolute;
  display: flex;
  align-items: center;
  width: 16.438rem;
}
.text {
  top: 9.25rem;
  left: 1.438rem;
  text-align: left;
}
.integrated-team {
  top: 8.125rem;
  left: 1.375rem;
  justify-content: center;
}
.image-29-icon {
  position: absolute;
  top: 1.438rem;
  left: 1.438rem;
  width: 16.375rem;
  height: 5.625rem;
  object-fit: cover;
}
.all-cards,
.card-integrated {
  position: absolute;
  height: 19.375rem;
}
.card-integrated {
  top: 0;
  left: 0;
  width: 19.188rem;
}
.all-cards {
  top: 98.875rem;
  left: 8rem;
  width: 64.188rem;
  font-size: var(--font-size-11xl);
  font-family: var(--font-alegreya-sans);
}
.infografico-erp-1-icon {
  position: absolute;
  top: 129.75rem;
  left: 16.625rem;
  width: 50rem;
  height: 50.606rem;
  object-fit: cover;
}
.expertise-plataforms-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f0faff;
  width: 79.875rem;
  height: 69.375rem;
}
.expertise-in-the-container {
  position: absolute;
  top: 2.938rem;
  left: 15.688rem;
}
.image-98-icon,
.image-99-icon {
  position: absolute;
  object-fit: cover;
}
.image-98-icon {
  top: 0;
  left: 1.563rem;
  width: 6.5rem;
  height: 6.75rem;
}
.image-99-icon {
  top: 1.125rem;
  left: 11.938rem;
  width: 13.938rem;
  height: 3.375rem;
}
.image-100-icon,
.image-101-icon,
.image-102-icon {
  position: absolute;
  top: 0.188rem;
  left: 26.75rem;
  width: 10.375rem;
  height: 6.063rem;
  object-fit: cover;
}
.image-101-icon,
.image-102-icon {
  top: 10.688rem;
  left: 1.313rem;
  width: 6.938rem;
  height: 7.25rem;
}
.image-102-icon {
  top: 8.438rem;
  left: 27.688rem;
  width: 10.375rem;
  height: 10.813rem;
}
.image-removebg-preview-1-13,
.image-removebg-preview-1-14,
.image-removebg-preview-1-15 {
  position: absolute;
  top: 1.125rem;
  left: 40.375rem;
  width: 5rem;
  height: 4.625rem;
  object-fit: cover;
}
.image-removebg-preview-1-14,
.image-removebg-preview-1-15 {
  top: 1.063rem;
  left: 52.563rem;
}
.image-removebg-preview-1-15 {
  left: 46.375rem;
  width: 5.563rem;
}
.image-103-icon,
.image-removebg-preview-6-icon {
  position: absolute;
  top: 11.5rem;
  left: 43.5rem;
  width: 11.563rem;
  height: 6.375rem;
  object-fit: cover;
}
.image-103-icon {
  top: 24.438rem;
  left: 1.75rem;
  width: 8.125rem;
  height: 5.125rem;
}
.image-removebg-preview-3-6,
.image-removebg-preview-4-6 {
  position: absolute;
  top: 21.438rem;
  left: 14.75rem;
  width: 8.688rem;
  height: 9rem;
  object-fit: cover;
}
.image-removebg-preview-4-6 {
  top: 23.063rem;
  left: 30.438rem;
  width: 6.938rem;
  height: 7.188rem;
}
.bonita,
.python {
  font-size: var(--font-size-lg);
  height: 1.313rem;
}
.bonita {
  position: absolute;
  top: 7.125rem;
  left: 3rem;
  font-weight: 200;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.75rem;
}
.python {
  top: 18.25rem;
  left: 15.938rem;
  width: 6rem;
}
.css,
.html,
.javascript,
.kubernet,
.python {
  position: absolute;
  font-weight: 200;
  display: flex;
  align-items: center;
  justify-content: center;
}
.kubernet {
  top: 18.25rem;
  left: 1.813rem;
  font-size: var(--font-size-lg);
  width: 6rem;
  height: 1.25rem;
}
.css,
.html,
.javascript {
  top: 6.375rem;
  left: 40.875rem;
  width: 2.625rem;
  height: 1.188rem;
}
.html,
.javascript {
  top: 6.5rem;
  left: 52.563rem;
  width: 6.563rem;
}
.html {
  left: 47.375rem;
  width: 3.188rem;
}
.image-removebg-preview-5-6 {
  position: absolute;
  top: 34.813rem;
  left: 0;
  width: 11.25rem;
  height: 5.619rem;
  object-fit: cover;
}
.image-104-icon {
  position: absolute;
  top: 35.688rem;
  left: 28.125rem;
  width: 10.625rem;
  height: 3.531rem;
  object-fit: cover;
}
.image-105-icon,
.image-removebg-preview-6-6 {
  position: absolute;
  top: 33.875rem;
  left: 44.063rem;
  width: 11.25rem;
  height: 7.138rem;
  object-fit: cover;
}
.image-removebg-preview-6-6 {
  top: 33.5rem;
  left: 15.375rem;
  width: 8.125rem;
  height: 8.863rem;
}
.image-106-icon,
.image-removebg-preview-7-6,
.image-removebg-preview-8-6 {
  position: absolute;
  top: 44.813rem;
  left: 0.313rem;
  width: 10.625rem;
  height: 8.263rem;
  object-fit: cover;
}
.image-106-icon,
.image-removebg-preview-8-6 {
  left: 15.813rem;
  width: 6.25rem;
  height: 6.25rem;
}
.image-removebg-preview-8-6 {
  top: 41.938rem;
  left: 26.563rem;
  width: 13.75rem;
  height: 13.75rem;
}
.image-107-icon,
.image-108-icon,
.image-109-icon {
  position: absolute;
  top: 45.188rem;
  left: 44.813rem;
  width: 9.063rem;
  height: 5.938rem;
  object-fit: cover;
}
.image-108-icon,
.image-109-icon {
  top: 24.688rem;
  left: 42.563rem;
  width: 12.5rem;
  height: 3.994rem;
}
.image-109-icon {
  top: 10.375rem;
  left: 15.188rem;
  width: 7.5rem;
  height: 8.244rem;
}
.logos-plataformas {
  position: absolute;
  top: 11.875rem;
  left: 11.625rem;
  width: 59.125rem;
  height: 55.688rem;
  font-size: var(--font-size-mid);
  color: var(--color-black);
}
.expertise-plataforms {
  position: absolute;
  top: 187.688rem;
  left: 0.188rem;
  width: 79.875rem;
  height: 69.375rem;
  font-size: 2.813rem;
  color: var(--color-midnightblue);
}
.erp2 {
  position: absolute;
  top: 6.125rem;
  left: 0.25rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 9.25rem;
  height: 4rem;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.17);
}
.button-erp-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-brown);
  border: 2px solid var(--color-deepskyblue);
  box-sizing: border-box;
  width: 9.563rem;
  height: 2.25rem;
}
.learn-more {
  position: absolute;
  top: 0.5rem;
  left: 1.063rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6.375rem;
  height: 1.25rem;
}
.button-erp-item {
  position: absolute;
  top: 1.25rem;
  left: 7.938rem;
  max-height: 100%;
  width: 0.625rem;
}
.button-erp {
  position: absolute;
  top: 10.25rem;
  left: 0;
  width: 9.563rem;
  height: 2.25rem;
  color: var(--color-steelblue-100);
}
.erp-card-child {
  position: absolute;
  top: 0;
  left: 1.75rem;
  width: 6.5rem;
  height: 6.5rem;
  object-fit: cover;
}
.erp-card {
  position: absolute;
  top: 0.563rem;
  left: 11.563rem;
  width: 9.563rem;
  height: 12.5rem;
}
.scale-and-augment {
  position: absolute;
  top: 6.5rem;
  left: 0;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 9.25rem;
  height: 4rem;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.17);
}
.button-scale-child {
  position: absolute;
  top: 1.125rem;
  left: 8rem;
  max-height: 100%;
  width: 0.625rem;
}
.learn-more1 {
  position: absolute;
  top: 0.438rem;
  left: 0.938rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6.375rem;
  height: 1.25rem;
}
.button-scale {
  position: absolute;
  top: 10.625rem;
  left: 0;
  width: 9.563rem;
  height: 2.25rem;
  color: var(--color-steelblue-100);
}
.scale-card-child {
  position: absolute;
  top: 0;
  left: 1.5rem;
  width: 6.5rem;
  height: 6.5rem;
  object-fit: cover;
}
.scale-card {
  position: absolute;
  top: 0.188rem;
  left: 58.75rem;
  width: 9.563rem;
  height: 12.875rem;
}
.automatic-reconciliations {
  position: absolute;
  top: 6.688rem;
  left: 0;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 9.25rem;
  height: 4rem;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.17);
}
.button-automatic-item {
  position: absolute;
  top: 1.25rem;
  left: 7.969rem;
  max-height: 100%;
  width: 0.625rem;
}
.button-automatic {
  position: absolute;
  top: 10.813rem;
  left: 0;
  width: 9.563rem;
  height: 2.25rem;
  color: var(--color-steelblue-100);
}
.automatic-card {
  position: absolute;
  top: 0;
  left: 35.125rem;
  width: 9.563rem;
  height: 13.063rem;
}
.button-bpms-child {
  position: absolute;
  top: 1.063rem;
  left: 8.063rem;
  max-height: 100%;
  width: 0.625rem;
}
.button-bpms {
  position: absolute;
  top: 10.75rem;
  left: 0;
  width: 9.563rem;
  height: 2.25rem;
}
.bpms-consultancy-txt-container {
  line-break: anywhere;
  width: 100%;
}
.bpms-consultancy {
  position: absolute;
  top: 6.75rem;
  left: 0.313rem;
  font-weight: 500;
  color: var(--color-black);
  display: flex;
  align-items: center;
  width: 9.25rem;
  height: 4rem;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.17);
}
.image-142-icon {
  position: absolute;
  top: 0;
  left: 1.563rem;
  width: 6.5rem;
  height: 6.5rem;
  object-fit: cover;
}
.bpms-card {
  position: absolute;
  top: 0.063rem;
  left: 0;
  width: 9.563rem;
  height: 13rem;
  color: var(--color-steelblue-100);
}
.custom-development {
  position: absolute;
  top: 6.313rem;
  left: 0;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 9.25rem;
  height: 4rem;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.17);
}
.custom-card-child {
  position: absolute;
  top: 0;
  left: 1.375rem;
  width: 6.5rem;
  height: 6.5rem;
  object-fit: cover;
}
.button-custom-item {
  position: absolute;
  top: 1.125rem;
  left: 7.875rem;
  max-height: 100%;
  width: 0.625rem;
}
.button-custom,
.custom-card {
  position: absolute;
  width: 9.563rem;
}
.button-custom {
  top: 10.313rem;
  left: 0;
  height: 2.25rem;
  color: var(--color-steelblue-100);
}
.custom-card {
  top: 0.5rem;
  left: 23.125rem;
  height: 12.563rem;
}
.button-support-item {
  position: absolute;
  top: 1.125rem;
  left: 7.813rem;
  max-height: 100%;
  width: 0.625rem;
}
.button-support,
.support-card {
  position: absolute;
  width: 9.563rem;
}
.button-support {
  top: 10.688rem;
  left: 0;
  height: 2.25rem;
  color: var(--color-steelblue-100);
}
.support-card {
  top: 0.125rem;
  left: 47.063rem;
  height: 12.938rem;
}
.cards-assign {
  position: absolute;
  top: 7.188rem;
  left: 0;
  width: 68.313rem;
  height: 13.063rem;
}
.as-trusted-partners-container {
  position: absolute;
  top: 0;
  left: calc(50% - 469.5px);
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--color-steelblue-100);
  display: flex;
  align-items: center;
  width: 56.375rem;
}
.as-trusted-partners {
  position: absolute;
  top: 260.063rem;
  left: 5.938rem;
  width: 68.313rem;
  height: 20.25rem;
  font-size: var(--font-size-xl);
}
.erp {
  width: 100%;
  position: relative;
  background-color: var(--color-whitesmoke);
  height: 286.813rem;
  overflow: hidden;
  text-align: center;
  font-size: 6rem;
  color: var(--color-black);
  font-family: var(--font-roboto);
}
