body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-istok-web: "Istok Web";
  --font-sansation: Sansation;

  /* font sizes */
  --font-size-11xl: 1.875rem;
  --font-size-5xl: 1.5rem;
  --font-size-lg: 1.125rem;
  --font-size-6xl: 1.563rem;
  --font-size-xl: 1.25rem;
  --font-size-lgi: 1.188rem;

  /* Colors */
  --color-whitesmoke: #f8f8f8;
  --color-midnightblue: #350042;
  --color-white: #fff;
  --color-deepskyblue-100: #02a9e7;
  --color-black: #000;
  --color-blue: #5921fb;

  /* Gaps */
  --gap-xl: 1.25rem;

  /* Paddings */
  --padding-4xl: 1.437rem;
  --padding-xl: 1.25rem;
  --padding-69xl: 5.5rem;
  --padding-38xl: 3.562rem;
  --padding-29xl: 3rem;
  --padding-37xl: 3.5rem;
}
