:root {
  /* fonts */
  --font-roboto: Roboto;
  --font-poppins: Poppins;
  --font-istok-web: "Istok Web";
  --font-sansation: Sansation;

  /* font sizes */
  --font-size-21xl: 2.5rem;
  --font-size-5xl: 1.5rem;
  --font-size-13xl: 2rem;
  --font-size-31xl: 3.125rem;
  --font-size-11xl: 1.875rem;
  --font-size-xl: 1.25rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.125rem;

  /* Colors */
  --color-whitesmoke: #f8f8f8;
  --color-aliceblue: #f0faff;
  --color-gray: #818181;
  --color-black: #000;
  --color-steelblue: #0079a4;
  --color-deepskyblue-100: #1cc2ff;
  --color-deepskyblue-200: #02a9e7;
  --color-brown: rgba(140, 33, 33, 0);
  --color-indianred: rgba(179, 71, 71, 0);
  --color-white: #fff;

  /* Gaps */
  --gap-base: 1rem;
  --gap-14xl: 2.062rem;
  --gap-3xl: 1.375rem;
  --gap-mini: 0.937rem;
  --gap-mid: 1.062rem;
  --gap-lg: 1.125rem;
  --gap-5xs: 0.5rem;
  --gap-16xl: 2.187rem;
  --gap-71xl: 5.625rem;
  --gap-26xl: 2.812rem;

  /* Paddings */
  --padding-xl: 1.25rem;
  --padding-27xl: 2.875rem;
  --padding-19xl: 2.375rem;
  --padding-39xl: 3.625rem;
  --padding-12xs: 0.062rem;
  --padding-10xs: 0.187rem;
  --padding-7xl: 1.625rem;
  --padding-4xl: 1.437rem;
  --padding-3xl: 1.375rem;
  --padding-11xs: 0.125rem;
  --padding-59xl: 4.875rem;
  --padding-58xl: 4.812rem;
  --padding-32xl: 3.187rem;
  --padding-31xl: 3.125rem;
  --padding-9xs: 0.25rem;
  --padding-smi: 0.812rem;
  --padding-7xs: 0.375rem;
  --padding-11xs-6: 0.1rem;
  --padding-5xl: 1.5rem;
  --padding-sm: 0.875rem;
  --padding-mini: 0.937rem;
  --padding-6xl: 1.562rem;
  --padding-8xs: 0.312rem;
  --padding-75xl: 5.875rem;
  --padding-86xl: 6.562rem;
  --padding-55xl: 4.625rem;
  --padding-97xl: 7.25rem;
  --padding-29xl: 3rem;
  --padding-10xl: 1.812rem;
  --padding-122xl: 8.812rem;
  --padding-73xl: 5.75rem;
  --padding-11xl: 1.875rem;
  --padding-9xl: 1.75rem;

  /* Border radiuses */
  --br-xl: 20px;
  --br-27xl: 46px;
  --br-120xl: 139px;
}

.conections {
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
}

.conections h1 {
  padding-right: 1.5rem;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  position: relative;
  display: inline-block;
}

.conections h1::after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  width: 40%;
  border-bottom: 0.3rem solid #562bbb;
}

.conections img {
  height: 100%;
  object-fit: contain;
  width: auto;
}
/*------------------------------------------------------------------------------------------------------------------------------------*/
/* ---------------------------------------------Inicio Hero------------------------------------------------ */

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  padding-right: 30%;
  background-image: url("../img/Rectangle\ 176\ \(1\).png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  height: 90vh;
}
.hero-title {
  /* font-size: 2.5rem; */
  font-size: 96px;
  font-family: "Nexa", sans-serif;
  margin-bottom: 1.8rem;
  font-weight: 700;
  animation: fadeIn 5s forwards;
  margin-left: 10%;
}
.hero-subtitle {
  margin-left: 10%;
  font-size: 33px;
  font-family: "Omnes", sans-serif;
  color: #fff;
  width: 25rem;
  margin-bottom: 2.5rem;
  max-width: 80%;
  animation: fadeIn 5s forwards;
  margin-bottom: 4.3rem;

}
.hero-btn {
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
  color: #fff;
  margin-left: 10%;

  /* background: linear-gradient(
    -90deg,
    #5b1ffe,
    #413dd4 50%,
    #12a2f3 99.99%,
    #8467c7
  ); */
  background-color: #5b1ffe;
  border: none;
  border-radius: 3rem;
  cursor: pointer;
  max-width: 50%;
}

.hero-btn a[href] {
  border-radius: inherit;
  padding: 1rem 2rem;
  text-decoration: none;
  color: inherit;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-btn:hover {
  /* background: linear-gradient(to right, #8963f1, #02a3dd); */
  background-color: white;
  color: rgb(91, 31, 254);
}
/* ---------------------------------------------Fim Hero------------------------------------------------ */


/* ---------------------------------------------Inicio Hero 2------------------------------------------------ */

.hero2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  text-align: center;
  font-size: 1.5rem; /* Tamanho de fonte menor */
  color: var(--color-black);
  font-family: var(--font-poppins);
}


.headline {
  margin: 0 1.5rem; /* Espaçamento inferior */
  opacity: 0;
  animation: fadeIn 6s forwards;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}


.hero-image {
  max-width: 89%;
  height: auto; /* Ajuste de altura automático */
  margin: 1.5rem; /* Espaçamento superior */
  /* transform: scale(0.8); */
  /* animation: zoomImage 5s alternate infinite ease-in-out; */
  animation: slideIn 1.8s forwards;

}


@keyframes zoomImage {
  from {
      transform: scale(0.7);
  }
  to {
      transform: scale(0.95);
  }
}

/* Aplicando as animações quando o usuário rolar a página para baixo */
body:not(:hover) .headline {
  opacity: 1;
}

body:not(:hover) .hero-image {
  transform: scale(1);
}
/* ---------------------------------------------Fim Hero 2------------------------------------------------ */


/* ---------------------------------------------Inicio Hero 3------------------------------------------------ */
.the-ideal-day {
  font-size: 2.4rem;
  opacity: 0;
  animation: fadeIn 9s forwards;
}

.start-reconciling-automaticall {
  font-size: 2rem;
  transform: translateY(-20px);
  opacity: 0;
  animation: slideIn 9s forwards;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Aplicar animação apenas quando o usuário rolar */
.start-reconciling-automaticall-section {
  scroll-margin-top: 100vh; /* Isso faz com que a animação comece quando a seção estiver a 100vh da parte superior da janela de visualização */
  scroll-margin-bottom: 100vh; /* Adiciona uma margem inferior de deslocamento */
}

/* Aplicar animação apenas quando o usuário rolar */
.the-ideal-day {
  scroll-margin-top: 100vh; /* Isso faz com que a animação comece quando a seção estiver a 100vh da parte superior da janela de visualização */
  scroll-margin-bottom: 100vh; /* Adiciona uma margem inferior de deslocamento */
}

/* Disable animations if user prefers reduced motion */
@media (prefers-reduced-motion: reduce) {
  .the-ideal-day,
  .start-reconciling-automaticall {
    animation: none !important;

  }
}

.Multi-language {
  font-size: 2rem;
  transform: translateY(-20px);
  opacity: 0;
  animation: slideIn 7s forwards;
}

.hero3-parent {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
  font-family: var(--font-poppins);
  height: 15rem;
  background: linear-gradient(180deg, #311873 0%, rgba(92, 45, 217, 0.9) 96.1%);
}

/* ---------------------------------------------Fim Hero 3------------------------------------------------ */

.grad {
  background: linear-gradient(90deg, #562bbb 0%, #02a8e7 100%);
}
/* ---------------------------------------------Inicio Hero 4------------------------------------------------ */
.damap-pantallas-pasos-8-1024x7-icon {
  width: 29.688rem;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
  z-index: 1;
}

.hero4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 4rem 4.125rem 2rem;
  box-sizing: border-box;
  gap: 2rem;
  max-width: 100%;
  text-align: left;
  font-size: 2rem;
  color: var(--color-black);
  font-family: "Poppins", sans-serif;
}

.highly-complex-reconciliations {
  font-size: 2rem;
  text-align: left;
  font-weight: 600;
  margin-bottom: 2rem; /* Espaço entre a imagem e o texto */
}

.the-platform-provides {
  font-size: 1.5rem;
  text-align: left;
}


/* ---------------------------------------------Inicio Hero 5------------------------------------------------ */
.hero-5 {
  background-color: var(--color-whitesmoke);
  padding: 4rem 2rem;
  box-sizing: border-box;
  max-width: 100%;
  font-size: 2rem;
  color: var(--color-black);
  font-family: "Poppins", sans-serif;
}

.content {
  display: flex;
  flex-direction: row; /* Alinha a imagem à esquerda e o texto à direita */
  align-items: center;
  width: 100%;
}

.text-container {
  text-align: right;
  font-size: 2rem;
  color: var(--color-black);
  margin-left: 2rem; /* Espaço entre a imagem e o texto */
}

.title {
  font-size: 2rem;
  text-align: left;
  font-weight: 600;
  margin-bottom: 2rem; /* Espaço entre a imagem e o texto */

}

.description {
  font-size: 1.5rem;
  text-align: left;
  margin-top: 1rem;
}

.image-computer-2 {
  width: 29.688rem;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  z-index: 1;
  
}

@media (max-width: 768px) {
  .content {
    flex-direction: column; /* Alinha a imagem abaixo do texto em dispositivos móveis */
    text-align: center;
  }

  .text-container {
    font-size: 1.2rem;
    margin-left: 0; /* Remove o espaço entre imagem e texto em dispositivos móveis */
  }

  .title {
    font-size: 1.2rem;
    text-align: center;

  }

  .description {
    font-size: 1.2rem;
    margin-top: 1rem;
  }

  .image-computer-2 {
    max-width: 100%;
    margin-top: 1rem;
  }
}



.slide {
  width: 80%;
}

.carousel {
  margin-left: auto;
  margin-right: auto;
}

#section-empresas h3 {
  font-weight: 700;
}

#section-empresas {
  background-color: #f0faff;
  height: 30rem;
}

.fr-section {
  text-align: center;
  font-size: 18px;
  color: #007b8d;
  font-size: 40px;
  color: var(--color-steelblue);
}

.automatic-discrepancy,
.detection {
  margin: 0;
}
.automatic-discrepancy-detectio {
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.automatic-discrepancy-detectio-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-11xs);
  box-sizing: border-box;
  max-width: 100%;
}
.customer-was-able {
  align-self: stretch;
  height: 6.563rem;
  position: relative;
  font-size: var(--font-size-11xl);
  display: flex;
  align-items: center;
  z-index: 1;
}
.frame-div,
.hero5,
.hero5-inner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-div {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-16xl);
}
.hero6-icon {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
/* -----------------------------------hero 6 css----------------------- */
.hero6 {
  display: flex;
  flex-direction: row; /* Imagem à esquerda, texto à direita */
  align-items: center;
  justify-content: space-between;
  padding: 4rem 2rem;
  box-sizing: border-box;
  max-width: 100%;
  color: var(--color-black);
  font-family: "Poppins", sans-serif;
}

.content {
  display: flex;
  flex-direction: row; /* Alinha a imagem à esquerda e o texto à direita */
  align-items: center;
  width: 100%;
  gap: 2rem; /* Espaço entre a imagem e o texto */
}

.text-container {
  text-align: left;
  font-size: 2rem;
  color: var(--color-black);
}

.attention-to-discrepancies,
.detected-in-seconds {
  font-size: 2rem; /* Tamanho original */
}

.in-just-a {
  font-size: 1.5rem;
  text-align: left;
}

.image-computer-2 {
  width: 29.688rem;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  z-index: 1;
}

@media (max-width: 768px) {
  .hero6 {
  display: flex;
  flex-direction: column; /* Altera o layout para coluna em dispositivos móveis */
  align-items: center; /* Centraliza o conteúdo na horizontal */
  text-align: center; /* Alinha o texto centralmente */
  padding: 4rem 2rem 2rem; /* Ajusta o padding para dispositivos móveis */
  }

  .content {
    flex-direction: column; /* Alinha a imagem abaixo do texto em dispositivos móveis */
    align-items: center;
    gap: 1rem; /* Reduz o espaço entre elementos em dispositivos móveis */
    width: 100%; /* Garante que ocupe toda a largura disponível */

  }

  .text-container {
    font-size: 1.2rem;
    text-align: center; /* Centraliza o texto em dispositivos móveis */
  }
  .attention-to-discrepancies,
  .detected-in-seconds {
    font-size: 1.5rem; /* Reduz o tamanho para dispositivos móveis */
  }
  .attention-to-discrepancies-det {
    font-size: 1.2rem;
  }

  .in-just-a {
    font-size: 1.2rem; /* Smaller size for mobile */
    line-height: 1.1; /* menos espaço entre as linhas no celular */ 
    margin-top: 0.5rem; /* Ajusta o espaço acima do parágrafo em dispositivos móveis */
  }

  .image-computer-2 {
    max-width: 100%;
    margin-top: 1rem; /* Espaço acima da imagem em dispositivos móveis */
  }
}

/* -------------------------fim do hero 6 css--------------------- */
/* .hero6,
.hero7-child {
  position: relative;
  max-width: 100%;
}
.hero6 {
  margin-left: -0.188rem;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-55xl) var(--padding-55xl) 4rem var(--padding-97xl);
  box-sizing: border-box;
  gap: var(--gap-71xl);
  z-index: 2;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: "Poppins";
} */
.hero7-child {
  height: 24.813rem;
  width: 80rem;
  background: linear-gradient(90deg, #562bbb, #02a8e7);
  display: none;
}
.multi-language-multi-source-a-container1 {
  width: 100%;
}

.multi-language-multi-source-a-container {
  height: 2.938rem;
  width: 63.5rem;
  position: relative;
  line-height: 3rem;
  display: flex;
  align-items: center;
  max-width: 100%;
  z-index: 1;
}
.hero8-child {
  width: 79.875rem;
  height: 36.625rem;
  position: relative;
  background-color: var(--color-whitesmoke);
  display: none;
  max-width: 100%;
}
.reconciling-automatically,
.start-saving-time {
  margin: 0;
}
.start-saving-time-container {
  width: 41.938rem;
  position: relative;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.buttonrequestdemo-child {
  height: 2rem;
  width: 25.75rem;
  position: relative;
  border-radius: var(--br-27xl);
  background: linear-gradient(90deg, #9467ff, #01ade9);
  display: none;
  max-width: 100%;
}
.request-demo {
  position: relative;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  color: var(--color-white);
  text-align: center;
  z-index: 1;
}
.buttonrequestdemo {
  cursor: pointer;
  border: 0;
  padding: 1.312rem 4.562rem var(--padding-3xl);
  background-color: transparent;
  border-radius: var(--br-27xl);
  background: linear-gradient(90deg, #9467ff, #01ade9);
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  z-index: 1;
}
.buttonrequestdemo,
.buttonrequestdemo-wrapper,
.hero8 {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.buttonrequestdemo-wrapper {
  width: 41.938rem;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-10xs) 0 0;
}
.hero8 {
  margin-left: -0.063rem;
  margin-bottom: 1.5rem;
  align-self: stretch;
  background-color: var(--color-whitesmoke);
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2.5rem 4.5rem;
  gap: 4.437rem;
  z-index: 4;
  text-align: center;
  font-size: 1.8rem;
  color: var(--color-black);
  font-family: "Poppins";
}
/* Responsive adjustments for screens smaller than 768px */
@media (max-width: 768px) {
  .start-saving-time-container {
    width: 90%; /* Ajusta a largura para 90% do contêiner pai */
    text-align: center; /* Centraliza o texto */
  }

  .start-saving-time {
    margin-top: 1.6rem;
    font-size: 1.2rem; /* Ajusta o tamanho da fonte para melhor legibilidade em telas menores */
  }

  .request-demo {
    font-size: 1rem; /* Ajusta o tamanho da fonte do botão para melhor legibilidade */
  }

  .buttonrequestdemo {
    padding: 1rem 2rem; /* Ajusta o padding do botão */
    width: 90%; /* Ajusta a largura do botão */
  }

  .hero8 {
    padding: 1rem; /* Ajusta o padding da seção */
  }
}
.hero9-child {
  width: 79.813rem;
  height: 29.938rem;
  position: relative;
  display: none;
  max-width: 100%;
}
.as-trusted-partners {
  margin: 0;
}
.as-trusted-partners-container {
  flex: 1;
  position: relative;
  font-weight: 500;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.as-trusted-partners-we-cater-wrapper {
  width: 66rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-58xl);
  box-sizing: border-box;
  max-width: 100%;
}
.image-142-icon {
  height: 6.5rem;
  width: 6.5rem;
  position: relative;
  object-fit: cover;
}
.image-142-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-5xl) 0 var(--padding-xl);
}
.bpms,
.consultancy {
  margin: 0;
}
.bpms-consultancy {
  align-self: stretch;
  position: relative;
  font-weight: 500;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.17);
}
.frame-parent2 {
  width: 9.25rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.25rem;
}
.learn-more {
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 1.25rem;
  font-family: var(--font-roboto);
  color: var(--color-steelblue);
  text-align: center;
  display: inline-block;
  min-width: 6.375rem;
  white-space: nowrap;
  z-index: 2;
}
.button-bpms-child {
  height: 2.25rem;
  width: 9.563rem;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-brown);
  border: 2px solid var(--color-deepskyblue-200);
  box-sizing: border-box;
  display: none;
}
.frame-child {
  width: 0.625rem;
  height: 0.463rem;
  position: relative;
}
.button-bpms-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 0.162rem;
  box-sizing: border-box;
  width: 0.625rem;
  height: 0.625rem;
}
.bpms-card,
.button-bpms {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.button-bpms {
  cursor: pointer;
  border: 2px solid var(--color-deepskyblue-200);
  padding: var(--padding-9xs) 0.75rem var(--padding-7xs) var(--padding-smi);
  background-color: var(--color-brown);
  align-self: stretch;
  border-radius: var(--br-xl);
  flex-direction: row;
  gap: 0.75rem;
  z-index: 1;
}
.bpms-card {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-base);
  min-width: 9.375rem;
  max-width: 9.563rem;
}
.erp {
  flex: 1;
  position: relative;
  font-weight: 500;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.17);
}
.erp-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-12xs) 0 var(--padding-9xs);
}
.button-erp-child {
  height: 2.25rem;
  width: 9.563rem;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-brown);
  border: 2px solid var(--color-deepskyblue-200);
  box-sizing: border-box;
  display: none;
}
.learn-more1 {
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 1.25rem;
  font-family: var(--font-roboto);
  color: var(--color-steelblue);
  text-align: center;
  display: inline-block;
  min-width: 6.375rem;
  z-index: 1;
}
.button-erp-item {
  height: 0.463rem;
  width: 0.625rem;
  position: relative;
  z-index: 1;
}
.button-erp,
.frame-parent3 {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.button-erp {
  cursor: pointer;
  border: 2px solid var(--color-deepskyblue-200);
  padding: var(--padding-8xs) var(--padding-sm) var(--padding-8xs)
    var(--padding-mini);
  background-color: var(--color-brown);
  align-self: stretch;
  border-radius: var(--br-xl);
  flex-direction: row;
  gap: var(--gap-5xs);
  white-space: nowrap;
}
.button-automatic:hover,
.button-erp:hover {
  background-color: var(--color-indianred);
  border: 2px solid var(--color-deepskyblue-100);
  box-sizing: border-box;
}
.frame-parent3 {
  position: absolute;
  top: 6.125rem;
  left: 0;
  width: 100%;
  flex-direction: column;
  gap: 2.625rem;
}
.erp-image-icon {
  position: absolute;
  top: 0;
  left: 1.75rem;
  width: 6.5rem;
  height: 6.5rem;
  object-fit: cover;
}
.erp-card {
  height: 12.5rem;
  flex: 1;
  position: relative;
  min-width: 9.375rem;
  max-width: 9.563rem;
}
.custom-development {
  flex: 1;
  position: relative;
  font-weight: 500;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.17);
}
.custom-image-icon {
  height: 6.5rem;
  width: 6.5rem;
  position: absolute;
  margin: 0 !important;
  top: -6.312rem;
  left: calc(50% - 52px);
  object-fit: cover;
  z-index: 1;
}
.custom-development-parent {
  width: 9.25rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.button-custom-child {
  height: 2.25rem;
  width: 9.563rem;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-brown);
  border: 2px solid var(--color-deepskyblue-200);
  box-sizing: border-box;
  display: none;
}
.frame-item,
.learn-more2 {
  position: relative;
  z-index: 1;
}
.learn-more2 {
  font-size: var(--font-size-xl);
  line-height: 1.25rem;
  font-family: var(--font-roboto);
  color: var(--color-steelblue);
  text-align: center;
  display: inline-block;
  min-width: 6.375rem;
  white-space: nowrap;
}
.frame-item {
  width: 0.625rem;
  height: 0.463rem;
}
.button-custom-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-11xs-6);
}
.button-custom {
  cursor: pointer;
  border: 2px solid var(--color-deepskyblue-200);
  padding: var(--padding-9xs) var(--padding-smi) var(--padding-7xs)
    var(--padding-mini);
  background-color: var(--color-brown);
  align-self: stretch;
  border-radius: var(--br-xl);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 0.562rem;
}
.custom-card,
.custom-card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.custom-card {
  align-self: stretch;
  justify-content: flex-end;
  padding: 6.312rem 0 0;
  gap: var(--gap-base);
}
.custom-card-wrapper {
  flex: 0.9563;
  justify-content: flex-start;
  padding: 0 0.437rem 0 0;
  box-sizing: border-box;
  min-width: 9.813rem;
  max-width: 10rem;
}
.automatic-image-icon {
  height: 6.5rem;
  width: 6.5rem;
  position: relative;
  object-fit: cover;
}
.automatic-image-wrapper {
  cursor: pointer;
  border: 0;
  padding: 0 var(--padding-6xl) 0 var(--padding-5xl);
  background-color: transparent;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.automatic-reconciliations2 {
  width: 9.25rem;
  position: relative;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.17);
}
.button-automatic-child {
  height: 2.25rem;
  width: 9.563rem;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-brown);
  border: 2px solid var(--color-deepskyblue-200);
  box-sizing: border-box;
  display: none;
}
.learn-more3 {
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 1.25rem;
  font-family: var(--font-roboto);
  color: var(--color-steelblue);
  text-align: center;
  display: inline-block;
  min-width: 6.375rem;
  z-index: 1;
}
.button-automatic-item {
  height: 0.463rem;
  width: 0.625rem;
  position: relative;
  z-index: 1;
}
.button-automatic {
  cursor: pointer;
  border: 2px solid var(--color-deepskyblue-200);
  padding: var(--padding-9xs) 0.687rem var(--padding-7xs) var(--padding-mini);
  background-color: var(--color-brown);
  align-self: stretch;
  border-radius: var(--br-xl);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 0.656rem;
  white-space: nowrap;
}
.automatic-reconciliations-parent {
  align-self: stretch;
  gap: var(--gap-lg);
}
.automatic-card,
.automatic-card-wrapper,
.automatic-reconciliations-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.automatic-card {
  align-self: stretch;
  gap: 0.187rem;
}
.automatic-card-wrapper {
  flex: 0.9623;
  padding: 0 var(--padding-7xs) 0 0;
  box-sizing: border-box;
  min-width: 9.75rem;
  max-width: 9.938rem;
}
.support-image-icon {
  height: 6.5rem;
  width: 6.5rem;
  position: relative;
  object-fit: cover;
}
.support-image-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xl);
}
.support-and-training {
  align-self: stretch;
  position: relative;
  font-weight: 500;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.17);
}
.frame-parent4 {
  width: 9.25rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.button-support-child {
  height: 2.25rem;
  width: 9.563rem;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-brown);
  border: 2px solid var(--color-deepskyblue-200);
  box-sizing: border-box;
  display: none;
}
.frame-inner,
.learn-more4 {
  position: relative;
  z-index: 1;
}
.learn-more4 {
  font-size: var(--font-size-xl);
  line-height: 1.25rem;
  font-family: var(--font-roboto);
  color: var(--color-steelblue);
  text-align: center;
  display: inline-block;
  min-width: 6.375rem;
  white-space: nowrap;
}
.frame-inner {
  width: 0.625rem;
  height: 0.463rem;
}
.button-support-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-11xs-6);
}
.button-support,
.support-card {
  display: flex;
  justify-content: flex-start;
}
.button-support {
  cursor: pointer;
  border: 2px solid var(--color-deepskyblue-200);
  padding: var(--padding-9xs) var(--padding-sm) var(--padding-7xs)
    var(--padding-mini);
  background-color: var(--color-brown);
  align-self: stretch;
  border-radius: var(--br-xl);
  flex-direction: row;
  align-items: flex-end;
  gap: var(--gap-5xs);
}
.support-card {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.187rem;
  min-width: 9.375rem;
  max-width: 9.563rem;
}
.rectangle-icon {
  height: 6.5rem;
  width: 6.5rem;
  position: relative;
  object-fit: cover;
}
.rectangle-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-xl) 0 var(--padding-5xl);
}
.scale-and-augment {
  align-self: stretch;
  position: relative;
  font-weight: 500;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.17);
}
.frame-parent5 {
  width: 9.25rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.learn-more5 {
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 1.25rem;
  font-family: var(--font-roboto);
  color: var(--color-steelblue);
  text-align: center;
  display: inline-block;
  min-width: 6.375rem;
  white-space: nowrap;
  z-index: 2;
}
.button-scale-child {
  height: 2.25rem;
  width: 9.563rem;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-brown);
  border: 2px solid var(--color-deepskyblue-200);
  box-sizing: border-box;
  display: none;
}
.arrow-icon {
  width: 0.625rem;
  height: 0.463rem;
  position: relative;
}
.button-scale-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-11xs-6);
}
.button-scale,
.scale-card {
  display: flex;
  justify-content: flex-start;
}
.button-scale {
  cursor: pointer;
  border: 2px solid var(--color-deepskyblue-200);
  padding: var(--padding-9xs) var(--padding-smi) var(--padding-7xs);
  background-color: var(--color-brown);
  align-self: stretch;
  border-radius: var(--br-xl);
  flex-direction: row;
  align-items: flex-end;
  gap: 0.687rem;
  z-index: 1;
}
.scale-card {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-lg);
  min-width: 9.375rem;
  max-width: 9.563rem;
}
.cards-assign {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  padding: 0 var(--padding-11xs) 0 0;
  gap: 2rem;
  z-index: 1;
  font-size: var(--font-size-xl);
  color: var(--color-black);
}
.hero9,
.hero9-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.hero9 {
  flex: 1;
  background-color: var(--color-aliceblue);
  flex-direction: column;
  padding: var(--padding-59xl) 5.687rem var(--padding-58xl);
  gap: 4.187rem;
}
.hero9-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 2.187rem var(--padding-11xs);
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color-steelblue);
  font-family: var(--font-roboto);
}
.damap-clients {
  position: relative;
}
.clients-title-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-3xl) 0 var(--padding-xl);
  flex-shrink: 0;
}
.carrossel-icon {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.clients-container,
.clients-container-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.clients-container {
  flex: 1;
  flex-direction: column;
  gap: 3.9rem;
}
.clients-container-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 1.062rem 4.256rem var(--padding-4xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-31xl);
  color: var(--color-black);
  font-family: var(--font-roboto);
}



/* Media Queries para Responsividade */

/* Para dispositivos de tamanho médio (tablets) */
@media (max-width: 768px) {
  /* RESPONSIVIDADE DO HERO: */
  .hero {
    padding-right: 10%;
    height: 70vh;
  }

  .hero-title {
    font-size: 48px;
  }

  .hero-subtitle {
    max-width: 100%;
  }

  .hero-btn {
    max-width: 100%;
  }

/* RESPONSIVIDADE DO HERO-2: */

  .damap-pantallas-pasos-4-768x54-parent {
    height: auto; /* Ajuste automático da altura */
    max-width: 80%; /* Reduzir a largura máxima */
    margin-top: 20px; /* Adicionar espaço acima */
  }

  .hero2 {
    flex-direction: column; /* Alterar para coluna */
    align-items: center; /* Centralizar o conteúdo */
    justify-content: center; /* Centralizar o conteúdo */
    row-gap: 10px; /* Reduzir o espaço entre os elementos */
  }

  .conections {
    text-align: center; /* Centralizar o texto */
  }

  h1 {
    font-size: 1.8rem; /* Tamanho de fonte menor */
  }

  img {
    max-width: 100%; /* Tornar a imagem responsiva */
    height: auto; /* Ajuste automático da altura */
  }

/* RESPONSIVIDADE DO HERO 3: */
  .hero3-parent {
    text-align: center; /* Centralizar o texto */
    height: auto; /* Ajustar altura automaticamente */
    padding: 2rem; /* Adicionar um pouco de espaço interno */
  }

  .the-ideal-day {
    font-size: 1rem; /* Tamanho de fonte menor */
    margin-bottom: 0.5rem; /* Espaçamento inferior menor */
  }

  .start-reconciling-automaticall {
    font-size: 1.6rem; /* Tamanho de fonte menor */
  }

/* RESPONSIVIDADE DO HERO-4: */
  .hero4 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    text-align: center;
  }

  .highly-complex-reconciliations {
    font-size: 1.2rem; /* tamanho menor no celular */
  }

  .the-platform-provides {
    font-size: 1.2rem; /* Smaller size for mobile */
    line-height: 1.1; /* menos espaço entre as linhas no celular */  

  }

  .damap-pantallas-pasos-8-1024x7-icon {
    width: 100%;
    max-width: 300px;
    margin-top: 1rem;
  }

  /* RESPONSIVIDADE DO HERO-4 white: */

}



/* Para dispositivos de tamanho pequeno (celulares) */
@media (max-width: 480px) {

  /* RESPONSIVIDADE DO HERO: */
  .hero {
    padding: 1rem;
    height: 60vh;
    margin-top: 1rem;

  }

  .hero-title {
    font-size: 49px;
    margin-top: 2rem;

  }

  .hero-subtitle {
    padding-right: 30%;
margin-bottom: 0;
  }

  .hero-btn {
    margin-left: 0;
    margin-bottom: 2rem;
    margin-top: 1rem;
justify-content: center;
    align-self: center;
    align-items: center;
    font-size: 2rem;
  }

  /* RESPONSIVIDADE DO HERO-3: */
  .hero3-parent {
    height: auto; /* Alterado para ajustar a altura automaticamente */
    padding: 2rem; /* Espaçamento interno adicionado */
    text-align: center; /* Texto centralizado */
  }

  .the-ideal-day {
    font-size: 1.8rem; /* Reduzindo o tamanho da fonte */
  }

  .Multi-language {
    font-size: 1.2rem; /* Reduzindo o tamanho da fonte */
  }

}  