@import url("https://fonts.cdnfonts.com/css/sansation");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* START - CONTAINER CONFIG. */
.container {
  width: 72%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

/* END - CONTAINER CONFIG. */

/* START - BANNER */
#section-banner {
  height: 45.5rem;
  width: 100%;
  background-image: url(../img/bonita/banner.png);
  background-position: 90% 55%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.text-banner {
  height: 100%;
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 7rem;
}

.titulo-banner {
  margin: 0;
  font-size: 3rem;
  font-family: "Nexa", sans-serif;
  font-weight: 700;
  color: #fff;
}

.p-banner {
  font-size: 1.5rem;
  font-family: "Omnes", sans-serif;
  color: #fff;
  width: 25rem;
}

.btn-banner {
  font-size: 28px;
  font-family: "Poppins", sans-serif;
  color: #fff;
  text-align: center;
  border: none;
  margin-top: 5.27rem;
  border-radius: 10rem;
  background-color: #5b1ffe;
  width: 19rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn-banner:hover {
  transition-duration: 0.3s;
  background-color: white;
  color: #5b1ffe;
}

/* END - BANNER */

/* START - CONFIG SECTION BPMS */
#section-bonita {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* END - CONFIG SECTION BPMS */

/* START - APRESENT. BPMS */
.apresentacao-bonita {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  gap: 3.7rem;
}

.text-apresentacao {
  width: 95%;
  display: flex;
  margin-top: 5rem;
}

.p-apresentacao {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  margin: 0;
  text-align: center;
}

.bonita-advantagens {
  background-color: #054b64;
  border-radius: 0 5rem 0 5rem;
  width: 100%;
  margin: 3rem 0 3rem 0;
}

.card-holder {
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  text-align: center;
  width: 200px;
}

.card img {
  align-self: center;
  width: 100px;
  height: auto;
}

.card p {
  font-family: "Omnes", sans-serif;
  height: 50%;
  font-size: 16px;
  margin-top: 10px;
}

/* END - APRESENT. BPMS */

/* START - APRESENT. BPMS */
.modeling-align h1 {
  font-family: "Poppins", sans-serif;
  color: #000000;
  text-align: center;
  padding-bottom: 5px;
  border-bottom: 2px solid #5b1ffe;
}

h1 {
  width: 70%;
  font-size: 24px;
  margin: auto;
}

.modeling-content {
  display: flex;
  font-size: 20px;
  margin: 0 auto;
  padding: 20px;
}

.modeling-content .top {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #0079A4;
}

.modeling-content p {
  font-weight: lighter;
}

.modeling-content ul {
  font-weight: lighter;
  list-style: disc;
  margin-left: 20px;
}

.modeling-content li {
  margin-bottom: 10px;
}

.modeling-content div {
  align-content: center;
  width: 60%;
}

.modeling-content img {
  padding: 1%;
  width: 40%;
  border-radius: 60px;
}

.aside {
  background-color: #E1F5FC;
  border-radius: 100px 0 100px 0;
}

/* END - APRESENT. BPMS */

/* START - CAROUSEL */


#carousel .title{
  text-align: center;
  padding-top: 2rem;
  font-family: "Poppins";
  font-size: 25px;
}

.slide-track {
  animation: scroll 65s linear infinite;
  -webkit-animation: scroll 100s linear infinite;
}

.slide-track .slide{
  width: 20%;
}

/* END - ACAROUSEL */

/* start - separator-strip */
.separator-strip {
  height: 8rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #02a9e7, #572abb);
  color: white;
  margin: 2rem 0 2rem 0;
  padding: 0 2rem 0 2rem;
}

.separator-strip h1 {
  font-size: 55px;
  word-spacing: 8px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.separator-strip button {
  width: 15rem;
  height: 4rem;
  background-color: #f8f8f8;
  color: #4742c3;
  border: none;
  font-size: 29px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 1rem;
}

.separator-strip button:hover {
  background-color: transparent;
  border: 2px solid #f8f8f8;
  color: #f8f8f8;
}
/* end - separator-strip */

/* START - EMPHASIS */
#pre-cards {
  padding: 0 0 3rem 0;
  text-align: center;
  width: 80%;
  margin: auto;
}

#pre-cards h1 {
  padding: 1rem;
  font-family: "Poppins";
  font-weight: bold;
  font-size: 30px;
  border-bottom: 2px solid #5b1ffe;
}

#pre-cards h4 {
  font-family: "Omnes", sans-serif;
  font-weight: 300;
  font-size: 25px;
}

/* END - EMPHASIS */

/* START - ADVANTAGES */
.advantage-content {
  display: flex;
  font-size: 20px;
  margin: 0 auto;
  padding: 20px;
}

.advantage-content .top {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #0079A4;
}

.advantage-content p {
  font-weight: lighter;
}

.advantage-content ul {
  font-weight: lighter;
  list-style: disc;
  margin-left: 20px;
}

.advantage-content li {
  margin-bottom: 10px;
}

.advantage-content div {
  align-content: center;
  width: 60%;
}

.advantage-content img {
  padding: 1%;
  width: 40%;
  border-radius: 200px;
}

/* END - ADVANTAGES */

/* STRART STEP-BY-STEP */

#step-by-step {
  padding: 3rem 0 3rem 0;
}

.step-align h1 {
  font-family: "Poppins", sans-serif;
  color: #000000;
  text-align: center;
  padding-bottom: 

5px;
  border-bottom: 2px solid #5b1ffe;
}

.step-align h5 {
  font-family: "Omnes",sans-serif;
}

h1 {
  width: 70%;
  font-size: 40px;
  margin: auto;
}

.step-content {
  display: flex;
  font-size: 20px;
  justify-content: center;
  padding: 20px;
}

.step-content ul {
  font-weight: lighter;
  list-style: disc;
  margin-left: 20px;
}

.step-content li {
  margin-bottom: 10px;
}

.step-content div {
  align-content: center;
  width: 40%;
}

.step-content img {
  border-radius: 200px;
  padding: 1%;
  width: 30%;
}

.aside {
  background-color: #E1F5FC;
  border-radius: 100px 0 100px 0;
}

.step-button {
  width: 30%;
  margin: auto;
}

.step-button button {
  width: 100%;
  height: 77px;
  border-radius: 140px;
  font-family: "Poppins";
  font-size: 28px;
  font-weight: bold;
  color: #f8f8f8;
  background: linear-gradient(-90deg, #5B1FFE, #413DD4, #8467C7);
  border-color: transparent;
}

.step-button button:hover {
  background: linear-gradient(-90deg, #511ddf, #3c37bd);
  color: #ffffff;
}

/* END STEP-BY-STEP */

/* START SUSTAINABLE-DELIVERY */
#sustainable-delivery {
  padding-top: 3rem;
}

.separator {
  padding: 3rem 0 3rem 0;
  align-content: center;
  text-align: center;
  justify-content: center;
  color: #f8f8f8;
  background: linear-gradient(#572ABB, #02A9E7);
}

.separator h1 {
  font-family: "Poppins", sans-serif;
  width: 50%;
  padding-bottom: 5px;
  border-bottom: 2px solid #f8f8f8;
}

.separator h5 {
  font-family: "Omnes", sans-serif;
  width: 60%;
  margin: auto;
}

/* END SUSTAINABLE-DELIVERY */

/* START BONITA-DETAILS */
#bonita-details {
  padding: 3rem 0 3rem 0;
}

#bonita-details h1 {
  font-family: "Poppins", sans-serif;
  width: 80%;
  text-align: center;
  font-size: 28px;
  color: #0079A4;
}

.details {
  width: 80%;
  padding-top: 1rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.details ul {
  font-family: "Omnes", sans-serif;
  list-style: disc;
}

/* END BONITA-DETAILS */

/* STRART INCREASE */

#increase {
  padding: 3rem 0 3rem 0;
  background-color: #E1F5FC;
}

.increase-align h1 {
  font-family: "Poppins",sans-serif;
  color: #000000;
  text-align: center;
  padding-bottom: 5px;
  border-bottom: 2px solid #5b1ffe;
}

.increase-align h1 {
  width: 70%;
  font-size: 40px;
  margin: auto;
}

.increase-content {
  display: flex;
  font-size: 20px;
  justify-content: center;
  padding: 20px;
}

.increase-content div {
  align-content: center;
  width: 40%;
}

.increase-content img {
  border-radius: 200px;
  padding: 1%;
  width: 30%;
}

/* END INCREASE */

/* MEDIA QUERIES */
@media (max-width: 768px) {
  /* START - BANNER */
  #section-banner {
    height: auto;
    padding: 2rem;
  }

  .titulo-banner {
    font-size: 55px;
    font-weight: unset;
  }

  .text-banner{
    padding: 0;
  }

  .p-banner {
    width: 70%;
    font-size: 14px;
  }

  .btn-banner {
    font-size: 4vw;
    width: 50vw;
    height:3rem;
    margin-top:1rem;
  }

  /* END - BANNER */

  /* START - APRESENTACAO BONITA */
  .p-apresentacao{
    margin:0;
  }
  .p-apresentacao{
    font-size: 14px;
  }

  .text-apresentacao {
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
  }

  /* END - APRESENTACAO BONITA */

  /* START - BONITA ADVANTAGES */

  .bonita-advantagens{
    border-radius: 0;
    padding: 2rem 0 2rem 0;
  }

  .card-holder {
    flex-direction: column;
    align-items: center;
  }

  .bonita-advantagens .card{
    width: 50%;
  }

  .card img{
    width: 50%;
  }

  .card p{
    font-size: 3vw;
  }
  
  /* END - BONITA ADVANTAGES */

  /* START - BONITA MODELING */
  .modeling-content, .advantage-content, .step-content, .increase-content {
    flex-direction: column;
    align-items: center;
    padding: 2rem 0 2rem 0;
  }

  .aside{
    border-radius: 0;
  }

  .modeling-content div, .advantage-content div, .step-content div, .increase-content div {
    width: 100%;
    padding: 0 1rem;
  }

  .modeling-content img, .advantage-content img, .step-content img, .increase-content img {
    width: 100%;
    border-radius: 5rem 0 5rem 0;
  }

  .modeling-content .top{
    font-size: 16px;
  }

  .modeling-content p, .modeling-content li{
    font-size: 14px;
  }

  /* END - BONITA MODELING */
  
  .details {
    flex-direction: column;
    align-items: center;
  }

  #pre-cards h1 {
    font-size: 20px;
    width: 100%;
  }

  #pre-cards h4 {
    font-size: 18px;
  }

  .step-button {
    width: 80%;
  }

  .step-button button {
    font-size: 24px;
  }

  .separator h1 {
    width: 80%;
    font-size: 28px;
  }

  .separator h5 {
    width: 90%;
  }

  /* START - SEPARATOR-STRIP */

  .separator-strip{
    height: 10rem;
    display: block;
    text-align: center;
    align-content: center;
  }

  .separator-strip h1 {
    font-size: 25px;
  }

  .separator-strip button {
    font-size: 18px;
    white-space:nowrap;
    height: 2.5rem;
  }

  /* END - SEPARATOR-STRIP */

  #carousel .title{
    font-size: 25px;
  }

  .advantage-content .top{
    font-size: 16px;
  }

  .advantage-content p, .advantage-content li{
    font-size: 14px;
  }

  /* START - DETAILS */
  #bonita-details h1{
    font-size: 25px;
  }

  .details{
    width: 90%;
  }

  .details img{
    width: 100%;
  }
    /* END - DETAILS */

    /* START - DETAILS */

    .increase-align h1{
      font-size: 25px;
    }
    .increase-content li{
      font-size: 14px;
    }
    /* END - DETAILS */

}