@import url("https://fonts.cdnfonts.com/css/sansation");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.cdnfonts.com/css/nexa-bold?styles=29919,29913");
@import url("https://fonts.cdnfonts.com/css/omnes-2");

/* start -pg config */
:root {
  font-size: 16px;
}

.text-header-btn a {
  text-decoration: none;
  color: inherit;
}

html {
  scroll-behavior: smooth;
}

::marker {
  color: #4742c3;
  list-style: disc;
  font-size: 2rem;
}
/*  end - g config */

/* START - CONTAINER CONFIG. */
.container {
  width: 72%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

/* END - CONTAINER CONFIG. */

/* START - BANNER */
#section-banner {
  height: 45.5rem;
  width: 100%;
  background-image: url(../img/img-bpms/banner.png);
  background-size: cover;
  display: flex;
  flex-flow: column nowrap;

  align-items: flex-start;
  justify-content: center;
}

.text-banner {
  padding: 0 0 0 6rem;
  display: flex;
  flex-flow: column nowrap;
  width: 50%;
}

.titulo-banner {
  margin: 0;
  font-size: 4rem;
  font-family: "Nexa", sans-serif;
  font-weight: 700;
  width: 80%;
  color: #fff;
}

.p-banner {
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  color: #fff;
  width: 25rem;
}

.btn-banner {
  font-size: 1.7rem;
  font-family: "Poppins", sans-serif;
  color: #fff;
  text-align: center;
  border: none;
  margin-top: 5.27rem;
  border-radius: 10rem;
  background-color: #5b1ffe;
  padding: 1rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  width: max-content;
  height: max-content;
}

.btn-banner:hover {
  transition-duration: 0.3s;
  background-color: white;
  color: #5b1ffe;
}
/* END - BANNER */

/* START - CONFIG SECTION BPMS */
#section-bpms {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* END - CONFIG SECTION BPMS */

/* START - APRESENT. BPMS */
.apresentacao-bpms {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  gap: 3.7rem;
}

.text-apresentacao {
  width: 50%;
  display: flex;
  width: 47rem;
  margin-top: 5rem;
}

.p-apresentacao {
  font-family: "Poppins", sans-serif;
  font-size: 38px;
  margin: 0;
  text-align: center;
}

.imagens-apresentacao {
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.img-apresentacao {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 12rem;
  gap: 1.7rem;
}

.img-apresentacao img {
  width: 7rem;
}

.img-apresentacao p {
  width: 15rem;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  text-align: center;
  font-weight: 300;
}
/* END - APRESENT. BPMS */

/* START - VANT. BPMS */
.vantagens-bpms {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.titulo-vantagens {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  margin-bottom: 5rem;
  text-align: center;
}

.vantagens-bg {
  background-image: url(../img/img-bpms/global.png);
  width: 100%;
  display: inherit;
  flex-direction: inherit;
  flex-wrap: inherit;
}

.div-left,
.div-right {
  display: flex;
  flex-direction: column;
  width: 38rem;
  margin-bottom: 1rem;
}

.div-left p,
.div-right p {
  font-family: "Poppins", sans-serif;
  font-size: 23px;
  font-weight: 300;
}

.div-right h2,
.div-left h2 {
  margin-bottom: 1rem;
  justify-self: flex-start;
  font-family: "Nexa", sans-serif;
  font-weight: 700;
  font-size: 30px;
}

.div-left {
  display: flex;
  border-left: 0.3rem solid #71d6b9;
  align-self: flex-start;
  text-align: start;
  padding-left: 2rem;
}

.div-right {
  display: flex;
  border-right: 0.3rem solid #71d6b9;
  align-self: flex-end;
  text-align: end;
  padding-right: 2rem;
}
/* END - VANT. BPMS */

/* START - FUNC. BPMS */
.funcionamento-bpms {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.titulo-funcionamento {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo-funcionamento h1 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
}

.funcionamento-content {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.funcionamento-content img {
  /* width: 40%; */
  height: auto;
}

.funcionamento-content p {
  width: 100%;
  font-size: 1.2rem;
  font-weight: 300;
  text-align: justify;
  font-family: "Poppins", sans-serif;
}
/* END - FUNC. BPMS */

/* START - INTEGRATION */
#section-integration {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
  margin: 5rem 0;
}

.integration-sys {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: 3rem 0;
}

.text-integration {
  height: auto;
  width: 70%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-bottom: 3rem;
  gap: 1rem;
}

.text-integration .title-int {
  display: flex;
  flex-flow: column-reverse nowrap;
  align-items: center;
  justify-content: space-evenly;

  height: max-content;
  width: 100%;
}

.text-integration .title-int h1 strong {
  color: #05276b;
  align-self: center;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  margin-bottom: 2.5rem;
}

.text-integration .title-int img {
  height: auto;
  width: 30%;
  object-fit: contain;
}

.text-integration p {
  max-width: 100%;
  align-self: center;
  color: #05276b;
  text-align: justify;
  font-family: "Omnes", sans-serif;
  font-size: 1.55rem;
  font-weight: 400;
}

.text-integration ul li {
  font-size: 1.2rem;
  font-family: 'Lato', sans-serif;
  color: #02a9e7;
  font-weight: 300;
}

.btn-integration {
  width: 60%;
  text-decoration: none;
  align-self: center;
  padding: 1rem 4rem;
  background-color: #71d6b9;
  border-radius: 22px;
  border: none;
  color: #05276b;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 1.55rem;
  font-weight: 500;
}

.btn-integration:hover {
  transition-duration: 0.3s;
  color: #71d6b9;
  background-color: #05276b;
}

.int-gallery {
  width: 100%;
  height: max-content;

  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 1.3rem;
  justify-items: center;
  align-items: center;
}

.int-gallery img {
  width: 100%;
  height: auto;

  display: block;
  object-fit: contain;
}
/* END - INTEGRATION */

/* start - SEPARATOR */
.separator-strip {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;

  background: linear-gradient(to right, #02a9e7, #572abb);
  color: white;

  padding: 2rem 1rem;
  height: max-content;
  width: 100%;
  margin-bottom: 5rem;
}

.separator-strip h1 {
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  text-align: center;
}

.separator-strip button {
  background-color: #f8f8f8;
  color: #4742c3;
  border: none;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 1rem;
  padding: 1rem 2rem;
  font-family: "Poppins", sans-serif;
}

.separator-strip button:hover {
  background-color: transparent;
  border: 2px solid #f8f8f8;
  color: #f8f8f8;
}
/* end - SEPARATOR */

/* start - media q */
@media screen and (max-width: 1230px) {
  .int-gallery {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .int-gallery img {
    height: 5rem;
  }
}

@media screen and (max-width: 1260px) {
  .imagens-apresentacao {
    flex-flow: column nowrap;
    align-items: center;
  }

  .img-apresentacao {
    width: 100%;
    margin-bottom: 5rem;
  }

  .img-apresentacao p {
    width: 80%;
    margin: 0;
  }

  .vantagens-bpms {
    margin: 0;
  }

  .separator-strip h1 {
    font-size: 2.3rem;
  }

  .separator-strip button {
    font-size: 1.3rem;
    padding: 0.8rem 1rem;
  }
}

@media screen and (max-width: 892px) {
  .separator-strip {
    flex-flow: column nowrap;
  }

  .text-integration .title-int img {
    width: 50%;
  }

  .text-integration a {
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .apresentacao-bpms {
    align-items: center;
    text-align: center;
  }

  .text-apresentacao {
    width: 80%;
    margin-top: 2rem;
  }

  .p-apresentacao {
    font-size: 24px;
    text-align: center;
    width: 100%;
  }

  .imagens-apresentacao {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .img-apresentacao {
    width: 70%;
  }

  .img-apresentacao img {
    width: 50%;
    margin-bottom: 1rem;
  }

  .img-apresentacao p {
    font-size: 16px;
    text-align: center;
    width: 100%;
  }

  .titulo-vantagens {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .vantagens-bg img {
    max-width: 50%;
    margin-top: -5rem;
  }

  .div-left,
  .div-right {
    width: 80%;
    margin-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .div-left {
    align-self: flex-start;
    text-align: start;
    border-left: 0.3rem solid #71d6b9;
  }

  .div-right {
    align-self: flex-end;
    text-align: end;
    border-right: 0.3rem solid #71d6b9;
  }

  .div-left p,
  .div-right p {
    font-size: 18px;
  }

  .div-right h2,
  .div-left h2 {
    font-size: 24px;
  }

  .titulo-funcionamento {
    font-size: 32px;
  }

  .titulo-funcionamento h1 {
    margin: 0;
  }

  .funcionamento-content {
    flex-direction: column;
    align-items: center;
  }

  .funcionamento-content img {
    max-width: 100%;
    margin-bottom: 1rem;
  }

  .text-integration {
    width: 90%;
  }

  .text-integration .title-int h1 strong {
    flex-direction: column;
    font-size: 1.5rem;
  }

  .text-integration p {
    font-size: 1.4rem;
    padding: 0;
    margin: 0;
  }

  .btn-integration {
    align-self: center;
    font-size: 20px;
    padding: 0.5rem 2rem;
  }

  #section-banner {
    height: auto;
    padding: 4rem 2rem;
    align-items: center;
  }

  .text-banner {
    margin-left: 0;
    padding: 0;
    text-align: center;
    width: 100%;
  }

  .titulo-banner {
    font-size: 48px;
    width: 100%;
    margin-bottom: 1.5rem;
  }

  .p-banner {
    font-size: 18px;
    width: auto;
    margin: 0 auto;
  }

  .btn-banner {
    margin-top: 1.5rem;
    font-size: 1.3rem;
    width: 100%;
  }

  .int-gallery {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }

  .int-gallery img {
    height: auto;
    width: 6rem;
  }
}

@media screen and (max-width: 370px) {
  .titulo-banner {
    font-size: 2rem;
  }

  .p-banner {
    font-size: 1rem;
  }

  .btn-banner {
    font-size: 1rem;
  }
}
/* end - media q */
