@import url("https://fonts.cdnfonts.com/css/sansation");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* START - CONTAINER CONFIG. */
.container {
  width: 72%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
/* END - CONTAINER CONFIG. */

/* START - BANNER */
#section-banner {
  height: 45.5rem;
  width: 100%;
  background-image: url(../img/banner.png);
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
}

#section-banner .container {
  height: 100%;
  justify-content: center;
}

.text-banner {
  margin-left: -3rem;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.titulo-banner {
  margin: 0;
  font-size: 96px;
  font-family: "Istok Web", sans-serif;
  color: #fff;
  text-shadow: 4px 2px 3px rgba(0, 0, 0, 0.3);
}

.subtitulo-banner {
  margin-top: -1rem;
  margin-left: 0.4rem;
  font-size: 24px;
  font-weight: 900;
  font-family: "Inter", sans-serif;
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
}

.p-banner {
  margin-top: 2.6rem;
  margin-left: 0.4rem;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  color: #fff;
  width: 25rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
}

.btn-banner {
  font-size: 28px;
  font-family: "Istok Web", sans-serif;
  color: #fff;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
  border: none;
  margin-top: 5.27rem;
  border-radius: 10rem;
  background: linear-gradient(
    -90deg,
    #5b1ffe,
    #413dd4 50%,
    #12a2f3 99.99%,
    #8467c7
  );
  width: 22rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
/* END - BANNER */

/* START - CONFIG SECTION BPMS */
#section-bpms {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* END - CONFIG SECTION BPMS */

/* START - APRESENT. BPMS */
.apresentacao-bpms {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  gap: 3.7rem;
}

.text-apresentacao {
  width: 50%;
  display: flex;
  width: 47rem;
  margin-top: 5rem;
}

.p-apresentacao {
  font-family: "Roboto", sans-serif;
  font-size: 38px;
  margin: 0;
  text-align: center;
}

.imagens-apresentacao {
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.img-apresentacao {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 12rem;
  gap: 1.7rem;
}

.img-apresentacao img {
  width: 7rem;
}

.img-apresentacao p {
  width: 15rem;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  text-align: center;
  font-weight: 300;
}
/* END - APRESENT. BPMS */

/* START - VANT. BPMS */
.vantagens-bpms {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.titulo-vantagens {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  margin-bottom: 3.5rem;
}

.titulo-vantagens img {
  width: 100%;
}

.vantagens-bg {
  width: 100%;
  display: inherit;
  flex-direction: inherit;
  flex-wrap: inherit;
}

.vantagens-bg img {
  max-width: 90%;
  height: auto;
  position: absolute;
  z-index: -1;
  opacity: 0.12;
  margin-top: -7rem;
}

.div-left,
.div-right {
  display: flex;
  flex-direction: column;
  width: 38rem;
  margin-bottom: 1rem;
}

.div-left p,
.div-right p {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 300;
}

.div-right h2,
.div-left h2 {
  margin-bottom: 1rem;
  justify-self: flex-start;
  font-family: "Roboto", sans-serif;
  font-size: 40px;
}

.div-left {
  display: flex;
  border-left: 0.3rem solid #572abb;
  align-self: flex-start;
  text-align: start;
  padding-left: 2rem;
}

.div-right {
  display: flex;
  border-right: 0.3rem solid #572abb;
  align-self: flex-end;
  text-align: end;
  padding-right: 2rem;
}
/* END - VANT. BPMS */

/* START - FUNC. BPMS */
.funcionamento-bpms {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.titulo-funcionamento {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  margin-bottom: 3.5rem;
}

.funcionamento-imagens {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.funcionamento-imagens img {
  max-width: 100%;
  max-height: auto;
}
/* END - FUNC. BPMS */

/* START - INTEGRATION */
#section-integration {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #311873;
}

.integration-sys {
  width: 100%;
  height: 50rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 2rem;
}

.integration-sys img {
  max-width: 60%;
  max-height: 100%;
}

.text-integration {
  max-height: 100%;
  max-width: 40%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.text-integration h1 {
  color: #fff;
  align-self: center;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  margin-bottom: 2.5rem;
}

.text-integration p {
  max-width: 100%;
  align-self: center;
  color: #fff;
  text-align: justify;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 3rem;
}

.btn-integration {
  height: 4.1rem;
  width: 16.5rem;
  align-self: flex-end;
  background-color: #fff;
  border-radius: 22px;
  border: none;
  color: #4742c3;
  text-align: center;
  font-family: Roboto;
  font-size: 29px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
/* END - INTEGRATION */

/* START - CARROSSEL */
.carrossel {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
/* END - CARROSSEL */

/* START - LINKS */
#section-links {
  width: 100%;
}

#section-links .container {
  justify-content: space space-between;
  align-items: center;
  gap: 3rem;
}

.links-box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
}

.links-unit {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1.2rem;
  justify-content: space-between;
  align-items: center;
}

.links-unit img {
  height: 6rem;
  object-fit: contain;
}

.links-unit span {
  display: flex;
  justify-content: center;
  align-items: start;
  color: #000;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.17);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  width: 7rem;
}
/* END - LINKS */
