/* START - CARROSSEL */
.carrossel {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
/* END - CARROSSEL */

/* start - carrossel automático (novo) */
#section-car {
  width: 100%;
  height: 18rem;
  display: grid;
  place-items: center;
  padding: 2rem 0;
}

#section-car h1 {
  font-size: 1.85rem;
  font-family: "Poppins", sans-serif;
  color: #00ade9;
  margin-bottom: 1.5rem;
  text-align: center;
  padding: 0 0.7rem;
}

.slider {
  height: 100%;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.slider::before,
.slider::after {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  content: "";
  height: 100%;
  position: absolute;
  width: 15%;
  z-index: 2;
}

.slider::before {
  left: 0;
  top: 0;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
  -webkit-transform: rotateZ(180deg);
  -moz-transform: rotateZ(180deg);
  -ms-transform: rotateZ(180deg);
  -o-transform: rotateZ(180deg);
}

.slide-track {
  display: flex;
  gap: 10rem;
  width: 100%;
  animation: scroll 65s linear infinite;
  -webkit-animation: scroll 65s linear infinite;
  padding: 3rem 0;
}
.slide-track:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
  100% {
    transform: translateX(calc((-12rem * 40)));
    -webkit-transform: translateX(calc((-12rem * 40)));
    -moz-transform: translateX(calc((-12rem * 40)));
    -ms-transform: translateX(calc((-12rem * 40)));
    -o-transform: translateX(calc((-12rem * 40)));
  }
}

.slide {
  height: auto;
  object-fit: contain;
  width: 7rem;
  display: flex;
  align-items: center;
  opacity: 0.75;
  transition: transform 0.4s ease;
  -webkit-transition: transform 0.4s ease;
  -moz-transition: transform 0.4s ease;
  -ms-transition: transform 0.4s ease;
  -o-transition: transform 0.3s ease;
}
.slide:hover {
  transform: scale(1.15);
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -o-transform: scale(1.15);
}
/* end - carrossel */

/* start - media q */
@media screen and (max-width: 798px) {
  #section-car h1 {
    font-size: 1.3rem;
  }
}
/* end - media q */
