body {
    margin: 0;
    line-height: normal;
}

:root {
    /* fonts */
    --font-poppins: Poppins;
    --font-roboto: Roboto;
    --font-istok-web: "Istok Web";

    /* font sizes */
    --font-size-10xl: 1.813rem;
    --font-size-4xl: 1.438rem;
    --font-size-26xl: 2.813rem;
    --font-size-17xl: 2.25rem;
    --font-size-8xl: 1.688rem;
    --font-size-21xl: 2.5rem;
    --font-size-13xl: 2rem;
    --font-size-5xl: 1.5rem;
    --font-size-6xl: 1.563rem;
    --font-size-xl: 1.25rem;
    --font-size-3xs: 0.625rem;
    --font-size-base: 1rem;
    --font-size-11xl: 1.875rem;
    --font-size-lg: 1.125rem;

    /* Colors */
    --color-whitesmoke: #f8f8f8;
    --color-deepskyblue: #02a9e7;
    --color-white: #fff;
    --color-slateblue: #4742c3;
    --color-midnightblue-100: #350042;
    --color-black: #000;
    --color-gray-100: rgba(0, 0, 0, 0.2);
    --color-dodgerblue: #0278e6;
    --color-steelblue: #0079a4;

    /* Gaps */
    --gap-base: 1rem;
    --gap-xl: 1.25rem;
    --gap-3xl: 1.375rem;
    --gap-mini: 0.937rem;

    /* Paddings */
    --padding-20xl: 2.437rem;
    --padding-11xs: 0.125rem;
    --padding-28xl: 2.937rem;
    --padding-31xl: 3.125rem;
    --padding-34xl: 3.312rem;
    --padding-7xl: 1.625rem;
    --padding-mini: 0.937rem;
    --padding-xl: 1.25rem;
    --padding-62xl: 5.062rem;
    --padding-4xl: 1.437rem;
    --padding-71xl: 5.625rem;
    --padding-5xl: 1.5rem;
    --padding-sm: 0.875rem;
    --padding-16xl: 2.187rem;
    --padding-2xl: 1.312rem;
    --padding-19xl: 2.375rem;
    --padding-xs: 0.75rem;
    --padding-10xl: 1.812rem;
    --padding-18xl: 2.312rem;

    /* Border radiuses */
    --br-3xl: 22px;
    --br-mid: 17px;
    --br-120xl: 139px;
}


body {
    margin: 0;
    line-height: normal;
}

:root {
    /* fonts */
    --font-poppins: Poppins;
    --font-roboto: Roboto;
    --font-istok-web: "Istok Web";

    /* font sizes */
    --font-size-10xl: 1.813rem;
    --font-size-4xl: 1.438rem;
    --font-size-26xl: 2.813rem;
    --font-size-17xl: 2.25rem;
    --font-size-8xl: 1.688rem;
    --font-size-21xl: 2.5rem;
    --font-size-13xl: 2rem;
    --font-size-5xl: 1.5rem;
    --font-size-6xl: 1.563rem;
    --font-size-xl: 1.25rem;
    --font-size-3xs: 0.625rem;
    --font-size-base: 1rem;
    --font-size-11xl: 1.875rem;
    --font-size-lg: 1.125rem;

    /* Colors */
    --color-whitesmoke: #f8f8f8;
    --color-deepskyblue: #02a9e7;
    --color-white: #fff;
    --color-slateblue: #4742c3;
    --color-midnightblue-100: #350042;
    --color-black: #000;
    --color-gray-100: rgba(0, 0, 0, 0.2);
    --color-dodgerblue: #0278e6;
    --color-steelblue: #0079a4;

    /* Gaps */
    --gap-base: 1rem;
    --gap-xl: 1.25rem;
    --gap-3xl: 1.375rem;
    --gap-mini: 0.937rem;

    /* Paddings */
    --padding-20xl: 2.437rem;
    --padding-11xs: 0.125rem;
    --padding-28xl: 2.937rem;
    --padding-31xl: 3.125rem;
    --padding-34xl: 3.312rem;
    --padding-7xl: 1.625rem;
    --padding-mini: 0.937rem;
    --padding-xl: 1.25rem;
    --padding-62xl: 5.062rem;
    --padding-4xl: 1.437rem;
    --padding-71xl: 5.625rem;
    --padding-5xl: 1.5rem;
    --padding-sm: 0.875rem;
    --padding-16xl: 2.187rem;
    --padding-2xl: 1.312rem;
    --padding-19xl: 2.375rem;
    --padding-xs: 0.75rem;
    --padding-10xl: 1.812rem;
    --padding-18xl: 2.312rem;

    /* Border radiuses */
    --br-3xl: 22px;
    --br-mid: 17px;
    --br-120xl: 139px;
}


.background-cloud-icon {
    width: 80rem;
    height: 46.813rem;
    position: relative;
    object-fit: cover;
    display: none;
    max-width: 100%;
    z-index: 0;
}

.background-degrade-icon {
    width: 80rem;
    height: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    bottom: 0;
    left: 0;
    max-height: 100%;
    object-fit: contain;
    z-index: 1;
}

.titulo-claud-banner {
    margin: 0;
    width: 34.75rem;
    position: relative;
    font-size: inherit;
    line-height: 120.9%;
    font-weight: 400;
    font-family: "Nexa",sans-serif;
    display: flex;
    align-items: center;
    text-shadow: 4px 2px 3px rgba(0, 0, 0, 0.17);
    max-width: 100%;
    z-index: 2;
}

.text-cloud-banner {
    margin: 0;
    align-self: stretch;
    height: 8.188rem;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    z-index: 2;
    font-family: "Omnes",sans-serif;
}

.button-background {
    height: 5rem;
    width: 18.625rem;
    position: relative;
    border-radius: var(--br-120xl);
    background: linear-gradient(-90deg, #9168ff, #02ade9);
    display: none;
}

.learn-how {
    flex: 1;
    position: relative;
    font-size: var(--font-size-17xl);
    font-family: "Poppins",sans-serif;
    color: var(--color-whitesmoke);
    text-align: center;
    z-index: 1;
}

.button-banner {
    cursor: pointer;
    border: 0;
    padding: var(--padding-4xl) var(--padding-16xl) var(--padding-sm);
    background-color: transparent;
    width: 18.625rem;
    border-radius: var(--br-120xl);
    background: linear-gradient(-90deg, #9168ff, #02ade9);
    flex-direction: row;
    box-sizing: border-box;
    white-space: nowrap;
    z-index: 2;
}

.button-banner,
.hero-banner,
.hero-banner-wrapper,
.text-cloud-banner-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.text-cloud-banner-parent {
    width: 22.75rem;
    flex-direction: column;
    gap: 2.5rem;
    max-width: 100%;
    font-size: var(--font-size-5xl);
}

.hero-banner,
.hero-banner-wrapper {
    box-sizing: border-box;
}

.hero-banner {
    flex: 1;
    flex-direction: column;
    padding: 4.812rem var(--padding-xl) var(--padding-62xl) 5.687rem;
    position: relative;
    gap: var(--gap-base);
    background-image: url(../img/img-cloud-migration/backgroundcloud@2x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    max-width: 100%;
}

.hero-banner-wrapper {
    align-self: stretch;
    flex-direction: row;
    padding: 0 0 9.5rem;
    max-width: 101%;
    flex-shrink: 0;
    text-align: left;
    font-size: 5.625rem;
    color: var(--color-whitesmoke);
    font-family: var(--font-istok-web);
}

.integrate-automate-and {
    margin: 0;
    /* width: 38.875rem; */
    position: relative;
    font-size: inherit;
    font-weight: 500;
    font-family: "Poppins",sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.integrate-automate-and-transf-wrapper {
    width: 72.625rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-xl);
    box-sizing: border-box;
    max-width: 100%;
}

.frame-child,
.frame-item,
.vector-parent {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.frame-child,
.frame-item {
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.vector-parent {
    margin: 0 !important;
}

.frame-wrapper {
    position: absolute;
    top: 0;
    left: 22.375rem;
    width: 29rem;
    height: 0.313rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.it-also-gives,
.this-is-a {
    display: block;
}

.this-is-a-container {
    margin: 0;
    flex: 1;
    position: relative;
    font-weight: 300;
    display: inline-block;
    max-width: 100%;
}

.this-is-a-suite-that-will-allo-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 var(--padding-xs);
    box-sizing: border-box;
    max-width: 100%;
    font-family: "Omnes",sans-serif;
}

.button-hero2-child {
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0.75rem;
    border-radius: var(--br-3xl);
    background-color: var(--color-white);
    width: 16.875rem;
    display: none;
}

.lets-talk {
    position: absolute;
    top: 1rem;
    left: 2.938rem;
    font-size: var(--font-size-10xl);
    display: none;
    font-family: var(--font-roboto);
    color: var(--color-slateblue);
    text-align: center;
    width: 10.625rem;
    height: 2.25rem;
}

.button-hero2-item {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-3xl);
    background: linear-gradient(90deg, #04adea, #8f6aff);
    width: 100%;
    height: 100%;
    z-index: 2;
}

.talk-to-an {
    position: absolute;
    top: 1rem;
    left: 3.438rem;
    font-size: var(--font-size-10xl);
    display: inline-block;
    font-family: "Poppins",sans-serif;
    color: var(--color-white);
    text-align: center;
    /* width: 14.75rem; */
    height: 2.25rem;
    z-index: 3;
}

.button-hero2 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    width: 21.625rem;
    height: 4.188rem;
    position: relative;
    max-width: 100%;
}

.frame-div,
.frame-parent1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 100%;
}

.frame-parent1 {
    align-self: stretch;
    justify-content: flex-start;
    gap: 1.312rem;
}

.frame-div {
    width: 28.75rem;
    justify-content: flex-end;
    padding: 0 0 var(--padding-2xl);
    box-sizing: border-box;
    min-width: 28.75rem;
}

.we-drive-digital {
    margin: 0 !important;
    width: 40.875rem;
    position: absolute;
    top: 2.625rem;
    left: -36.125rem;
    font-weight: 600;
    font-family: "Poppins",sans-serif;
    display: flex;
    align-items: center;
}

.image-hero2-icon {
    height: 23.75rem;
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;
    z-index: 1;
}

.we-drive-digital-transformatio-parent {
    width: 37.5rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    min-width: 37.5rem;
    max-width: 100%;
    font-size: var(--font-size-6xl);
    color: var(--color-steelblue);
}

.frame-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    max-width: 100%;
    gap: var(--gap-xl);
    height: 100%;
}

.frame-group {
    align-self: stretch;
    height: 23.75rem;
    position: relative;
    max-width: 100%;
    text-align: left;
    font-size: var(--font-size-xl);
}

.cloud-migration-inner,
.frame-parent {
    display: flex;
    justify-content: flex-start;
    max-width: 100%;
}

.frame-parent {
    width: 74.375rem;
    flex-direction: column;
    align-items: flex-end;
    gap: var(--gap-xl);
}

.cloud-migration-inner {
    align-self: stretch;
    flex-direction: row;
    align-items: flex-start;
    padding: 0 1.937rem var(--padding-19xl);
    box-sizing: border-box;
    text-align: center;
    font-size: var(--font-size-21xl);
    color: var(--color-black);
    font-family: var(--font-roboto);
}

.hero3-child,
.image-hero3-icon {
    position: relative;
    max-width: 100%;
}

.hero3-child {
    height: 19.438rem;
    width: 80.125rem;
    display: none;
}

.image-hero3-icon {
    align-self: stretch;
    flex: 1;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    z-index: 1;
}

.image-hero3-wrapper {
    height: 11.15rem;
    width: 18.75rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0.812rem 0 0;
    box-sizing: border-box;
    min-width: 18.75rem;
}

.this-platform-serves {
    margin: 0;
    height: 13.125rem;
    flex: 1;
    position: relative;
    /* font-weight: 300; */
    display: flex;
    align-items: center;
    min-width: 18.5rem;
    max-width: 100%;
    z-index: 1;
    font-family: "Omnes"sans-serif;
}

.hero3,
.hero3-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    max-width: 100%;
}

.hero3 {
    flex: 1;
    background-color: #e1f5fc;
    padding: 2.875rem 14.437rem 3.437rem 16.562rem;
    gap: 1.875rem;
}

.hero3-wrapper {
    align-self: stretch;
    padding: 0 0 3.062rem;
    text-align: left;
    font-size: var(--font-size-11xl);
    color: var(--color-black);
    font-family: var(--font-roboto);
}

.why-is-ico {
    display: block;
}

.why-is-ico-container {
    margin: 0;
    align-self: stretch;
    position: relative;
    font-family: "Poppins",sans-serif;
}

.frame-inner {
    width: 29rem;
    position: relative;
    max-height: 100%;
    max-width: 100%;
}

.vector-wrapper {
    width: 41rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-xl);
    box-sizing: border-box;
    max-width: 100%;
}

.why-is-ico-one-of-the-leading-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-3xl);
    max-width: 100%;
}

.connectors-prefabricated-and {
    margin: 0;
    position: relative;
    font-size: inherit;
    /* font-weight: 700; */
    font-family: "Omnes",sans-serif;
}

.connectors-prefabricated-and-a-wrapper {
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 4.625rem;
    box-sizing: border-box;
    font-size: var(--font-size-6xl);
    color: var(--color-steelblue);
}

.connectors-prefabricated-and-a-wrapper,
.frame-parent3,
.frame-wrapper1 {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
}

.frame-parent3 {
    width: 43.313rem;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2.187rem;
}

.frame-wrapper1 {
    width: 68.438rem;
    flex-direction: row;
    justify-content: center;
    padding: 0 var(--padding-xl) 0.837rem;
    box-sizing: border-box;
}

.frame-textarea,
.rectangle-icon {
    height: 13rem;
    width: 19.188rem;
    border-radius: var(--br-mid);
}

.frame-textarea {
    border: 0 solid var(--color-gray-100);
    background-color: var(--color-whitesmoke);
    outline: 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-19xl) var(--padding-10xl);
    font-family: var(--font-poppins);
    font-weight: 300;
    font-size: var(--font-size-xl);
    color: var(--color-black);
    min-width: 19.188rem;
}

.rectangle-icon {
    position: relative;
    display: none;
}

.oracle-integration-offers {
    margin: 0;
    height: 8.188rem;
    flex: 1;
    position: relative;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.vector-group {
    flex: 1;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    border-radius: var(--br-mid);
    background-color: var(--color-whitesmoke);
    border: 0 solid var(--color-gray-100);
    box-sizing: border-box;
    justify-content: flex-start;
    padding: var(--padding-20xl) 1.75rem var(--padding-19xl) var(--padding-10xl);
    min-width: 12.5rem;
    font-family: "Omnes",sans-serif;
}

.frame-child1,
.frame-parent5,
.frame-parent6,
.vector-group {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.frame-child1 {
    border: 0 solid var(--color-gray-100);
    background-color: var(--color-whitesmoke);
    height: 13rem;
    width: auto;
    outline: 0;
    flex: 1;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    border-radius: var(--br-mid);
    box-sizing: border-box;
    justify-content: flex-start;
    padding: var(--padding-19xl) var(--padding-10xl);
    font-family: var(--font-poppins);
    font-weight: 300;
    font-size: var(--font-size-xl);
    color: var(--color-black);
    min-width: 12.5rem;
}

.frame-parent5,
.frame-parent6 {
    max-width: 100%;
}

.frame-parent6 {
    width: 43.063rem;
    justify-content: flex-start;
    gap: 4.687rem;
    min-width: 43.063rem;
}

.frame-parent5 {
    align-self: stretch;
    justify-content: space-between;
    gap: var(--gap-xl);
}

.images-removebg-preview-1-1 {
    width: 39.719rem;
    height: 14.775rem;
    position: relative;
    object-fit: cover;
    display: none;
    max-width: 100%;
}

.oracle-integration {
    height: 1.269rem;
    width: 8.631rem;
    position: relative;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    z-index: 1;
}

.oracle-integration-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-5xl) 0 var(--padding-xl);
}

.data,
.services {
    margin: 0;
}

.data-services-txt-container {
    line-break: anywhere;
    width: 100%;
}

.data-services {
    width: 4.094rem;
    height: 2.531rem;
    position: relative;
    font-weight: 300;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    z-index: 1;
}

.data-services-wrapper {
    width: 7.531rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.file,
.server {
    margin: 0;
}

.file-server {
    align-self: stretch;
    height: 2.531rem;
    position: relative;
    font-weight: 300;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    z-index: 1;
}

.file-server-wrapper {
    width: 5.213rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 2.062rem 0 0;
    box-sizing: border-box;
}

.adapter,
.ftp {
    margin: 0;
}

.ftp-adapter-txt-container {
    line-break: anywhere;
    width: 100%;
}

.ftp-adapter {
    height: 2.531rem;
    width: 3.875rem;
    position: relative;
    font-weight: 300;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    z-index: 1;
}

.adapter1,
.erp {
    margin: 0;
}

.erp-adapter-txt-container {
    line-break: anywhere;
    width: 100%;
}

.erp-adapter {
    width: 3.875rem;
    height: 2.531rem;
    position: relative;
    font-weight: 300;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    z-index: 1;
}

.erp-adapter-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    min-width: 5.75rem;
}

.cloud,
.oracle-erp {
    margin: 0;
}

.oracle-erp-cloud-container {
    align-self: stretch;
    height: 2.531rem;
    position: relative;
    font-weight: 300;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    z-index: 1;
}

.oracle-erp-cloud-wrapper {
    width: 5.419rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0.318rem 0 0;
    box-sizing: border-box;
}

.frame-parent7 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 1.762rem;
}

.frame-wrapper3,
.images-removebg-preview-1-1-parent {
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
    max-width: 100%;
}

.images-removebg-preview-1-1-parent {
    width: 39.719rem;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 var(--padding-xs) 1.056rem var(--padding-mini);
    gap: 9.6rem;
    background-image: url(./public/imagesremovebgpreview-1-1@2x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.frame-wrapper3 {
    width: 66.875rem;
    flex-direction: row;
    justify-content: center;
    padding: 0 var(--padding-xl);
    font-size: var(--font-size-3xs);
    font-family: var(--font-roboto);
}

.frame-parent4 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 1.937rem;
    max-width: 100%;
}

.frame-wrapper2 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 0.25rem;
    box-sizing: border-box;
    max-width: 100%;
    font-size: var(--font-size-xl);
    font-family: var(--font-poppins);
}

.building-forms-and {
    margin: 0;
    align-self: stretch;
    position: relative;
    font-size: var(--font-size-6xl);
    font-weight: 300;
    font-family: "Poppins",sans-serif;
}

.frame-parent2 {
    width: 69.25rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 2.787rem;
    max-width: 100%;
}

.cloud-migration-child {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-xl) var(--padding-71xl);
    box-sizing: border-box;
    max-width: 100%;
    text-align: center;
    font-size: var(--font-size-11xl);
    color: var(--color-black);
    font-family: var(--font-roboto);
}

.rectangle-div {
    position: absolute;
    top: 17.125rem;
    left: 64.688rem;
    background: linear-gradient(90deg, rgba(217, 217, 217, 0), #d9d9d9 33.5%);
    width: 65.5rem;
    height: 17.125rem;
    transform: rotate(180deg);
    transform-origin: 0 0;
    z-index: 1;
}

.examples-such-as {
    margin: 0;
    position: absolute;
    top: 1.188rem;
    left: 5.688rem;
    font-weight: 300;
    font-family: "Omnes",sans-serif;
    display: flex;
    align-items: center;
    width: 50rem;
    z-index: 2;
}

.rectangle-parent {
    position: absolute;
    top: 38.563rem;
    left: 0.813rem;
    width: 64.688rem;
    height: 17.125rem;
}

.frame-child2 {
    width: calc(100% + 14px);
    height: calc(100% - 14px);
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: -80.812rem;
    bottom: 0.875rem;
    left: 79.938rem;
    background: linear-gradient(90deg, #351495, #0279e7);
    transform: rotate(90deg);
    transform-origin: 0 0;
}

.digitize-processes-quickly {
    margin: 0;
    align-self: stretch;
    position: relative;
    font-size: inherit;
    /* font-weight: 700; */
    font-family: "Poppins",sans-serif;
    z-index: 1;
}

.line-icon {
    width: 29rem;
    position: relative;
    max-height: 100%;
    max-width: 100%;
    z-index: 1;
}

.vector-container {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-2xl) 0 var(--padding-xl);
    box-sizing: border-box;
    max-width: 100%;
}

.digitize-processes-quickly-and-parent {
    width: 46.563rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.875rem;
    max-width: 100%;
}

.frame-wrapper5 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-16xl) 0 var(--padding-xl);
    box-sizing: border-box;
    max-width: 100%;
}

.frame-child3,
.frame-child4 {
    position: absolute;
    filter: blur(4px);
    box-sizing: border-box;
    width: 5.688rem;
    height: 5.688rem;
    transform-origin: 0 0;
}

.frame-child3 {
    top: 5.815rem;
    left: 0;
    border: 1px solid var(--color-midnightblue-100);
    transform: rotate(-41deg);
    z-index: 1;
}

.frame-child4 {
    top: 2.489rem;
    left: 0.881rem;
    border: 1px solid var(--color-dodgerblue);
    transform: rotate(-26deg);
    z-index: 2;
}

.rectangle-container {
    height: 10.113rem;
    width: 8.481rem;
    position: absolute;
    margin: 0 !important;
    top: -7.937rem;
    left: -5.062rem;
}

.with-oracle-integration {
    margin: 0;
    flex: 1;
    position: relative;
    font-weight: 300;
    font-family: "Omnes",sans-serif;
    display: inline-block;
    max-width: 100%;
    z-index: 2;
}

.frame-parent9 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    max-width: 100%;
}

.planning-3281142-2-icon {
    height: 10rem;
    width: 10rem;
    position: relative;
    object-fit: cover;
    z-index: 1;
}

.frame-child5,
.frame-child6 {
    position: absolute;
    filter: blur(4px);
    box-sizing: border-box;
    transform-origin: 0 0;
}

.frame-child5 {
    top: 14.828rem;
    left: 7.188rem;
    border: 1px solid var(--color-midnightblue-100);
    width: 6.381rem;
    height: 6.381rem;
    transform: rotate(-59.5deg);
    z-index: 1;
}

.frame-child6 {
    top: 2.552rem;
    left: 0;
    border: 1px solid var(--color-dodgerblue);
    width: 10.275rem;
    height: 10.275rem;
    transform: rotate(-14.4deg);
    z-index: 2;
}

.rectangle-parent1 {
    align-self: stretch;
    height: 18.075rem;
    position: relative;
}

.frame-wrapper7 {
    width: 15.931rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-sm) 0 0;
    box-sizing: border-box;
}

.frame-wrapper6,
.planning-3281142-2-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
}

.planning-3281142-2-parent {
    flex: 1;
    justify-content: space-between;
    gap: var(--gap-xl);
}

.frame-wrapper6 {
    width: 40.063rem;
    justify-content: flex-end;
    padding: 0 var(--padding-11xs);
    box-sizing: border-box;
}

.frame-parent8,
.frame-wrapper4 {
    display: flex;
    justify-content: flex-start;
    max-width: 100%;
}

.frame-parent8 {
    flex: 1;
    flex-direction: column;
    align-items: flex-end;
    gap: 3.406rem;
}

.frame-wrapper4 {
    width: 76.906rem;
    flex-direction: row;
    align-items: flex-start;
    padding: 0 3.937rem;
    box-sizing: border-box;
}

.ellipse-div,
.frame-child7 {
    position: absolute;
    filter: blur(4px);
    border-radius: 50%;
    box-sizing: border-box;
    transform: rotate(111.8deg);
    transform-origin: 0 0;
}

.ellipse-div {
    top: 1.903rem;
    left: 8.6rem;
    border: 0 solid rgba(255, 255, 255, 0.4);
    width: 5.125rem;
    height: 5.125rem;
    z-index: 1;
}

.frame-child7 {
    top: 7.864rem;
    left: 10.725rem;
    border: 0 solid var(--color-midnightblue-100);
    width: 8.25rem;
    height: 8.25rem;
    z-index: 2;
}

.ellipse-parent,
.frame-child8 {
    height: 15.525rem;
    width: 10.725rem;
    position: relative;
}

.frame-child8 {
    height: 17.125rem;
    width: 65.5rem;
    background: linear-gradient(90deg, rgba(217, 217, 217, 0), #d9d9d9 33.5%);
    display: none;
    max-width: 100%;
}

.all-these-workflows {
    margin: 0;
    width: 50rem;
    position: relative;
    font-weight: 300;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    max-width: 100%;
    z-index: 2;
    font-family: "Omnes",sans-serif;
}

.rectangle-parent2 {
    align-self: stretch;
    background: linear-gradient(90deg, rgba(217, 217, 217, 0), #d9d9d9 33.5%);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding: var(--padding-mini) var(--padding-71xl) var(--padding-5xl);
    box-sizing: border-box;
    max-width: 100%;
    z-index: 1;
}

.frame-wrapper8 {
    flex: 1;
    flex-direction: column;
    padding: 2.762rem 0 0;
    box-sizing: border-box;
    min-width: 42.563rem;
}

.frame-parent10,
.frame-wrapper8,
.rectangle-group {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
}

.frame-parent10 {
    align-self: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2.243rem;
    text-align: right;
    color: var(--color-black);
}

.rectangle-group {
    position: absolute;
    top: 0;
    left: 0.875rem;
    width: 79.938rem;
    flex-direction: column;
    padding: var(--padding-28xl) 0 4.562rem var(--padding-4xl);
    box-sizing: border-box;
    gap: 11.412rem;
    text-align: center;
    color: var(--color-white);
}

.hero8 {
    height: 80.813rem;
    flex: 1;
    position: relative;
    max-width: 100%;
}

.hero8-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 1.875rem;
    box-sizing: border-box;
    max-width: 102%;
    flex-shrink: 0;
    text-align: left;
    font-size: var(--font-size-21xl);
    color: var(--color-black);
    font-family: var(--font-roboto);
}

.expertise-in-the {
    margin: 0;
    font-family: "Poppins",sans-serif;
}

.expertise-in-the-container1 {
    width: 100%;
}

.expertise-in-the-container {
    margin: 0;
    width: 52rem;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    display: flex;
    align-items: center;
}

.expertise-in-the-main-techs-an-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-7xl) 5.375rem var(--padding-xl);
    text-align: center;
    font-size: var(--font-size-26xl);
    color: #000555;
    font-family: var(--font-roboto);
}

.hero9-images-icon {
    height: 10.813rem;
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

.hero9-images-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 var(--padding-xl) var(--padding-62xl) 1.375rem;
    box-sizing: border-box;
    max-width: 100%;
}

.hero10-child {
    height: 10.063rem;
    width: 79.875rem;
    position: relative;
    background-color: var(--color-deepskyblue);
    display: none;
    max-width: 100%;
}

.want-to-know {
    margin: 0;
    align-self: stretch;
    position: relative;
    font-size: inherit;
    font-weight: 700;
    font-family: "Poppins",sans-serif;
    z-index: 1;
}

.want-to-know-more-about-those-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0.437rem 0 0;
    box-sizing: border-box;
    /* width: 30rem; */
    min-width: 35.438rem; 
    max-width: 100%;
}

.button-hero10-child {
    height: 4.188rem;
    width: 16.875rem;
    position: relative;
    border-radius: var(--br-3xl);
    background-color: var(--color-white);
    display: none;
}

.lets-talk1 {
    width: 10.625rem;
    position: relative;
    font-size: var(--font-size-10xl);
    display: none;
    font-family: var(--font-roboto);
    color: var(--color-slateblue);
    text-align: center;
    flex-shrink: 0;
}

.button-hero10-item {
    height: 4.188rem;
    width: 16.875rem;
    position: relative;
    border-radius: var(--br-3xl);
    background-color: var(--color-white);
    display: none;
}

.dowload-file {
    /* width: 10.625rem; */
    position: relative;
    font-size: var(--font-size-10xl);
    font-weight: 700;
    font-family: "Poppins",sans-serif;
    color: var(--color-slateblue);
    text-align: center;
    display: inline-block;
    flex-shrink: 0;
    z-index: 3;
}

.button-hero10,
.hero10 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    box-sizing: border-box;
}

.button-hero10 {
    cursor: pointer;
    border: 0;
    padding: 1rem 2.75rem var(--padding-mini);
    background-color: var(--color-white);
    width: 16.875rem;
    border-radius: var(--br-3xl);
    justify-content: flex-end;
    z-index: 2;
}

.hero10 {
    align-self: stretch;
    background-color: var(--color-deepskyblue);
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: var(--padding-28xl) var(--padding-31xl) var(--padding-28xl) var(--padding-34xl);
    gap: 2rem;
    max-width: 100%;
    text-align: left;
    font-size: var(--font-size-26xl);
    color: var(--color-white);
    font-family: var(--font-roboto);
}

.hero11-child,
.ready-to-boost {
    position: relative;
    max-width: 100%;
}

.hero11-child {
    height: 10.063rem;
    width: 80rem;
    background: linear-gradient(90deg, #02a9e7 30%, #572abb);
    display: none;
}

.ready-to-boost {
    flex: 1;
    font-size: 3.438rem;
    font-weight: 700;
    font-family: "Poppins",sans-serif;
    color: var(--color-whitesmoke);
    text-align: center;
    display: inline-block;
    z-index: 1;
}

.cloud-migration,
.hero11 {
    display: flex;
    justify-content: flex-start;
}

.hero11 {
    align-self: stretch;
    background: linear-gradient(90deg, #02a9e7 30%, #572abb);
    flex-direction: row;
    align-items: flex-start;
    padding: var(--padding-20xl) var(--padding-11xs);
    box-sizing: border-box;
    max-width: 100%;
    z-index: 2;
}

.cloud-migration {
    width: 100%;
    position: relative;
    background-color: var(--color-whitesmoke);
    overflow: hidden;
    flex-direction: column;
    align-items: flex-end;
    line-height: normal;
    letter-spacing: normal;
}

@media screen and (max-width: 1150px) {

    .frame-div,
    .image-hero2-icon,
    .we-drive-digital-transformatio-parent {
        flex: 1;
    }

    .frame-container {
        flex-wrap: wrap;
        justify-content: center;
    }

    .frame-group {
        height: auto;
        min-height: 380;
    }

    .frame-parent6,
    .frame-textarea {
        flex: 1;
    }

    .frame-parent5 {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1050px) {
    .titulo-claud-banner {
        font-size: var(--font-size-26xl);
        line-height: 4.063rem;
    }

    .hero-banner-wrapper {
        padding-bottom: 6.188rem;
        box-sizing: border-box;
    }

    .integrate-automate-and {
        font-size: var(--font-size-13xl);
    }

    .image-hero3-icon {
        align-self: stretch;
        width: auto;
    }

    .image-hero3-wrapper {
        flex: 1;
    }

    .this-platform-serves {
        font-size: var(--font-size-5xl);
    }

    .hero3 {
        flex-wrap: wrap;
    }

    .why-is-ico-container {
        font-size: var(--font-size-5xl);
    }

    .frame-parent6 {
        min-width: 100%;
    }

    .cloud-migration-child {
        padding-bottom: 3.625rem;
        box-sizing: border-box;
    }

    .all-these-workflows,
    .digitize-processes-quickly,
    .examples-such-as,
    .with-oracle-integration {
        font-size: var(--font-size-13xl);
    }

    .expertise-in-the-container,
    .want-to-know {
        font-size: var(--font-size-17xl);
    }

    .ready-to-boost {
        font-size: 2.75rem;
    }
}

@media screen and (max-width: 750px) {
    .hero-banner {
        padding-left: 2.813rem;
        padding-top: var(--padding-31xl);
        padding-bottom: var(--padding-34xl);
        box-sizing: border-box;
    }

    .frame-div,
    .we-drive-digital-transformatio-parent {
        min-width: 100%;
    }

    .hero3 {
        gap: var(--gap-mini);
        padding-left: 8.25rem;
        padding-right: 7.188rem;
        box-sizing: border-box;
    }

    .connectors-prefabricated-and-a-wrapper {
        padding-left: var(--padding-18xl);
        padding-right: var(--padding-18xl);
        box-sizing: border-box;
    }

    .frame-parent3 {
        gap: 1.063rem;
    }

    .frame-parent6 {
        flex-wrap: wrap;
        gap: 2.313rem;
    }

    .images-removebg-preview-1-1-parent {
        gap: 4.813rem;
    }

    .frame-parent4 {
        gap: var(--gap-mini);
    }

    .frame-parent2 {
        gap: var(--gap-3xl);
    }

    .planning-3281142-2-parent {
        flex-wrap: wrap;
        justify-content: center;
    }

    .frame-wrapper8 {
        min-width: 100%;
    }

    .hero8 {
        height: auto;
        min-height: 1293;
    }

    .want-to-know-more-about-those-wrapper {
        min-width: 100%;
    }

    .hero10 {
        gap: var(--gap-base);
        padding-left: var(--padding-7xl);
        padding-right: 1.563rem;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 450px) {
    .titulo-claud-banner {
        font-size: var(--font-size-8xl);
        line-height: 2.75rem;
    }

    .text-cloud-banner {
        font-size: 1.188rem;
    }

    .text-cloud-banner-parent {
        gap: var(--gap-xl);
    }

    .hero-banner {
        padding-left: var(--padding-xl);
        box-sizing: border-box;
    }

    .hero-banner-wrapper {
        padding-bottom: 4rem;
        box-sizing: border-box;
    }

    .integrate-automate-and {
        font-size: var(--font-size-5xl);
    }

    .this-is-a-container {
        font-size: var(--font-size-base);
    }

    .lets-talk,
    .talk-to-an {
        font-size: var(--font-size-4xl);
    }

    .we-drive-digital {
        font-size: var(--font-size-xl);
    }

    .this-platform-serves {
        font-size: var(--font-size-lg);
    }

    .hero3 {
        padding-left: var(--padding-xl);
        padding-right: var(--padding-xl);
        box-sizing: border-box;
    }

    .hero3-wrapper {
        padding-bottom: 2rem;
        box-sizing: border-box;
    }

    .why-is-ico-container {
        font-size: var(--font-size-lg);
    }

    .connectors-prefabricated-and {
        font-size: var(--font-size-xl);
    }

    .oracle-integration-offers {
        font-size: var(--font-size-base);
    }

    .frame-parent6 {
        gap: 1.188rem;
    }

    .images-removebg-preview-1-1-parent {
        gap: 2.375rem;
    }

    .building-forms-and {
        font-size: var(--font-size-xl);
    }

    .cloud-migration-child {
        padding-bottom: var(--padding-19xl);
        box-sizing: border-box;
    }

    .all-these-workflows,
    .digitize-processes-quickly,
    .examples-such-as,
    .with-oracle-integration {
        font-size: var(--font-size-5xl);
    }

    .expertise-in-the-container,
    .want-to-know {
        font-size: var(--font-size-8xl);
    }

    .dowload-file,
    .lets-talk1 {
        font-size: var(--font-size-4xl);
    }

    .button-hero10 {
        padding-left: var(--padding-xl);
        padding-right: var(--padding-xl);
        box-sizing: border-box;
    }

    .ready-to-boost {
        font-size: 2.063rem;
    }
}