/* start - import fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* end - import fonts */

/* start - footer config */
:root {
  font-size: 16px;
} 

.column ul {
  list-style: none;
  padding: 0;
}

#footer {
  background: linear-gradient(to right, #2b32b2, #1488cc);
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: start;
  height: max-content;
  gap: 2rem;
}

.mt1p7 {
  margin-top: 1.7rem;
}
/* end - footer config */

/* start - upper content */
.upperContent{
  width: 100%;
  height: 50%;
  color: white;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.column {
  width: max-content;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0.8rem 0;
  gap: 1.2rem;
}

.column img {
  width: 15rem;
  height: auto;
  align-self: center;
}

.social-content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.column h3 {
  font-size: 1.4rem;
  text-align: left;
}
 
.upperContent .column ul {
  font-family: "Omnes",sans-serif;
}
 
.upperContent .column ul li a {
  color: white;
  text-decoration: none;
  font-size: 0.8rem;
}
 
.upperContent .column ul li a:hover {
  color: #ddd;
}
 
.upperContent .social-icons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.8rem;
}
 
.upperContent .social-icons a {
  color: white;
  text-decoration: none;
}

.socialIcon {
  text-align: center;
  align-content: center;
  border-radius: 1rem;
  width: 2rem;
  height: 2rem;
  font-size: 1.3rem;
  background-color: #572ABB;
}
 
.column p{
  font-family: "Poppins",sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
}
 
.socialIcon:hover{
  background-color: #48229b;
}
 
.mega-button {
  font-family: "Poppins",sans-serif;
  text-decoration: none;
  color: white;
}
/* end - upper content */

/* start - middle content */
.middleContent{
  color: white;
  display:flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  width: 100%;
  margin: auto;
}

.middleContent div{
  text-align: center;
  width: max-content;
}

.middleContent h4{
  font-family: "Poppins",sans-serif;
}

.middleContent p{
  font-family: "Omnes",sans-serif;
}
/* end - middle content */

/* start - down content */
.downContent{
  color: white;
  text-align: center;
  display: flex;
  width: 70%;
  margin: auto;
  font-family: "Omnes",sans-serif;
  padding-bottom: 0.5rem;
}

.downContent p {
  padding: 0.3rem;
  border-top: 0.1rem solid white;
}
/* end - down content */

/* start - media q */
@media screen and (max-width: 1045px) {
  .column img {
    width: 10rem;
  }
}

@media screen and (max-width: 960px) {
  .social-content {
    flex-flow: column nowrap;
  }
}

@media screen and (max-width: 740px) {
  #footer {
    height: max-content;
  }
  
  .upperContent {
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
  }

  .column {
    width: 100%;
    align-items: center;
    margin-top: 1rem;
  }

  .column ul {
    text-align: center;
  }

  .column ul h3 {
    text-align: center;
  }

  .column ul li {
    text-align: center;
  }
}

@media screen and (max-width: 540px) {
  #footer {
    gap: 0.3rem;
  }

  .middleContent {
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 1.3rem;
    padding: 0.2rem 0 0.8rem 0;
  }
}
/* end - media q */