@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* .container {
  max-width: 1170px;
  margin: auto;
} */
 
.row {
  display: flex;
  flex-wrap: wrap;
}
 
ul {
  list-style: none;
}
 
#footer {
  background: linear-gradient(to right, #2b32b2, #1488cc);
}

.upperContent{
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  /* width: 100%; */
}

.middleContent{
  color: white;
  display:flex;
  text-align: center;
  width: 100%;
  margin: auto;;
}

.middleContent div{
  width: 50%;
}

.middleContent h4{
  font-family: "Poppins",sans-serif;
}

.middleContent p{
  font-family: "Omnes",sans-serif;
}


.downContent{
  color: white;
  text-align: center;
  display: flex;
  width: 70%;
  margin: auto;
  font-family: "Omnes",sans-serif;
}

#footer .column {
  flex: 1;
}
 
#footer .column ul {
  font-family: "Omnes",sans-serif;
  list-style-type: none;
  padding-left: 0.3rem;
}
 
#footer .column ul li a {
  color: white;
  text-decoration: none;
  font-size: 0.8rem;
}
 
#footer .column ul li a:hover {
  color: #ddd;
}
 
#footer .social-icons {
  display: flex;
  justify-content: space-around;
  padding-bottom: 1rem;
}
 
#footer .social-icons a {
  color: white;
  text-decoration: none;
}
 
#footer {
  background-color: #24262b;
}
 
#footer-col {
  width: 25%;
  padding: 0 15px;
}
 
#footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
 
#footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #ffffff;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
 
#footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
 
#footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #bbbbbb;
  text-decoration: none;
  font-weight: 300;
  display: block;
  transition: all 0.3s ease;
}
 
#footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
 
#footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
 
#footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}
 
.socialIcon {
  text-align: center;
  align-content: center;
  border-radius: 1rem;
  width: 2rem;
  height: 2rem;
  font-size: 1.3rem;
  background-color: #572ABB;
}
 
.social-icons p{
  font-family: "Poppins",sans-serif;
  font-size: 20px;
  font-weight: 500;
}
 
.socialIcon:hover{
  background-color: #48229b;
}
 
.mega-button {
  font-family: "Poppins",sans-serif;
  text-decoration: none;
  color: white;
}


