/* START - CONTAINER CONFIG. */
.container {
    width: 72%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  /* END - CONTAINER CONFIG. */

/* START - INTEGRATION */
#section-integration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #311873;
  }
  
  .integration-sys {
    width: 100%;
    height: 50rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: 2rem;
  }
  
  .integration-sys img {
    max-width: 60%;
    max-height: 100%;
  }
  
  .text-integration {
    max-height: 100%;
    max-width: 40%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  
  .text-integration h1 {
    color: #fff;
    align-self: center;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    margin-bottom: 2.5rem;
  }
  
  .text-integration p {
    max-width: 100%;
    align-self: center;
    color: #fff;
    text-align: justify;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 3rem;
  }
  
  .btn-integration {
    height: 4.1rem;
    width: 16.5rem;
    align-self: flex-end;
    background-color: #fff;
    border-radius: 22px;
    border: none;
    color: #4742c3;
    text-align: center;
    font-family: Roboto;
    font-size: 29px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  /* END - INTEGRATION */
  
  /* START - CARROSSEL */
  .carrossel {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  /* END - CARROSSEL */
  
  /* START - FORM */
  #section-form {
    padding: 1rem 0 3em 0;
    background-color: #eff1f1;
    margin-top: 5.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #section-form .container {
    align-items: center;
  }
  
  #section-form .container h1 {
    font-family: "Poppins", sans-serif;
    color: #0079a4;
    font-size: 41px;
    text-align: center;
    font-weight: 600;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 2rem;
    padding: 1.5rem 0 0 0;
  }
  
  .form-row {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    border-bottom: 0.1rem solid #0079a4;
  }
  
  .form-row input,
  .form-row textarea {
    font-size: 17px;
    outline: none; /* Remove outline on focus */
    font-family: "Poppins", sans-serif;
    background-color: #f8f8f800;
    border: none;
  }
  
  textarea {
    resize: none;
  }
  
  .btn-form {
    padding: 0.5rem 1rem;
    border: none;
    background: #9f01ea;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
  }
  /* END - FORM */