@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.cdnfonts.com/css/nexa-bold");
@import url("https://fonts.cdnfonts.com/css/lato");
@import url("https://fonts.cdnfonts.com/css/omnes-2");

/* section {
  padding-top: 2rem;
} */

body {
  min-height: 100vh;
  min-width: 99vw;
  max-width: 99vw;
}


/* START - BANNER */
#section-banner {
  height: 45.5rem;
  width: 100%;
  background-image: url(../img/hero-img.png);
  background-position: 90% 55%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: center;
}

/* #section-banner .container {      !!! eu tirei o container. pra usar este container é só jogar ele dentro
  width: 100%;                        da 'section-banner' e colocar todo o conteúdo dentro deste container !!!
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
} */

.text-banner {
  height: 100%;
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  padding-left: 7rem;
}

.titulo-banner {
  /* font-family: "Istok Web", sans-serif; */
  /* font-family: "omnes-variable", sans-serif; */
  /* text-shadow: 4px 2px 3px rgba(0, 0, 0, 0.3); */
  margin: 0;
  font-size: 3rem;
  font-family: "Nexa", sans-serif;
  font-weight: 700;
  color: #fff;
}

.p-banner {
  /* margin-top: 2.6rem; */
  /* margin-left: 0.4rem; */
  /* font-family: "Roboto", sans-serif; */
  font-size: 1.5rem;
  font-family: "Omnes", sans-serif;
  color: #fff;
  width: 25rem;
}

.btn-banner {
  /* font-family: "Istok Web", sans-serif; */
  /* text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.35); */
  /* background: linear-gradient(
    -90deg,
    #5b1ffe,
    #413dd4 50%,
    #12a2f3 99.99%,
    #8467c7
  ); */
  font-size: 28px;
  font-family: "Poppins", sans-serif;
  color: #fff;
  text-align: center;
  border: none;
  margin-top: 5.27rem;
  border-radius: 10rem;
  background-color: #5b1ffe;
  width: 22rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn-banner:hover {
  transition-duration: 0.3s;
  background-color: white;
  color: #5b1ffe;
}
/* END - BANNER */

/* DATA */
#data {
  padding: 4rem 0 4rem 0;
}

.container-data {
  padding: 2.5rem 0;
  text-align: center;
}

.data-title {
  font-size: 40px;
  font-weight: bold;
  color: #05276b;
  text-align: center;
  width: 100%;
  margin-bottom: 9rem;
  margin-top: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  /* font-family: "Nexa", sans-serif; */
  /* border-bottom: 2.5px solid #350042; */
}

.banner {
  display: flex;
  justify-content: space-around;
  /* background-color: #71d6b92a; */
}

.metric {
  text-align: center;
  padding: 1rem;
  z-index: 4;
  transition: background-color 0.65s ease;
}

.metric:hover {
  background-color: #00bbff48;
}

.number {
  font-size: 40px;
  font-weight: bold;
  color: #572abb;
  font-family: "Nexa", sans-serif;
}

.subtitle {
  font-size: 23px;
  color: grey;
  font-family: "Poppins", sans-serif;
}

.separator {
  border-left: 3px solid #d4d4d4;
  height: 3.5rem;
  margin: 0 10px;
}

.data-btn {
  border-radius: 50px;
  margin-top: 4rem;
  border: none; /* 2px solid #02a9e7; */
  background-color: #4642c38f;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  transition: background-color 0.4s ease;
  height: 3.5rem;
  width: 7rem;
  text-align: center;
  z-index: 4;
  color: white;
}

.data-btn:hover {
  background-color: #4642c3;
}

/* ABOUT US */

#aboutUs {
  padding: 5rem;
  /* background-color: #05276bbe; */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 3rem;
  margin-bottom: 3rem;
  align-items: center;
}

#aboutUs h1 {
  font-size: 52px;
}

#aboutUs p {
  font-size: 30px;
  margin-bottom: 2rem;
}

.div-left,
.div-right {
  width: 70%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: start;
  padding: 2rem;
  border-radius: 2rem;
}

.c1 {
  background-color: #71d6b9c5;
}
.c2 {
  background-color: #05276b;
}
.c3 {
  background-color: #02ade9;
}
.c4 {
  background-color: #4742c3;
}

.div-left h1,
.div-right h1 {
  font-family: "Poppins", sans-serif;
  font-size: 35px;
  font-weight: 500;
}

.div-left p,
.div-right p {
  font-family: "Omnes", sans-serif;
  font-size: 17px;
  font-weight: 400;
}

.div-right p,
.div-right h1 {
  color: #fff;
}

.div-left {
  align-self: flex-start;
  align-items: flex-start;
}

.div-right {
  align-self: flex-end;
  align-items: flex-end;
}
/* SEPARATOR */

.separator-strip {
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #02a9e7, #572abb);
  color: white;
  padding: 3rem;
}

.separator-strip h1 {
  font-size: 55px;
  word-spacing: 8px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.separator-strip button {
  width: 15rem;
  height: 4rem;
  background-color: #f8f8f8;
  color: #4742c3;
  border: none;
  font-size: 29px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 1rem;
}

.separator-strip button:hover {
  background-color: transparent;
  border: 2px solid #f8f8f8;
  color: #f8f8f8;
}

/* start - carrossel */
/* #section-segments .title {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 30px;
}

.carousel {
  width: 60%;
  margin: auto;
} */
#section-car {
  height: 20rem;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-car {
  height: 100%;
  width: 80%;
}

.slider-wrapper {
  width: 100%;
}

.btn-container-car {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  padding: 0.4rem;
  margin-bottom: 0.9rem;
}

.slider-wrapper .slide-button {
  position: absolute;
  height: 3.1rem;
  width: 3.1rem;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: #02ade9;
  font-size: 1.4rem;
  cursor: pointer;
}

.slider-wrapper .image-list {
  display: grid;
  gap: 15rem;
  font-size: 0;
  padding: 0.5rem 1rem;
  margin-bottom: 1.875rem;
  overflow-x: auto;
  scrollbar-width: none;
  grid-template-columns: repeat(7, 1fr);
  height: 100%;
  width: auto;
}

.image-list::-webkit-scrollbar {
  display: none;
}

.image-item {
  height: 8rem;
  opacity: 0.7;
}

.slider-scrollbar {
  height: 3.2rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.slider-scrollbar .scrollbar-track {
  height: 0.6rem;
  width: 100%;
  background-color: #ccc;
  position: relative;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
}

.slider-scrollbar:hover .scrollbar-track {
  height: 0.55rem;
}

.scrollbar-thumb {
  position: absolute;
  height: 50%;
  width: 50%;
  background-color: #05276b;
  border-radius: inherit;
  cursor: grab;
}

.slider-scrollbar .scrollbar-track:active {
  cursor: grabbing;
  height: 0.5rem;
  top: -0.07rem;
}

.scrollbar-thumb::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -0.625rem;
}

/* end - carrossel */

/* CARDS */
#cards {
  background-color: #fff;
  /* padding: 2rem 10rem 2rem 10rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  /* Garante que todos os cards tenham a mesma altura */
  flex-wrap: wrap;
  width: 68%;
}

.card {
  /* border-width: 2px; */
  /* border-image: linear-gradient(to right, #02a9e7, #572abb) 1; */
  border-image-slice: 1;
  box-shadow: 0 0px 3px #71d6b9;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 30%;
  transition: transform 0.5s ease;
}

.card:hover {
  transform: scale(1.05);
}

.title {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #05276b;
  text-align: center;
  width: 100%;
}

.card-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.description {
  font-family: "Lato", sans-serif;
  margin-top: 1rem;
  margin-bottom: 2.3rem;
  font-size: 14px;
  text-align: start;
}

.cta-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 2px solid #02a9e7;
  border-radius: 5rem;
  padding: 10px 20px;
  color: #02a9e7;
  cursor: pointer;
  margin-top: auto;
  align-self: flex-start;
  gap: 1rem;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

.cta-button:hover {
  color: #f8f8f8;
  background-color: #02a9e7;
  border-color: transparent;
}

.cta-button a {
  text-decoration: none;
  color: inherit;
}

.icon {
  justify-self: flex-start;
}

.icon img {
  width: 5rem;
}

#pre-cards {
  text-align: center;
  width: 100%;
  /* margin: auto; */
  margin: 6rem 0 5rem 0;
  padding: 0 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#pre-cards h1 {
  padding: 1rem;
  font-family: "Poppins";
  font-weight: bold;
  font-size: 30px;
}

#pre-cards h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 25px;
  text-align: center;
}
