/* start - pg config */
:root {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  width: 100vw;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  width: 100%;
  height: 100%;
}
/* end - pg config */

/* start - data container */
#data {
  width: 100%;
  padding: 5.5rem 0;
}

.container-data {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 3rem 2rem;
  text-align: center;
  background: linear-gradient(to left, #00ade9, #582abb);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.data-title {
  font-size: 2.8rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
  width: 100%;
  margin-bottom: 7rem;
  margin-top: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.banner {
  display: flex;
  justify-content: space-around;
}

.metric {
  text-align: center;
  padding: 1rem;
  z-index: 4;
  transition: background-color 0.65s ease;
  flex: 1 1 30%;
}

.metric:hover {
  background-color: #9d9d9d;
}

.number {
  font-size: 40px;
  font-weight: bold;
  color: #fff;
  font-family: "Nexa", sans-serif;
}

.subtitle {
  font-size: 23px;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.separator {
  border-left: 3px solid #d4d4d4;
  height: 3.5rem;
  margin: 0 10px;
}

.data-btn {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  padding: 0.9rem;
  border-radius: 50px;
  margin-top: 5rem;
  border: none;
  background-color: #582abb;
  height: max-content;
  width: max-content;

  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;

  transition: background-color 0.4s ease, color 0.4s ease;
}

.data-btn:hover {
  background-color: #fff;
  color: #582abb;
}
/* end - data container */

.aboutUs {
  width: 100%;
  padding: 3rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2.5rem;
  margin-bottom: 3rem;
  align-items: center;
}

.aboutUs h1 {
  font-size: 3.5rem;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.aboutUs p {
  font-family: "Sofia Pro", sans-serif;
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.aboutUs-cards {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.div-left,
.div-right {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  gap: 3rem;
  overflow-x: hidden;
}

.div-left h1,
.div-right h1 {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2.5rem;
  color: #000;
  padding: 0.5rem;
}

.div-left p,
.div-right p {
  font-family: "Sofia Pro", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: #290d8e;
}

.div-left .c-text {
  align-items: flex-start;
}

.div-right .c-text {
  align-items: flex-end;
}

.div-left .c-text h1 {
  border-left: 2.5px solid #00ade9;
}

.div-right .c-text h1 {
  border-right: 2.5px solid #00ade9;
}

.div-left .c-text h1,
.div-left .c-text p {
  text-align: left;
}

.div-right .c-text h1,
.div-right .c-text p {
  text-align: right;
}

.div-left img,
.div-right img {
  width: 33%;
  height: auto;
}

.c-text {
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: start;
}

.description {
  width: 100%;
  font-family: "Sofia Pro", sans-serif;
  margin-top: 1rem;
  margin-bottom: 2.3rem;
  font-size: 0.875rem;
  text-align: start;
}

.icon {
  justify-self: flex-start;
}

.icon img {
  width: 5rem;
}

#pre-cards {
  text-align: center;
  margin: 6rem 0 0 0;
  width: 75%;
  padding: 4rem 0 0rem 0;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.pre-cards {
  margin-bottom: 4rem;
}

.pre-cards h1 {
  padding: 1rem;
  font-family: "Poppins";
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 2.3rem;
}

.pre-cards h4 {
  font-family: "Sofia Pro", sans-serif;
  font-weight: 300;
  font-size: 25px;
  text-align: center;
}

.pre-cards-content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: max-content;
  gap: 3rem;
}

.pre-cards-content img {
  height: 28.625rem;
  width: auto;
}

.pre-cards-content h4 {
  height: 100%;
}

/* start media q */
@media screen and (max-width: 1330px) {
  .pre-cards-content img {
    height: 24rem;
  }
}

@media screen and (max-width: 1192px) {
  .pre-cards-content {
    flex-flow: column nowrap;
  }

  .div-left,
  .div-right {
    gap: 3rem;
  }

  .div-left {
    flex-flow: column nowrap;
  }

  .div-right {
    flex-flow: column-reverse nowrap;
  }

  .div-left img,
  .div-right img {
    height: 25rem;
    width: auto;
  }

  .c-text h1,
  .c-text p {
    width: 100%;
  }
}

@media screen and (max-width: 964px) {
  html {
    overflow-x: hidden;
  }

  .data-title {
    font-size: 2.1rem;
  }

  .metric h2 {
    font-size: 1.5rem;
  }

  .metric p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 860px) {
  .pre-cards-content img {
    height: 23rem;
  }

  .metric {
    flex: 1 1 80%;
    max-width: 90%;
  }

  .separator {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  /* START - PRE-CARDS */
  #pre-cards {
    width: 80%;
    padding: 2vw 0 2vw 0;
  }
  /* END - PRE-CARDS */

  /* START - DATA */
  #data {
    padding-top: 0;
    padding-bottom: 2rem;
  }

  .banner {
    display: block;
    align-items: center;
  }

  .metric {
    margin-left: 20%;
    margin-right: 20%;
  }

  .data-title {
    align-items: center;
    font-size: 6vw;
    margin-bottom: 2rem;
  }

  .number {
    font-size: 6vw;
  }

  .subtitle {
    font-size: 3vw;
  }

  .separator {
    display: none;
  }

  .data-btn {
    margin-top: 2rem;
  }
  /* END - DATA */

  /* START - ABOUT-US */
  .aboutUs {
    gap: 7vw;
  }

  .div-left,
  .div-right {
    width: 100%;
    padding: 1rem;
  }
  /* END - ABOUT-US */
}

@media screen and (max-width: 718px) {
  .aboutUs {
    padding: 0;
  }

  .aboutUs h1 {
    width: 87%;
    font-size: 2.3rem;
  }

  .aboutUs p {
    font-size: 1.5rem;
    width: 80%;
  }

  .div-left,
  .div-right {
    padding: 0 1.3rem;
  }

  .c-text h1,
  .c-text p {
    width: 100%;
    height: auto;
  }

  .div-left img,
  .div-right img {
    display: none;
  }
}

@media screen and (max-width: 565px) {
  .pre-cards-content img {
    height: 15rem;
  }
}
/* end - media q */
