@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

section{
  padding-top: 2rem;
}
/* HERO */
.hero {

  background-image: url('../img/hero-img.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif;
  color: #fff;
  height: 90vh;
}

-div {
  border: 1px solid red;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 05%;
  height: 100%;
}

.hero-title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  letter-spacing: 0.2rem;

}

.hero-subtitle {
  font-size: 1.3rem;
  margin-bottom: 2rem;
  max-width: 50%;
}

.hero-btn {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  color: #fff;
  background: linear-gradient(to right, #9168FF, #02ADE9);
  border: none;
  border-radius: 5rem;
  cursor: pointer;
  max-width: 30%;
}

.hero-btn:hover {
  background: linear-gradient(to right, #8963f1, #02a3dd);
}

/* DATA */


.container-data {
  text-align: center;
}

.data-title {
  font-size: 40px;
  font-weight: bold;
  color: #350042;
  text-align: center;
  width: 100%;
  padding-bottom: 1rem;
}

.banner {
  display: flex;
  justify-content: space-around;

}

.metric {
  text-align: center;
}

.number {
  font-size: 40px;
  font-weight: bold;
  color: #572ABB;
}

.subtitle {
  font-size: 23px;
  color: grey;
}

.separator {
  border-left: 1px solid blue;
  height: 50px;
  margin: 0 10px;
}

/* ABOUT US */

#aboutUs {
  padding: 5rem;
  background-color: #F0FAFF;
}

/* SEPARATOR */

.separator-strip {
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #02A9E7, #572ABB);
  color: white;
  padding: 3rem;
}

.separator-strip h1 {
  font-size: 55px;
  word-spacing: 8px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.separator-strip button {
  width: 15rem;
  height: 4rem;
  background-color: #f8f8f8;
  color: #4742C3;
  border: none;
  font-size: 29px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 1rem;
}

.separator-strip button:hover {
  background-color: transparent;
  border: 2px solid #f8f8f8;
  color: #f8f8f8;
}

/* SEGMENTS */

#section-segments .title{
    font-family: "roboto";
    font-weight: bold;
    font-size: 30px;
}

.carousel{
  width: 80%;
  margin: auto;
}

/* CARDS */
#cards {
  background-color: #F0FAFF;
  padding-left: 10rem;
  padding-right: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  /* Garante que todos os cards tenham a mesma altura */
  flex-wrap: wrap;
  width: 100%;
}

.card {
  border-width: 2px;
  border-image: linear-gradient(to right, #02A9E7, #572ABB) 1;
  border-image-slice: 1;
  box-shadow: 0 0px 12px rgba(0, 0, 0, 0.6);
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 30%;
  transition: transform 0.5s;
}

.card:hover{
  transform: scale(1.05);
}

.title {
  font-size: 20px;
  font-weight: bold;
  color: #350042;
  text-align: center;
  width: 100%;
}

.card-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.description {
  padding-bottom: 1rem;
  font-size: 14px;
  text-align: start;
}

.cta-button {
  background-color: transparent;
  border-color: #02A9E7;
  border-radius: 5rem;
  padding: 10px 20px;
  color: #02A9E7;
  cursor: pointer;
  margin-top: auto;
}

.cta-button:hover{
  color: #f8f8f8;
  background-color: #02A9E7;
  border-color: transparent;
}

.cta-button a{
  text-decoration: none;
  color: inherit;
}

.icon {
  justify-self: flex-start
}

.icon img {
  width: 5rem;
}

#pre-cards {
  text-align: center;
  width: 80%;
  margin: auto;
}

#pre-cards h1 {
  padding: 1rem;
  font-family: "roboto";
  font-weight: bold;
  font-size: 30px;
  
}

#pre-cards h4 {
  font-family: "roboto", sans-serif;
  font-weight: 300;
  font-size: 25px;
}