@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.cdnfonts.com/css/nexa-bold");
@import url("https://fonts.cdnfonts.com/css/lato");
@import url("https://fonts.cdnfonts.com/css/omnes-2");

html {
  min-height: 100vh;
  width: 98.999vw;
}

body {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}
/* START - BANNER */
#section-banner {
  height: 45.5rem;
  width: 100%;
  background-image: url(../img/hero-img.png);
  background-position: 90% 55%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.text-banner {
  height: 100%;
  width: 50%;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 7rem;
}

.titulo-banner {
  margin: 0;
  font-size: 3rem;
  font-family: "Nexa", sans-serif;
  font-weight: 700;
  color: #fff;
}

.p-banner {
  font-size: 1.5rem;
  font-family: "Omnes", sans-serif;
  color: #fff;
  width: 25rem;
}

.btn-banner {
  font-size: 28px;
  font-family: "Poppins", sans-serif;
  color: #fff;
  text-align: center;
  border: none;
  margin-top: 5.27rem;
  border-radius: 10rem;
  background-color: #5b1ffe;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn-banner:hover {
  transition-duration: 0.3s;
  background-color: white;
  color: #5b1ffe;
}

/* END - BANNER */

#data {
  width: 100%;
  padding: 4rem 0 4rem 0;
}

.container-data {
  padding: 2.5rem 0;
  text-align: center;
}

.data-title {
  font-size: 40px;
  font-weight: bold;
  color: #05276b;
  text-align: center;
  width: 100%;
  margin-bottom: 9rem;
  margin-top: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.banner {
  display: flex;
  justify-content: space-around;
}

.metric {
  text-align: center;
  padding: 1rem;
  z-index: 4;
  transition: background-color 0.65s ease;
}

.metric:hover {
  background-color: #00bbff48;
}

.number {
  font-size: 40px;
  font-weight: bold;
  color: #572abb;
  font-family: "Nexa", sans-serif;
}

.subtitle {
  font-size: 23px;
  color: grey;
  font-family: "Poppins", sans-serif;
}

.separator {
  border-left: 3px solid #d4d4d4;
  height: 3.5rem;
  margin: 0 10px;
}

.data-btn {
  padding: 0.9rem;
  border-radius: 50px;
  margin-top: 4rem;
  border: none;
  background-color: #4642c38f;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  transition: background-color 0.4s ease;
  height: 3.5rem;

  text-align: center;
  z-index: 4;
  color: white;
}

.data-btn:hover {
  background-color: #4642c3;
}

.data-btn a {
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: inherit;
}

#aboutUs {
  width: 100%;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;
  margin-bottom: 3rem;
  align-items: center;
}

#aboutUs h1 {
  font-size: 52px;
}

#aboutUs p {
  font-size: 30px;
  margin-bottom: 2rem;
}

.div-left,
.div-right {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 2rem;
  border-radius: 2rem;
}

.c1 {
  background-color: #71d6b9c5;
}
.c2 {
  background-color: #05276b;
}
.c3 {
  background-color: #02ade9;
}
.c4 {
  background-color: #4742c3;
}

.div-left h1,
.div-right h1 {
  font-family: "Poppins", sans-serif;
  font-size: 35px;
  font-weight: 500;
}

.div-left p,
.div-right p {
  font-family: "Omnes", sans-serif;
  font-size: 17px;
  font-weight: 400;
}

.div-right p,
.div-right h1 {
  color: #fff;
}

.div-left {
  align-self: flex-start;
  align-items: flex-start;
}

.div-right {
  align-self: flex-end;
  align-items: flex-end;
}

/* start - separator-strip */
.separator-strip {
  height: 8rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #02a9e7, #572abb);
  color: white;
  margin: 2rem 0 2rem 0;
  padding: 0 2rem 0 2rem;
}

.separator-strip h1 {
  font-size: 55px;
  word-spacing: 8px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.separator-strip button {
  width: 15rem;
  height: 4rem;
  background-color: #f8f8f8;
  color: #4742c3;
  border: none;
  font-size: 29px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 1rem;
}

.separator-strip button:hover {
  background-color: transparent;
  border: 2px solid #f8f8f8;
  color: #f8f8f8;
}
/* end - separator-strip */

#cards {
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  width: 68%;
}

.card {
  border-image-slice: 1;
  box-shadow: 0 0px 3px #71d6b9;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 30%;
  transition: transform 0.5s ease;
}

.card:hover {
  transform: scale(1.05);
}

.title {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #05276b;
  text-align: center;
  width: 100%;
}

.card-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.description {
  width: 100%;
  font-family: "Lato", sans-serif;
  margin-top: 1rem;
  margin-bottom: 2.3rem;
  font-size: 0.875rem;
  text-align: start;
}

.cta-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 2px solid #02a9e7;
  border-radius: 5rem;
  padding: 10px 20px;
  color: #02a9e7;
  cursor: pointer;
  margin-top: auto;
  align-self: flex-start;
  gap: 1rem;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

.cta-button:hover {
  color: #f8f8f8;
  background-color: #02a9e7;
  border-color: transparent;
}

.cta-button a {
  text-decoration: none;
  color: inherit;
}

.icon {
  justify-self: flex-start;
}

.icon img {
  width: 5rem;
}

#pre-cards {
  text-align: center;
  margin: 6rem 0 5rem 0;
  width: 50%;
  padding:2rem 0 2rem 0;
  margin: auto;
  display: flex;
}

.pre-cards h1 {
  padding: 1rem;
  font-family: "Poppins";
  font-weight: bold;
  font-size: 30px;
}

.pre-cards h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 25px;
  text-align: center;
}

@media (max-width: 768px) {
  /* START - BANNER */
  #section-banner {
    height: auto;
    padding: 2rem;
  }

  .titulo-banner {
    font-size: 5vw;
  }

  .text-banner{
    padding: 0;
    width:70%
  }

  .p-banner {
    width: 90%;
    font-size: 3vw;
    margin-top: 2vw;
  }

  .btn-banner {
    font-size: 3vw;
    max-height:10vw;
    margin-top:2vw;
  }

  /* END - BANNER */

  /* START - PRE-CARDS */

  #pre-cards{
    width: 80%;
    padding: 2vw 0 2vw 0;
  }

  .pre-cards h1{
    font-size: 5vw;
  }

  .pre-cards h4{
    font-size: 4vw;
  }

  /* END - PRE-CARDS */

  /* START - CARDS */

  .card-container {
    display: block;
    width: 90%;
  }

  .card {
    margin: 1rem 0;
  }

  .title{
    font-size: 4vw;
  }

  .description{
    font-size: 3vw;
  }

  .cta-button{
    font-size: 4vw;
  }


  /* END - CARDS */

  /* START - DATA */

  .banner{
    display: block;
  }

  .data-title {
    font-size: 6vw;
    margin-bottom: 4rem;
  }

  .number{
    font-size: 6vw;
  }

  .subtitle{
    font-size: 3vw;
  }

  .separator {
    display: none;
  }

  .data-btn {
    width: 70%;
    margin-top: 2rem;
  }

  /* END - DATA */

  /* START - ABOUT-US */

  #aboutUs {
    padding: 2rem 1rem;
    gap:7vw;
  }

  #aboutUs h1 {
    font-size: 6vw;
    font-weight: bold;
  }

  #aboutUs p {
    font-size: 4vw;
    margin: 0;
  }

  .div-left, .div-right {
    width: 100%;
    padding: 1rem;
  }

  /* END - ABOUT-US */
  
  /* START - SEPARATOR-STRIP */

  .separator-strip{
    height: 10rem;
    display: block;
    text-align: center;
    align-content: center;
    padding: 2vw;
  }

  .separator-strip h1 {
    font-size: 6vw;
    word-spacing: 0;
  }

  .separator-strip button {
    font-size: 4vw;
    white-space:nowrap;
    height: 2.5rem;
  }

  /* END - SEPARATOR-STRIP */

  .cta-button{
    align-self: center;
    width: 80%;
    font-weight: bold;
  }

  .cta-button i{
    display: none;
  }

  #section-car strong{
    text-align: center;
    font-size: 5vw;
  }
}