@import url('https://fonts.cdnfonts.com/css/omnes-2');

/* start - link config */
.links-unit button a {
  color: inherit;
  text-decoration: none;
}

/* end - link config */

/* START - CONTAINER CONFIG. */
.container {
  margin-top: 2rem;
  width: 72%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

/* END - CONTAINER CONFIG. */

/* START - LINKS */
#section-links {
  width: 100%;
  padding-bottom: 7rem;
}

#section-links .container {
  justify-content: space space-between;
  align-items: center;
  gap: 3rem;
}

.links-text {
  width: 80%;
  color: #0079a4;
  /* font-family: "Roboto", sans-serif; */
  font-family: 'Omnes', sans-serif;
  font-size: 40px;
  font-weight: 500;
  /* padding-left: 3rem; */
  align-self: center;
  background-color: #02aae723;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.links-box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
}

.links-unit {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1.2rem;
  justify-content: space-between;
  align-items: center;
}

.links-unit img {
  height: 6rem;
  object-fit: contain;
}

.links-unit span {
  display: flex;
  justify-content: center;
  align-items: start;
  color: #000;
  text-align: center;
  /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.17); */
  /* font-family: Roboto; */
  font-family: 'Nexa', sans-serif;
  font-size: 20px;
  font-weight: 700;
  width: 7rem;
}

.links-unit button {
  border-radius: 60px;
  border: 2px solid #02a9e7;
  background: rgba(140, 33, 33, 0);
  color: #0079a4;
  text-align: center;
  font-family: 'Omnes', sans-serif;
  font-size: 20px;
  font-weight: 400;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.links-unit button:hover {
  transition-duration: 0.3s;
  background-color: #0079a4;
  color: #fff;
}

/* END - LINKS */