/* start - import fonts */
@import url('https://fonts.cdnfonts.com/css/omnes-2');
@import url("https://fonts.cdnfonts.com/css/sofia-pro?styles=17636,17637,17630,17640,17631,17641,17632,17633,17634,17635,17638,17639,17628,17629,17626,17627");
@import url("https://fonts.cdnfonts.com/css/nexa-bold");
/* end - import fonts */

/* start - link config */
.links-unit button a {
  color: inherit;
  text-decoration: none;
}
/* end - link config */

/* START - CONTAINER CONFIG. */
.container {
  margin-top: 2rem;
  width: 72%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
/* END - CONTAINER CONFIG. */

/* START - LINKS */
#section-links {
  width: 100%;
  padding-bottom: 5rem;
  margin-top: 3rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

#section-links .container {
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

.links-text {
  width: 80%;
  color: #582ABB;
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  align-self: center;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.links-box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
}

.links-unit {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1.2rem;
  justify-content: space-between;
  align-items: center;
}

.links-unit img {
  height: 6rem;
  object-fit: contain;
}

.links-unit span {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: start;
  color: #000;
  text-align: center;
  font-family: "Sofia Pro", sans-serif;
  font-size: 20px;
  font-weight: 500;
  width: 7rem;
}

.links-unit button {
  border-radius: 60px;
  border: 2px solid #00ADE9;
  background: rgba(140, 33, 33, 0);
  color: #0079a4;
  text-align: center;
  font-family: 'Sofia Pro', sans-serif;
  font-size: 20px;
  font-weight: 300;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.links-unit button:hover {
  transition-duration: 0.3s;
  background-color: #00ADE9;
  color: #fff;
}
/* END - LINKS */

/* start - media q */
@media screen and (max-width: 1356px) {
  .links-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
  }
}

@media (max-width: 768px) {
  .links-box {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 3.2rem;
  }
}

@media screen and (max-width: 460px) {
  .links-box {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
}
/* end - media q */