@import url("https://fonts.cdnfonts.com/css/sansation");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.cdnfonts.com/css/nexa-bold?styles=29919,29913");
@import url("https://fonts.cdnfonts.com/css/omnes-2");
@import url("https://fonts.cdnfonts.com/css/lato?styles=170780,170775,170783,170771,170779,170778,170786,170788,170782");
@import url('https://fonts.cdnfonts.com/css/sofia-pro?styles=17636,17637,17630,17640,17631,17641,17632,17633,17634,17635,17638,17639,17628,17629,17626,17627');

/* start - general config */
:root {
  --bar-width: 45px;
  --bar-height: 3px;
  --hamburger-gap: 6px;
  --bar-bg: #333;
  --foreground: #ededed;
  --background: white;
  --hamburger-margin: 8px;
  --animation-timing: 200ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.mb {
  margin-bottom: 0.5rem;
}
/* end - general config */

/* start - link config */
.home a[href],
.work a[href],
.carrier a[href],
.option a[href] {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* end - link config */

/* START - HEADER */
#headerID {
  width: 100%;
  padding: 0.5rem 1.3rem;
  height: 13vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

.logo {
  height: 40%;
  justify-self: flex-start;
  margin: 0;
  border: none;
  padding: 0;
  object-fit: contain;
}

.div-menu {
  flex-grow: 1;
}

.menu {
  width: 100%;
  font-size: 1.5rem;
  margin: 0;
  font-family: "Sofia Pro", sans-serif;
  font-weight: 400;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.home,
.services,
.work,
.insights,
.carrier {
  padding: 0.5rem;
  color: #000;
  background-color: #fff;
}

.home a,
.services a,
.work a,
.insights a,
.carrier a {
  color: inherit;
  text-decoration: none;
}

.home,
.work,
.carrier {
  cursor: pointer;
}

.services,
.insights {
  cursor: default;
}

.home:hover,
.services:hover,
.work:hover,
.insights:hover,
.carrier:hover {
  transition-duration: 0.2s;
  color: #12a2f3;
}

.div-services {
  flex-direction: column;
  align-items: center;
}

.services-main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.div-insights {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.flag-container-normal {
  width: max-content;
  height: 100%;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.flag-container-normal button {
  height: max-content;
  width: 100%;
  z-index: 999;
  
  background-color: transparent;
  border: none;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.flag-container-normal button img {
  height: 2.3rem;

  cursor: pointer;
}

/* END - HEADER */

/* START - DROPDOWN MENU  */
.dropdown-menu-nav {
  height: auto;
  width: max-content;
  background-color: white;
  border: 1px solid #ccc;
  border-top: 3px solid #5b1ffe;
  display: none;
  flex-flow: column nowrap;
  gap: 1rem;
  position: absolute;
  padding: 0.8rem;
  z-index: 10;
}

.div-services:hover .dropdown-menu-nav,
.div-insights:hover .dropdown-menu-nav {
  display: flex;
}

.autorec-dropdown-menu,     /* para o dropdown-menu nao cobrir o header */
.bonita-dropdown-menu,
.cloud-dropdown-menu,
.rapid-dropdown-menu {
  margin-top: 12.5rem;
}

.custdev-dropdown-menu {    /* para o dropdown-menu nao cobrir o header */
  margin-top: 12rem;
}

.ins-dropdown-menu {
  margin-top: 11.5rem;      /* para o dropdown-menu nao cobrir o header */
}

.serv-item,
.prod-item,
.ins-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.drop-title {
  font-size: 1.5rem;
  padding-bottom: 0.3rem;
  color: #12a2f3;
}

.option {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  color: black;
  padding: 0.5rem;
  background-color: #fff;
  cursor: pointer;
}

.option:hover {
  transition-duration: 0.2s;
  color: #12a2f3;
}
/* END - DROPDOWN MENU */

/* start - hamburguer */
.h-div {
  display: none;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.h-menu {
  --x-width: calc(var(--hamburger-height) * 1.41421356237);
  padding-right: 0.4rem;
  display: none;
  flex-flow: column nowrap;
  gap: var(--hamburger-gap);
  width: max-content;
  z-index: 999;
  cursor: pointer;
  left: 90%;
  top: 3.1%;
}

.h-menu input,
.h-menu::after,
.h-menu::before {
  content: "";
  height: var(--bar-height);
  width: var(--bar-width);
  background-color: var(--bar-bg);
  border-radius: 9999px;
  transform-origin: left center;
  transition: opacity var(--animation-timing), width var(--animation-timing),
    rotate var(--animation-timing), translate var(--animation-timing),
    background-color var(--animation-timing);
}

.h-menu input {
  appearance: none;
  margin: 0;
  padding: 0;
  outline: none;
  pointer-events: none;
}

.h-menu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc((var(--bar-height) / -2));
}

.h-menu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc((var(--bar-height) / 2));
}

.h-menu input:checked {
  opacity: 0;
  width: 0;
}

.sidebar {
  margin: 0;
  padding: 0;
  border: none;
  border-top: 3px solid #5b1ffe;
  position: absolute;
  background-color: white;
  width: 100%;
  min-height: max-content;
  left: 0;
  top: 10%;
  display: none;
  flex-flow: column nowrap;
  align-items: flex-end;
  padding: 4%;
  font-size: 100%;
  gap: var(--hamburger-gap);
  font-family: "Poppins", sans-serif;
  z-index: 999;
  transition: opacity 0.6s;
}

.h-menu:has(input:checked) + .sidebar {
  display: flex;
}

.sidebar a {
  font-size: inherit;
  text-align: right;
  width: 100%;
  margin-bottom: 0.4rem;
  border-bottom: rgb(223, 223, 223) solid 1px;
  padding: 0.2rem;
  background-color: #f1f1f1;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  text-decoration: none;
  color: inherit;
}

.sidebar a:hover {
  color: #12a2f3;
}

.menu-r-box {
  font-size: inherit;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: inherit;
}

.menu-r-box span {
  border-bottom: rgb(223, 223, 223) solid 1px;
  text-align: right;
  width: 100%;
  padding: 0.2rem;
  background-color: #f1f1f1;
  font-size: inherit;
  pointer-events: none;
  cursor: default;
}

.menu-r-box a {
  padding: 0;
  background-color: #fff0;
  font-size: 1rem;
  color: inherit;
  text-decoration: none;
}

.flag-container-resp {
  width: 100%;
  height: max-content;
}

.flag-container-resp button {
  background-color: transparent;
  border: 0;


}

.flag-container-resp button img {
  height: 2rem;
  
  cursor: pointer;
}

.br,
.usa,
.esp {
  transition: scale 0.3s ease;
}

.br:hover,
.usa:hover,
.esp:hover {
  scale: 1.15;
}
/* end - hamburguer */

/* start - media */
@media screen and (max-width: 1060px) {
  .div-menu,
  .flag-container-normal {
    display: none;
  }

  .h-div,
  .h-menu {
    display: flex;
  }
}

@media screen and (max-width: 510px) {
  .logo {
    height: 2.6rem;
  }

  @media screen and (max-width: 417px) {
    .logo {
      height: 2.2rem;
    }
  }

  @media screen and (max-width: 360px) {
    .logo {
      height: 1.8rem;
    }
  }
}
/* end - media */
