@import url("https://fonts.cdnfonts.com/css/sansation");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.cdnfonts.com/css/nexa-bold?styles=29919,29913");
@import url("https://fonts.cdnfonts.com/css/omnes-2");
@import url("https://fonts.cdnfonts.com/css/lato?styles=170780,170775,170783,170771,170779,170778,170786,170788,170782");

/* start - link config */
.home a[href],
.work a[href],
.carrier a[href],
.option a[href],
.text-header-btn a[href] {
  text-decoration: none;
  color: inherit;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* end - link config */

/* START - HEADER */
#headerID {
  /* width: 100%; */
  padding: 0.5rem 1rem 0.5rem 1rem;
  height: 10vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.logo {
  justify-self: flex-start;
  margin: 0;
  border: none;
  padding: 0;
  object-fit: contain;
}

.div-menu {
  flex-grow: 1;
}

.menu {
  font-size: 1.5rem;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.home,
.services,
.work,
.insights,
.carrier {
  padding: 0.5rem;
  color: #505050;
  background-color: #fff;
}

.home,
.work,
.carrier {
  cursor: pointer;
}

.services,
.insights {
  cursor: default;
}

.home:hover,
.services:hover,
.work:hover,
.insights:hover,
.carrier:hover {
  transition-duration: 0.2s;
  color: #12a2f3;
}

.div-services {
  flex-direction: column;
  align-items: center;
}

.services-main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.div-insights {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.header-btn {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: inherit;
  border-radius: 1000px;
  border: none;
  background: linear-gradient(
    -90deg,
    #5b1ffe,
    #413dd4 50%,
    #12a2f3 99.99%,
    #8467c7
  );
  height: 2.7rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  gap: 1.5rem;
  cursor: pointer;
}

.text-header-btn {
  font-size: 20px;
  color: #fff;
  justify-self: center;
  align-self: center;
}
/* END - HEADER */

/* START - DROPDOWN MENU  */
.dropdown-menu-nav {
  height: auto;
  background-color: white;
  border: 1px solid #ccc;
  display: none;
  gap: 1rem;
  position: absolute;
  padding: 0.8rem;
  z-index: 10;
}

.div-services:hover .dropdown-menu-nav,
.div-insights:hover .dropdown-menu-nav {
  display: flex;
  flex-direction: column;
}

.rapid-dropdown-menu,
.home-dropdown-menu,
.autorec-dropdown-menu,     /* para o menu nav nao cobrir o header */
.bpms-dropdown-menu,
.our-dropdown-menu,
.bonita-dropdown-menu,
.cloud-dropdown-menu {
  margin-top: 12.5rem;
}

.scale-dropdown-menu,
.erp-dropdown-menu,
.custdev-dropdown-menu,     /* para o menu nav nao cobrir o header */
.sup-dropdown-menu,
.work-dropdown-menu {
  margin-top: 12rem;
}

.serv-item,
.prod-item,
.ins-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.drop-title {
  font-size: 1.5rem;
  padding-bottom: 0.3rem;
  color: #12a2f3;
}

.option {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  color: black;
  padding: 0.5rem;
  background-color: #fff;
  cursor: pointer;
}

.option:hover {
  transition-duration: 0.2s;
  color: #12a2f3;
}
/* END - DROPDOWN MENU */
