@import url("https://fonts.cdnfonts.com/css/sansation");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* start - page config */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
}

.btn-banner a[href] {
  text-decoration: none;
  color: inherit;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.mb2p1 {
  margin-bottom: 2.1rem;
}
/* end - page config */

/* START - CONTAINER CONFIG. */
.container {
  width: 72%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}
/* END - CONTAINER CONFIG. */

/* START - BANNER */
#section-banner {
  height: 40rem;
  width: 100%;
  background-image: url(../img/img-ourPeople/banner-ourp.png);
  background-size: cover;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
  padding: 3rem 0 3rem 5rem;
}

.text-banner {
  width: 45%;
  height: 100%;
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
}

.titulo-banner {
  margin: 0;
  font-size: 3rem;
  font-family: "Nexa", sans-serif;
  color: #fff;
  opacity: 0;
  transform: translateY(20px);
  animation: slideFadeIn 1.5s ease-in-out forwards;
}

@keyframes slideFadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px); /* Posição inicial para o deslizamento */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* Posição final */
  }
}

.btn-banner {
  font-size: 28px;
  font-family: "Poppins", sans-serif;
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.35);
  border: none;
  margin-top: 5.27rem;
  border-radius: 10rem;
  background-color: rgb(91, 31, 254);
  width: 22rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn-banner:hover {
  transition-duration: 0.3s;
  background: white;
  color: rgb(91, 31, 254);
}
/* Responsive adjustments for screens smaller than 768px */
@media (max-width: 768px) {
  #section-banner {
    height: auto;
    padding: 2rem 0;
  }

  .text-banner {
    margin-left: 0;
    width: 90%;
    align-items: flex-start;
    text-align: left;
  }

  .titulo-banner {
    font-size: 2.5rem;
    text-align: left;
  }

  .btn-banner {
    width: 16rem;
    height: 3rem;
    font-size: 24px;
    margin-top: 2rem;
  }
}
/* END - BANNER */

/* start - section advantages */
#section-adv {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 4rem 0 7rem 0;
}

#section-adv .container {
  gap: 3rem;
}

#section-adv .container h1 {
  font-family: "Nexa", sans-serif;
  font-size: 3rem;
  text-align: center;
  color: #fff;

  background-color: #0d3d9e;

  padding: 0.7rem 0;
  width: 100%;
  border-radius: 9999px;
  margin-bottom: 2.1rem;
}

.div-r-adv,
.div-l-adv {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.div-text-adv {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding: 2rem;
  animation: slideFadeIn 2s ease-in-out forwards; /* Aplica a animação */
}

.div-text-adv h2 {
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 700;
  animation: slideFadeIn 2s ease-in-out forwards; /* Aplica a animação */
}

.div-text-adv p {
  color: #000;
  font-family: "Omnes", sans-serif;
  font-size: 25px;
  font-weight: 300;
}

.div-r-adv .div-text-adv h2,
.div-r-adv .div-text-adv p {
  text-align: left;
}

.div-l-adv .div-text-adv h2,
.div-l-adv .div-text-adv p {
  text-align: right;
}

.div-l-adv img,
.div-r-adv img {
  height: 17rem;
  width: auto;
}

/* Responsive adjustments for screens smaller than 768px */
@media (max-width: 768px) {
  .div-r-adv,
  .div-l-adv {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .div-text-adv {
    width: 100%;
    padding: 1rem;
    order: 1; /* Ensure text appears first */
  }

  .div-text-adv h2 {
    margin-top: 1rem;
    align-self: center;

    font-size: 1.3rem;
  }

  .div-text-adv p {
    font-size: 1rem;
  }

  .div-l-adv img,
  .div-r-adv img {
    height: auto;
    width: 70%;
    max-width: 25rem;
    margin: 0.2rem;
    margin-bottom: 1.8rem;
    order: 2; /* Ensure image appears second */
    border-radius: 1.25rem; /* Adiciona o arredondamento de borda */
  }
}

/* end - section advantages */

/* start - section separator */
#section-separator {
  width: 100%;
  height: max-content;
  padding: 3.2rem 0;
  background: linear-gradient(269deg, #aadeff 0%, #02a9e7 80.83%);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
}

#section-separator h2 {
  font-family: "Poppins", sans-serif;
  font-size: 2.6rem;
  color: white;
}

#section-separator a {
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  text-align: center;
  line-height: normal;
  font-weight: 400;
  color: white;

  padding: 1.3rem 3rem;
  border-radius: 10px;

  /* border: 1px solid rgb(6, 7, 96); */
  box-shadow: 0.1px 0.1px 2px 2px rgba(121, 121, 121, 0.139);
  background-color: #0d3d9e;

  transition: background-color 0.45s ease, scale 0.45s ease;
}

#section-separator a:hover {
  background-color: white;
  color: #0d3d9e;
  scale: 1.1;
}
/* end - section separator */

/* start - section values */
#section-values {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 1rem;
}

#section-values .container h1 {
  font-family: "Nexa", sans-serif;
  font-size: 3rem;
  text-align: center;
  color: #fff;

  background-color: #0d3d9e;

  padding: 0.7rem 0;
  width: 100%;
  border-radius: 9999px;
  margin-bottom: 5rem;
}

.values-span {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

.values-box {
  width: 42%;
  height: 25rem;
  border-radius: 1rem;
  border: 3px solid #02a9e7;
  display: inherit;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.values-box h3 {
  width: 100%;
  text-align: left;
  color: #1b0d9e;
  font-family: "Poppins", sans-serif;
}

.values-box p {
  text-align: justify;
  color: rgb(61, 40, 40);
  font-family: "Poppins", sans-serif;
}
.values-box img {
  height: 13rem;
  width: auto;
}
/* end - section values */

/* start - section career */
#section-career {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.line-title {
  width: 100%;
  margin-bottom: 1.6rem;
}
#section-career h1 {
  font-family: "Nexa", sans-serif;
  font-size: 3rem;
  text-align: center;
  color: #fff;

  background-color: #0d3d9e;

  padding: 0.7rem 0;
  width: 72%;
  border-radius: 9999px;
  margin-bottom: 4rem;
}

.career-text {
  width: 100%;
  color: #000;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: 300;
  margin-bottom: 4rem;
  padding: 0 3rem;
}

.div-l-car,
.div-r-car {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 70%;
  height: max-content;
}

.div-r-car {
  align-self: flex-end;
  flex-shrink: 0;
  border-radius: 1.25rem 0rem 0rem 1.25rem;
  background: #0d3d9e;
}

.div-l-car {
  align-self: flex-start;
  flex-shrink: 0;
  border-radius: 0rem 1.25rem 1.25rem 0rem;
  background: #95d3ff;
  margin-top: 1.3rem;
  margin-bottom: 1.3rem;
}

.div-l-car img,
.div-r-car img {
  height: 20rem;
}

.text-div-car {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 0 1rem 0.3rem 1rem;
}

.text-div-car h2 {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 1.875rem;
  font-weight: 700;
}

.text-div-car p {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: justify;
}

.div-l-car .text-div-car p,
.div-l-car .text-div-car h2 {
  color: black;
}

/* Responsive adjustments for screens smaller than 768px */
@media (max-width: 768px) {
  .career-title h1 {
    font-size: 24px; /* Ajusta o tamanho da fonte */
    margin-bottom: 0; /* Ajusta a margem */
    margin-top: 1.5rem; /* Ajusta a margem inferior */
  }

  .line-title {
    margin-bottom: 0.5rem; /* Ajusta a margem inferior */
  }

  .career-text {
    width: 100%; /* Ajusta a largura para 100% */
    font-size: 1rem;
    padding: 0 0.5rem; /* Adiciona padding para evitar que o texto toque as bordas da tela */
    margin: 1.5rem; /* Ajusta a margem inferior */
  }
  .div-r-car,
  .div-l-car {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 0%;
    padding: 0.5rem;
  }

  .text-div-car {
    width: 100%;
    padding: 0.5rem;
    order: 1; /* Ensure text appears first */
  }

  .text-div-car h2 {
    font-size: 1.3rem;
  }

  .text-div-car p {
    font-size: 1rem;
  }

  .div-l-car img,
  .div-r-car img {
    height: auto;
    width: 70%;
    max-width: 25rem;
    margin: 0.2rem;
    margin-bottom: 1.8rem;
    order: 2; /* Ensure image appears second */
    border-radius: 1.25rem; /* Adiciona o arredondamento de borda */
  }
}

/* end - section career */

/* start - section testimonial */
#section-test {
  background-color: #02aae73d;
  padding-top: 4rem;
  padding-bottom: 6rem;
  margin-top: 3.3rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

#section-test h1 {
  font-family: "Nexa", sans-serif;
  font-size: 2.3rem;
  text-align: center;
  color: #0d3d9e;

  background-color: #02a9e7;

  padding: 0.7rem 0;
  width: 72%;
  border-radius: 9999px;
  margin-bottom: 4rem;
}

.title-test h1 {
  color: #fff;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: -0.1rem;
}

.div-test {
  background: #fff;
  width: 71.5rem;
  height: 25.7rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.l {
  border-radius: 0 3.75rem 3.75rem 0;
  align-self: flex-start;
  margin-bottom: 5rem;
  margin-top: 3rem;
}

.r {
  border-radius: 3.75rem 0 0 3.75rem;
  align-self: flex-end;
}

.text-div-test {
  height: 100%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.text-p-test {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.text-p-test h3 {
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: 700;
}

.text-p-test p {
  color: #000;
  text-align: justify;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 300;
}

.exp {
  color: #000;
  text-align: justify;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-style: italic;
  font-weight: 300;
}

.div-test img {
  width: 25.6875rem;
  height: 25.6875rem;
  filter: grayscale(100%);
  border-radius: 0;
}

.le {
  border-radius: 0 3.75rem 3.75rem 0;
}

.ri {
  border-radius: 3.75rem 0 0 3.75rem;
}
/* end - section testimonial */
/* Responsive adjustments for screens smaller than 768px */
@media (max-width: 768px) {
  @media (max-width: 768px) {
    .div-test {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: auto;
      padding: 1rem;
    }

    .div-test img {
      width: 80%; /* Ajusta a largura da imagem para 80% */
      max-width: 300px; /* Define a largura máxima */
      height: auto;
      border-radius: 3.75rem; /* Adiciona o arredondamento de borda */
      margin-bottom: 1rem; /* Espaçamento abaixo da imagem */
    }

    .text-div-test {
      width: 100%;
      padding: 1rem;
      text-align: center; /* Centraliza o texto */
    }

    .text-p-test {
      text-align: center; /* Centraliza o texto */
    }
  }
}
/* end - section testimonial */

/* start - media q */
@media screen and (max-width: 1310px) {
  .values-box {
    height: 30rem;
  }
}

@media screen and (max-width: 1280px) {
  .div-l-car,
  .div-r-car {
    width: 90%;
  }
}

@media screen and (max-width: 1220px) {
  #section-test .div-test {
    width: 100%;
  }

  .text-banner {
    width: 80%;
  }
}

@media screen and (max-width: 980px) {
  #section-banner {
    align-items: center;
  }

  .text-banner {
    align-items: center;
  }

  .text-banner h1 {
    text-align: center;
  }

  .values-span {
    flex-flow: column nowrap;
    gap: 2rem;
  }

  .values-box {
    width: 100%;
    height: 25rem;
  }
}

@media screen and (max-width: 910px) {
  .div-l-car,
  .div-r-car {
    width: 100%;
    border-radius: 0;
  }
}

@media screen and (max-width: 1062px) {
  #section-test .div-test {
    height: 35rem;
  }

  .ri,
  .le {
    align-self: center;
  }
}
/* end - media q */
