@import url("https://fonts.cdnfonts.com/css/sansation");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* start - page config */
html {
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
}

.btn-banner a[href] {
  text-decoration: none;
  color: inherit;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
/* start - page config */

/* START - CONTAINER CONFIG. */
.container {
  width: 72%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
/* END - CONTAINER CONFIG. */

/* START - BANNER */
#section-banner {
  height: 35rem;
  width: 100%;
  background-image: url(../img/img-ourPeople/banner-ourp.png);
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
}

#section-banner .container {
  height: 100%;
  justify-content: center;
}

/* .text-banner {
  margin-left: -3rem;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 40rem;
} */
.titulo-banner {
  margin: 0;
  font-size: 4rem;
  font-family: "Nexa", sans-serif;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  opacity: 0; /* Inicialmente invisível */
  transform: translateY(20px); /* Posição inicial para o deslizamento */
  animation: slideFadeIn 1.5s ease-in-out forwards; /* Aplica a animação */
}

@keyframes slideFadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px); /* Posição inicial para o deslizamento */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* Posição final */
  }
}

.btn-banner {
  font-size: 28px;
  font-family: "Poppins", sans-serif;
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.35);
  border: none;
  margin-top: 5.27rem;
  border-radius: 10rem;
  /* background: linear-gradient(
    -90deg,
    #5b1ffe,
    #413dd4 50%,
    #12a2f3 99.99%,
    #8467c7
  ); */
  background-color:rgb(91, 31, 254);
  width: 22rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn-banner:hover {
  transition-duration: 0.3s;
  background: white;
  color: rgb(91, 31, 254);
}
/* Responsive adjustments for screens smaller than 768px */
@media (max-width: 768px) {
  #section-banner {
    height: auto;
    padding: 2rem 0;
  }

  .text-banner {
    margin-left: 0;
    width: 90%;
    align-items: flex-start;
    text-align: left;
  }

  .titulo-banner {
    font-size: 2.5rem;
    text-align: left;
  }

  .btn-banner {
    width: 16rem;
    height: 3rem;
    font-size: 24px;
    margin-top: 2rem;
  }
}
/* END - BANNER */

/* start - section advantages */
#section-adv {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.div-r-adv,
.div-l-adv {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.div-r-adv {
  background-color: #e1f5fc;
  padding-left: 9rem;
}

.div-l-adv {
  padding-right: 13rem;
}

.div-text-adv {
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding: 2rem;
  animation: slideFadeIn 2s ease-in-out forwards; /* Aplica a animação */

}

.div-text-adv h2 {
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 700;
  animation: slideFadeIn 2s ease-in-out forwards; /* Aplica a animação */

}

.div-text-adv p {
  color: #000;
  font-family: "Omnes", sans-serif;
  font-size: 25px;
  font-weight: 300;
  text-align: justify;
}

.div-l-adv img,
.div-r-adv img {
  height: 24rem;
  width: auto;
}

/* Responsive adjustments for screens smaller than 768px */
@media (max-width: 768px) {
  .div-r-adv, .div-l-adv {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .div-text-adv {
    width: 100%;
    padding: 1rem;
    order: 1; /* Ensure text appears first */
  }

  .div-text-adv h2 {
    font-size: 1.3rem;
  }

  .div-text-adv p {
    font-size: 1rem;
  }

  .div-l-adv img,
  .div-r-adv img {
    height: auto;
    width: 70%;
    max-width: 25rem;
    margin: 0.2rem;
    margin-bottom: 1.8rem;
    order: 2; /* Ensure image appears second */
    border-radius: 1.25rem; /* Adiciona o arredondamento de borda */

  }
}

/* end - section advantages */

/* start - div want */
.div-want {
  width: 100%;
  height: 10.0625rem;
  background: linear-gradient(269deg, #572abb 0%, #02a9e7 80.83%);
  color: #fff;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 45px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
/* end - div want */

/* start - section values */
#section-values {
  background-image: url(../img/img-ourPeople/banner-values-ourp.png);
  background-size: cover;
  padding: 6rem 8rem 5rem 8rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 5rem;
}

.values-text {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0;
}

.values-text h2 {
  color: #350042;
  font-family: "Istok Web", sans-serif;
  font-size: 27px;
  font-weight: 400;
  backdrop-filter: blur(2px);
}

.values-text h1 {
  color: #f8f8f8;
  text-shadow: 4px 2px 3px rgba(0, 0, 0, 0.3);
  font-family: "Poppins", sans-serif;
  font-size: 70px;
  font-weight: 700;
  line-height: 84.63px;
  margin-top: -1.7rem;
}

.line-items-val {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.box-item-val {
  border-radius: 10px;
  background: rgba(217, 217, 217, 0.8);
  width: 17.375rem;
  height: 11rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding: 0 1.3rem 1.3rem 1.3rem;
}

.box-item-val h3 {
  color: #000555;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: 400;
}

.box-item-val p {
  color: #000;
  font-family: "Omnes", sans-serif;
  font-size: 16px;
  font-weight: 300;
}

/* Responsive adjustments for screens smaller than 768px */
@media (max-width: 768px) {
  .div-want {
    width: 100%;
    height: 6.0625rem;
    font-size: 30px;
  }
  
  #section-values {
    padding: 2rem 1rem;
  }

  .values-text {
    align-items: center;
  }

  .values-text h1 {
    font-size: 2.0rem;
    text-align: center;
  }

  .values-text h2 {
    font-size: 1rem;
    text-align: center;
  }

  .line-items-val {
    flex-direction: column;
    gap: 0; /* Remove gap between items */
    align-items: center;
    margin-top: 1rem;
  }

  .box-item-val {
    width: 95%;
    height: auto;
    padding: 1rem;
    align-items: center;
    margin-bottom: 1rem; /* Add margin between boxes */
  }

  .box-item-val h3 {
    font-size: 1.3rem;
  }

  .box-item-val p {
    font-size: 1rem;
    text-align: center;
  }
}
/* end - section values */

/* start - section career */
#section-career {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.title-career {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.career-title h1 {
  color: #000;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 0.5rem;
  margin-top: 1.5rem;

}

.line-title {
  width: 100%;
  margin-bottom: 1.6rem;
}

.career-text {
  width: 56.1875rem;
  color: #000;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: 300;
  margin-bottom: 1.5rem;

}

.div-l-car,
.div-r-car {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.div-r-car {
  align-self: flex-end;
  width: 69.3125rem;
  height: 18.3125rem;
  flex-shrink: 0;
  border-radius: 1.25rem 0rem 0rem 1.25rem;
  background: #e1f5fc;
}

.div-l-car {
  align-self: flex-start;
  width: 69.3125rem;
  height: 18.3125rem;
  flex-shrink: 0;
  border-radius: 0rem 1.25rem 1.25rem 0rem;
  background: #dadada;
  margin-top: 1.3rem;
  margin-bottom: 1.3rem;
}

.text-div-car {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 0 1rem 0.7rem 1rem;
}

.text-div-car h2 {
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 1.875rem;
  font-weight: 700;
}

.text-div-car p {
  color: #000;
  font-family: "Omnes";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-align: justify;
}

/* Responsive adjustments for screens smaller than 768px */
@media (max-width: 768px) {
  .career-title h1 {
    font-size: 24px; /* Ajusta o tamanho da fonte */
    margin-bottom: 0; /* Ajusta a margem */
    margin-top: 1.5rem; /* Ajusta a margem inferior */

  }

  .line-title {
    margin-bottom: 0.5rem; /* Ajusta a margem inferior */
  }

  .career-text {
    width: 100%; /* Ajusta a largura para 100% */
    font-size: 1rem;
    padding: 0 1rem; /* Adiciona padding para evitar que o texto toque as bordas da tela */
    margin: 1.5rem; /* Ajusta a margem inferior */
  }
  .div-r-car, .div-l-car {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 0.5rem;
  }

  .text-div-car {
    width: 100%;
    padding: 0.5rem;
    order: 1; /* Ensure text appears first */
  }

  .text-div-car h2 {
    font-size: 1.3rem;
  }

  .text-div-car p {
    font-size: 1rem;
  }

  .div-l-car img,
  .div-r-car img {
    height: auto;
    width: 70%;
    max-width: 25rem;
    margin: 0.2rem;
    margin-bottom: 1.8rem;
    order: 2; /* Ensure image appears second */
    border-radius: 1.25rem; /* Adiciona o arredondamento de borda */
  }

}

/* end - section career */

/* start - section testimonial */
#section-test {
  background-image: url(../img/img-ourPeople/fundo-testimonial.png);
  background-size: cover;
  padding-top: 4rem;
  padding-bottom: 6rem;
  margin-top: 3.3rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.title-test {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.title-test h1 {
  color: #fff;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: -0.1rem;
}

.div-test {
  background: #d9d9d9;
  width: 71.5rem;
  height: 25.7rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.l {
  border-radius: 0 3.75rem 3.75rem 0;
  align-self: flex-start;
  margin-bottom: 5rem;
  margin-top: 3rem;
}

.r {
  border-radius: 3.75rem 0 0 3.75rem;
  align-self: flex-end;
}

.text-div-test {
  height: 50%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.text-p-test {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: start;
}

.text-p-test h3 {
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: 700;
}

.text-p-test p {
  color: #000;
  text-align: justify;
  font-family: "Omnes", sans-serif;
  font-size: 20px;
  font-weight: 300;
}

.exp {
  color: #000;
  text-align: justify;
  font-family: "Omnes", sans-serif;
  font-size: 20px;
  font-style: italic;
  font-weight: 300;
}

.div-test img {
  width: 25.6875rem;
  height: 25.6875rem;
}

.le {
  border-radius: 0 3.75rem 3.75rem 0;
}

.ri {
  border-radius: 3.75rem 0 0 3.75rem;
}
/* end - section testimonial */
/* Responsive adjustments for screens smaller than 768px */
@media (max-width: 768px) {
  @media (max-width: 768px) {
    .div-test {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: auto;
      padding: 1rem;
    }
  
    .div-test img {
      width: 80%; /* Ajusta a largura da imagem para 80% */
      max-width: 300px; /* Define a largura máxima */
      height: auto;
      border-radius: 3.75rem; /* Adiciona o arredondamento de borda */      
      margin-bottom: 1rem; /* Espaçamento abaixo da imagem */
    }
  
    .text-div-test {
      width: 100%;
      padding: 1rem;
      text-align: center; /* Centraliza o texto */
    }
  
    .text-p-test {
      text-align: center; /* Centraliza o texto */
    }
  }
}
/* end - section testimonial */
