/* body {
  margin: 0;
  line-height: normal;
} */

body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-roboto: Roboto;
  --font-istok-web: "Istok Web";

  /* font sizes */
  --font-size-21xl: 2.5rem;
  --font-size-13xl: 2rem;
  --font-size-5xl: 1.5rem;
  --font-size-17xl: 2.25rem;
  --font-size-6xl: 1.563rem;
  --font-size-xl: 1.25rem;
  --font-size-11xl: 1.875rem;
  --font-size-lg: 1.125rem;

  /* Colors */
  --color-whitesmoke: #f8f8f8;
  --color-black: #000;
  --color-aliceblue: #e1f5fc;
  --color-gainsboro: #d9d9d9;

  /* Gaps */
  --gap-2xl: 1.312rem;
  --gap-xl: 1.25rem;
  --gap-lg: 1.125rem;
  --gap-25xl: 2.75rem;
  --gap-3xl: 1.375rem;

  /* Paddings */
  --padding-25xl: 2.75rem;
  --padding-51xl: 4.375rem;
  --padding-16xl: 2.187rem;
  --padding-9xs: 0.25rem;
  --padding-xl: 1.25rem;
  --padding-12xs: 0.062rem;
  --padding-27xl: 2.875rem;
  --padding-15xl: 2.125rem;
  --padding-315xl: 20.875rem;

  /* Border radiuses */
  --br-3xl: 22px;
  --br-xl: 20px;
  --br-120xl: 139px;
}

:root {
  /* fonts */
  --font-roboto: Roboto;
  --font-poppins: Poppins;
  --font-istok-web: "Istok Web";
  --font-sansation: Sansation;

  /* font sizes */
  --font-size-21xl: 2.5rem;
  --font-size-5xl: 1.5rem;
  --font-size-13xl: 2rem;
  --font-size-31xl: 3.125rem;
  --font-size-11xl: 1.875rem;
  --font-size-xl: 1.25rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.125rem;

  /* Colors */
  --color-whitesmoke: #f8f8f8;
  --color-aliceblue: #f0faff;
  --color-gray: #818181;
  --color-black: #000;
  --color-steelblue: #0079a4;
  --color-deepskyblue-100: #1cc2ff;
  --color-deepskyblue-200: #02a9e7;
  --color-brown: rgba(140, 33, 33, 0);
  --color-indianred: rgba(179, 71, 71, 0);
  --color-white: #fff;

  /* Gaps */
  --gap-base: 1rem;
  --gap-14xl: 2.062rem;
  --gap-3xl: 1.375rem;
  --gap-mini: 0.937rem;
  --gap-mid: 1.062rem;
  --gap-lg: 1.125rem;
  --gap-5xs: 0.5rem;
  --gap-16xl: 2.187rem;
  --gap-71xl: 5.625rem;
  --gap-26xl: 2.812rem;

  /* Paddings */
  --padding-xl: 1.25rem;
  --padding-27xl: 2.875rem;
  --padding-19xl: 2.375rem;
  --padding-39xl: 3.625rem;
  --padding-12xs: 0.062rem;
  --padding-10xs: 0.187rem;
  --padding-7xl: 1.625rem;
  --padding-4xl: 1.437rem;
  --padding-3xl: 1.375rem;
  --padding-11xs: 0.125rem;
  --padding-59xl: 4.875rem;
  --padding-58xl: 4.812rem;
  --padding-32xl: 3.187rem;
  --padding-31xl: 3.125rem;
  --padding-9xs: 0.25rem;
  --padding-smi: 0.812rem;
  --padding-7xs: 0.375rem;
  --padding-11xs-6: 0.1rem;
  --padding-5xl: 1.5rem;
  --padding-sm: 0.875rem;
  --padding-mini: 0.937rem;
  --padding-6xl: 1.562rem;
  --padding-8xs: 0.312rem;
  --padding-75xl: 5.875rem;
  --padding-86xl: 6.562rem;
  --padding-55xl: 4.625rem;
  --padding-97xl: 7.25rem;
  --padding-29xl: 3rem;
  --padding-10xl: 1.812rem;
  --padding-122xl: 8.812rem;
  --padding-73xl: 5.75rem;
  --padding-11xl: 1.875rem;
  --padding-9xl: 1.75rem;

  /* Border radiuses */
  --br-xl: 20px;
  --br-27xl: 46px;
  --br-120xl: 139px;
}

/* START - CARROSSEL */
.carrossel {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
/* END - CARROSSEL */

.fr-section {
  
  color: #007B8D;
  font-size: 40px;
  color: var(--color-steelblue);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
body {
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
}
/*  
.container {
  max-width: 1170px;
  margin: auto;
} */
 
.row {
  display: flex;
  flex-wrap: wrap;
}
 
ul {
  list-style: none;
}
 


.conections{
  display: flex;
  align-items: center;
  max-width: 1500px;
}

.conections h1 {
  position: relative;
  display: inline-block;
}

.conections h1::after {
  content: '';
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  width: 40%;
  border-bottom: 0.3rem solid #562bbb;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  padding-right: 30%;
  background-image: url('../img/img-rapid-low/Rectangle\ 176\ \(1\).png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif;
  color: #fff;
  height: 90vh;
}
.hero-title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  letter-spacing: 0.2rem;

}
.hero-subtitle {
  font-size: 1.3rem;
  margin-bottom: 2rem;
  max-width: 50%;
}
.hero-btn {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  color: #fff;
  background: linear-gradient(to right, #9168FF, #02ADE9);
  border: none;
  border-radius: 5rem;
  cursor: pointer;
  max-width: 30%;
}
.hero-btn:hover{
  background: linear-gradient(to right, #8963f1, #02a3dd);
}

.degrade-icon,
.imagem-principal-icon {
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  bottom: 0;
  max-height: 100%;
}
.imagem-principal-icon {
  width: 109.75rem;
  left: 18.5rem;
  object-fit: cover;
}
.degrade-icon {
  width: 100%;
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  object-fit: contain;
  z-index: 1;
}
.low-code-apps,
.rapid {
  margin: 0;
}
.rapid-low-code-apps-container {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 6.25rem;
  font-weight: 400;
  font-family: inherit;
  text-shadow: 4px 2px 3px rgba(0, 0, 0, 0.17);
  z-index: 2;
}
.low-code-apps-it,
.the-people-soft {
  display: block;
}
.the-people-soft-container {
  margin: 0;
  height: 6.731rem;
  flex: 1;
  position: relative;
  font-size: var(--font-size-5xl);
  font-family: var(--font-roboto);
  color: var(--color-whitesmoke);
  text-align: left;
  display: inline-block;
  max-width: 100%;
  z-index: 2;
}
.people-soft-description,
.rapid-lowcode-description {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.people-soft-description {
  cursor: pointer;
  border: 0;
  padding: 0 0.875rem;
  background-color: transparent;
  width: 27.556rem;
  flex-direction: row;
  box-sizing: border-box;
}
.rapid-lowcode-description {
  width: 43.706rem;
  flex-direction: column;
  gap: 2.306rem;
}
.button-child {
  height: 4.988rem;
  width: 18.663rem;
  position: relative;
  border-radius: var(--br-120xl);
  background: linear-gradient(-90deg, #9168ff, #02ade9);
  display: none;
}
.learn-more {
  text-decoration: none;
  flex: 1;
  position: relative;
  font-size: var(--font-size-17xl);
  font-weight: 700;
  font-family: var(--font-roboto);
  color: var(--color-whitesmoke);
  text-align: center;
  z-index: 1;
}
.button,
.imagens-principais {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.button {
  cursor: pointer;
  border: 0;
  padding: 1.437rem var(--padding-16xl) 0.862rem;
  background-color: transparent;
  width: 18.663rem;
  border-radius: var(--br-120xl);
  background: linear-gradient(-90deg, #9168ff, #02ade9);
  flex-direction: row;
  white-space: nowrap;
  z-index: 2;
}
.imagens-principais {
  margin-right: -33.313rem;
  width: 148.5rem;
  flex-direction: column;
  padding: 7.812rem 41.75rem 7.168rem;
  position: relative;
  gap: 5.212rem;
  max-width: 186%;
  flex-shrink: 0;
  text-align: left;
  font-size: 5.625rem;
  color: var(--color-whitesmoke);
  font-family: var(--font-istok-web);
}
.hero2-child {
  width: 80rem;
  height: 42.813rem;
  position: relative;
  background-color: var(--color-gainsboro);
  display: none;
  max-width: 100%;
}
.applications {
  width: 13.925rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  z-index: 1;
}
.applications-wrapper {
  width: 26.819rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.frame-child {
  align-self: stretch;
  height: 0.313rem;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.frame-parent {
  width: 29.1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 0.625rem;
  max-width: 100%;
}
.hero2-inner {
  width: 64.981rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  max-width: 100%;
}
.peoplesoft-includes-data {
  margin: 0;
  align-self: stretch;
  height: 10.938rem;
  position: relative;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.people-soft-image {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2rem 0 0;
  box-sizing: border-box;
  min-width: 21.188rem;
  max-width: 100%;
}
.image-people-soft-icon {
  height: 13.625rem;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  min-width: 20.875rem;
  flex-shrink: 0;

  z-index: 1;
}
.areas-list {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 3.387rem;
  max-width: 100%;
}
.we-can-cover {
  height: 2.875rem;
  flex: 1;
  position: relative;
  font-weight: 300;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.we-can-cover-many-business-are-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 4.187rem 0 4.25rem;
  box-sizing: border-box;
  max-width: 100%;
}
.applications-title-child {
  width: 0.019rem;
  flex: 1;
  position: relative;
  max-height: 100%;
  object-fit: contain;
  flex-shrink: 0;
  
  z-index: 1;
}
.applications-title {
  height: 6.875rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.187rem 0 0;
  box-sizing: border-box;
}
.financial-management,
.human-capital-management,
.project-portfolio-management,
.supply-and-supplier {
  margin: 0;
}
.human-capital-management-container {
  height: 7.813rem;
  flex: 1;
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 15.75rem;
  flex-shrink: 0;
  
  max-width: 100%;
  z-index: 1;
}
.applications-title-parent {
  width: 25.356rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 1.093rem;
  min-width: 25.356rem;
  max-width: 100%;
}
.frame-item {
  height: 4.688rem;
  width: 0.313rem;
  position: relative;
  object-fit: contain;
  z-index: 1;
}
.enterprise-resource-planning,
.peopletools-tools-and,
.solutions-for-universities {
  margin: 0;
}
.enterprise-resource-planning-container {
  height: 5.188rem;
  position: relative;
  font-weight: 300;
  display: inline-block;
  z-index: 1;
}
.description-container,
.vector-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.vector-parent {
  align-self: stretch;
  flex-direction: row;
  gap: 0.687rem;
}
.description-container {
  width: 25.35rem;
  flex-direction: column;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.areas-list1,
.business-areas-title {
  display: flex;
  gap: var(--gap-xl);
  max-width: 100%;
}
.areas-list1 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  text-align: left;
  font-size: var(--font-size-6xl);
}
.business-areas-title {
  width: 57.381rem;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.business-areas-content,
.business-areas-title-wrapper,
.hero2 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.business-areas-title-wrapper {
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  text-align: center;
}
.business-areas-content,
.hero2 {
  flex-direction: column;
  justify-content: flex-start;
}
.business-areas-content {
  gap: 4.437rem;
  text-align: left;
  font-size: var(--font-size-11xl);
}
.hero2 {
  background-color: var(--color-gainsboro);
  padding: var(--padding-27xl) 5.5rem 3.312rem 6.437rem;
  box-sizing: border-box;
  gap: var(--gap-25xl);
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
.hero3-child {
  height: 18.313rem;
  width: 80rem;
  position: relative;
  background-color: var(--color-aliceblue);
  flex-shrink: 0;
  display: none;
}
.peoplesoft-logo-2-icon {
  height: 11.875rem;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  min-width: 24.688rem;
}
.peoplesoft-has-a {
  margin: 0;
  height: 8.75rem;
  width: 32rem;
  position: relative;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
  min-width: 32rem;
  max-width: 100%;
}
.logo-and-description {
  flex: 1;
  row-gap: 20px;
  max-width: 100%;
}
.hero3-inner,
.logo-and-description,
.logo-and-description-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.logo-and-description-wrapper {
  flex: 1;
  max-width: 100%;
}
.hero3-inner {
  width: 70rem;
  flex-shrink: 0;
  z-index: 1;
}
.hero3,
.people-soft-features {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.hero3 {
  flex: 1;
  background-color: var(--color-aliceblue);
  overflow-x: auto;
  padding: 4.062rem var(--padding-51xl) 2.375rem;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
.people-soft-features {
  align-self: stretch;
  padding: 0 0 5.75rem;
}
.crm-tools-such,
.hcm-peoplesoft-is {
  margin: 0;
  height: 10.938rem;
  flex: 1;
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 18.25rem;
  max-width: 100%;
}
.advantages-cards {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-25xl);
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
.peoplesoft-advantages {
  height: 1.975rem;
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}
.advantages-label {
  width: 26.813rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
  max-width: 100%;
}
.advantages-title-wrapper-child {
  align-self: stretch;
  height: 0.313rem;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.advantages-title-wrapper {
  width: 29rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 0.712rem;
  max-width: 100%;
}
.advantages-cards-parent,
.advantages-title {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.advantages-title {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.advantages-cards-parent {
  width: 59rem;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5.812rem;
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
.rapid-low-code-apps-inner {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 4.625rem;
  box-sizing: border-box;
  max-width: 100%;
}
.group-intuitive-child {
  align-self: stretch;
  width: 80rem;
  position: relative;
  background-color: var(--color-aliceblue);
  display: none;
  max-width: 100%;
}
.intuitive-user-experience,
.peoplesoft-is-fresh {
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  z-index: 1;
}
.intuitive-user-experience {
  width: 28.375rem;
  font-weight: 500;
  max-width: 100%;
}
.peoplesoft-is-fresh {
  margin: 0;
  align-self: stretch;
  height: 6.581rem;
  font-size: var(--font-size-6xl);
  font-weight: 300;
  box-sizing: border-box;
  padding-right: 0;
}
.intuitive-content,
.intuitive-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.intuitive-content {
  align-self: stretch;
  gap: 2.312rem;
}
.intuitive-item {
  width: 35.106rem;
  padding: var(--padding-27xl) 0 0;
  box-sizing: border-box;
  min-width: 35.106rem;
  flex-shrink: 0;
}
.image-143-icon {
  height: 18.363rem;
  width: 29.025rem;
  position: relative;
  border-radius: var(--br-xl) 0 0 var(--br-xl);
  object-fit: cover;
  max-width: 100%;
  z-index: 1;
}
.group-intuitive {
  align-self: stretch;
  background-color: var(--color-aliceblue);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 var(--padding-12xs) 0.012rem 5.625rem;
  box-sizing: border-box;
  flex-shrink: 0;
  max-width: 100%;
  gap: var(--gap-xl);
}
.image-141-icon,
.powerfull-analysis {
  position: relative;
  max-width: 100%;
  z-index: 1;
}
.image-141-icon {
  width: 30.438rem;
  border-radius: 0 var(--br-xl) var(--br-xl) 0;
  max-height: 100%;
  object-fit: cover;
}
.powerfull-analysis {
  width: 23.5rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.harness-the-power,
.powerful-description {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.harness-the-power {
  margin: 0;
  height: 6.563rem;
  flex: 1;
  position: relative;
  font-weight: 300;
  align-items: center;
  padding-left: 0;
  z-index: 1;
}
.powerful-description {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0.5rem 0 0;
  text-align: right;
  font-size: var(--font-size-6xl);
}
.powerful-content,
.powerful-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.powerful-content {
  align-self: stretch;
  align-items: flex-end;
  gap: 1.937rem;
}
.powerful-content-wrapper {
  width: 35.394rem;
  align-items: flex-start;
  padding: 0 0 3.437rem;
  box-sizing: border-box;
  min-width: 35.394rem;
  min-height: 14.875rem;
}
.group-powerful-child {
  height: 18.313rem;
  width: 80rem;
  position: relative;
  background-color: var(--color-whitesmoke);
  display: none;
  max-width: 100%;
  z-index: 1;
}
.group-powerful {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 9.437rem;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 2;
  margin-top: -0.063rem;
  text-align: center;
}
.group-configuration-child {
  align-self: stretch;
  width: 80rem;
  position: relative;
  background-color: var(--color-aliceblue);
  display: none;
  max-width: 100%;
}
.configuration-your-way,
.take-advantage-of {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 1;
}
.configuration-your-way {
  width: 27.188rem;
  font-weight: 500;
  max-width: 100%;
}
.take-advantage-of {
  align-self: stretch;
  height: 6.813rem;
  font-size: var(--font-size-6xl);
  font-weight: 300;
  flex-shrink: 0;
}
.configuration-your-way-parent,
.group-configuration-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.configuration-your-way-parent {
  align-self: stretch;
  gap: 1.5rem;
}
.group-configuration-inner {
  width: 35.125rem;
  padding: 3.25rem 0 0;
  box-sizing: border-box;
  min-width: 35.125rem;
}
.group-configuration-item {
  width: 28.538rem;
  position: relative;
  border-radius: var(--br-xl) 0 0 var(--br-xl);
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
  z-index: 1;
}
.advantages-cards1,
.group-configuration {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.group-configuration {
  background-color: var(--color-aliceblue);
  flex-direction: row;
  justify-content: space-between;
  padding: 0 0 0 5.875rem;
  box-sizing: border-box;
  flex-shrink: 0;
  gap: var(--gap-xl);
  z-index: 3;
  margin-top: -0.063rem;
}
.advantages-cards1 {
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
.imagem-continuous-icon {
  width: 29.188rem;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
  z-index: 1;
}
.continuous-delivery,
.deliver-new-features {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 1;
}
.continuous-delivery {
  width: 26.231rem;
  font-weight: 500;
  max-width: 100%;
}
.deliver-new-features {
  align-self: stretch;
  height: 5.688rem;
  font-size: var(--font-size-6xl);
  font-weight: 300;
  flex-shrink: 0;
  box-sizing: border-box;
  padding-left: 0;
}
.continuous-content,
.continuous-title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.continuous-title {
  align-self: stretch;
  align-items: flex-end;
  gap: 1rem;
}
.continuous-content {
  width: 30.881rem;
  align-items: flex-start;
  padding: 3.937rem 0 0;
  box-sizing: border-box;
  min-width: 30.881rem;
}
.group-continuous-child {
  height: 18.313rem;
  width: 80rem;
  position: relative;
  background-color: var(--color-whitesmoke);
  display: none;
  max-width: 100%;
  z-index: 1;
}
.group-continuous {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12.75rem;
  max-width: 100%;
  z-index: 4;
  text-align: right;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
.background-azul {
  width: 198.563rem;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  bottom: 0;
  left: -30.562rem;
  background: linear-gradient(90deg, #02a9e7 30%, #572abb);
  z-index: 5;
}
.case-study-heading,
.our-work-speaks {
  display: flex;
  justify-content: center;
  max-width: 100%;
}
.our-work-speaks {
  margin: 0;
  width: 46.556rem;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  align-items: center;
  flex-shrink: 0;
  text-shadow: 4px 2px 3px rgba(0, 0, 0, 0.17);
  z-index: 6;
}
.case-study-heading {
  width: 62.306rem;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.blank-line {
  font-family: var(--font-roboto);
}
.at-lymtech-we-created-a-tax-as {
  margin: 0;
  font-family: var(--font-istok-web);
}
.blank-line1,
.p {
  margin: 0;
}
.at-lymtech-we-container {
  align-self: stretch;
  position: relative;
  font-size: 2.188rem;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  flex-shrink: 0;

  z-index: 6;
  font-family: var(--font-roboto);
}
.case-study-heading-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2.65rem;
  max-width: 100%;
}
.client-projects-inner {
  width: 68.938rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-16xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  font-size: 3.75rem;
  color: var(--color-whitesmoke);
  font-family: var(--font-istok-web);
}
.want-to-know {
  width: 56.138rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  flex-shrink: 0;

  max-width: 105%;
  z-index: 6;
}
.want-to-know-more-about-those-wrapper {
  width: 53.888rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-9xs);
  box-sizing: border-box;
  max-width: 100%;
}
.button-2-child {
  height: 4.119rem;
  width: 17.363rem;
  position: relative;
  border-radius: var(--br-3xl);
  background-color: var(--color-whitesmoke);
  display: none;
}
.frame-inner,
.learn-more1 {
  position: relative;
  z-index: 1;
}
.learn-more1 {
  flex: 1;
  font-size: 1.813rem;
  font-family: var(--font-roboto);
  color: #4742c3;
  text-align: center;
  white-space: nowrap;
}
.frame-inner {
  width: 1.481rem;
  height: 0.919rem;
}
.button-2,
.button-2-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1.05rem 0 0;
}
.button-2 {
  cursor: pointer;
  border: 0;
  padding: 0.981rem 1.687rem 0.925rem 2.25rem;
  background-color: var(--color-whitesmoke);
  width: 17.363rem;
  border-radius: var(--br-3xl);
  flex-direction: row;
  box-sizing: border-box;
  gap: 0.968rem;
  flex-shrink: 0;
  z-index: 7;
}
.case-study-button,
.client-projects,
.rapid-low-code-apps {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.case-study-button {
  flex-direction: row;
  row-gap: 20px;
  max-width: 100%;
}
.client-projects,
.rapid-low-code-apps {
  position: relative;
  flex-direction: column;
}
.client-projects {
  padding: var(--padding-25xl) var(--padding-51xl) 2.068rem;
  box-sizing: border-box;
  gap: 7.5rem;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-21xl);
  color: #fff;
  font-family: var(--font-istok-web);
}
.rapid-low-code-apps {
  width: 100%;
  background-color: var(--color-whitesmoke);
  overflow: hidden;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1225px) {
  .imagens-principais {
    padding-left: var(--padding-315xl);
    padding-right: var(--padding-315xl);
    box-sizing: border-box;
  }
  .business-areas-content {
    gap: 2.188rem;
  }
  .image-143-icon,
  .intuitive-item {
    flex: 1;
  }
  .group-intuitive {
    flex-wrap: wrap;
    justify-content: center;
  }
  .image-141-icon,
  .powerful-content-wrapper {
    flex: 1;
  }
  .group-powerful {
    flex-wrap: wrap;
    gap: 4.688rem;
  }
  .group-configuration-inner,
  .group-configuration-item {
    flex: 1;
  }
  .group-configuration {
    flex-wrap: wrap;
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .continuous-content,
  .imagem-continuous-icon {
    flex: 1;
  }
  .group-continuous {
    flex-wrap: wrap;
    gap: 6.375rem;
  }
  .case-study-button {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1050px) {
  .we-can-cover-many-business-are-wrapper {
    padding-left: var(--padding-15xl);
    padding-right: 2.063rem;
    box-sizing: border-box;
  }
  .applications-title-parent {
    flex: 1;
  }
  .areas-list1 {
    flex-wrap: wrap;
    justify-content: center;
  }
  .peoplesoft-has-a {
    flex: 1;
  }
  .logo-and-description {
    flex-wrap: wrap;
  }
  .advantages-cards-parent {
    gap: 2.875rem;
  }
}
@media screen and (max-width: 750px) {
  .rapid-low-code-apps-container {
    font-size: 2.813rem;
    line-height: 3.75rem;
  }
  .rapid-lowcode-description {
    gap: var(--gap-lg);
  }
  .imagens-principais {
    gap: 2.625rem;
    padding: 5.063rem 10.438rem 4.688rem;
    box-sizing: border-box;
  }
  .applications {
    font-size: var(--font-size-13xl);
  }
  .peoplesoft-includes-data {
    font-size: var(--font-size-5xl);
  }
  .people-soft-image {
    min-width: 100%;
  }
  .areas-list {
    gap: 1.688rem;
  }
  .we-can-cover {
    font-size: var(--font-size-5xl);
  }
  .applications-title-parent {
    min-width: 100%;
  }
  .business-areas-content {
    gap: var(--gap-lg);
  }
  .hero2 {
    gap: var(--gap-3xl);
    padding: 1.875rem var(--padding-25xl) var(--padding-15xl) 3.188rem;
    box-sizing: border-box;
  }
  .peoplesoft-logo-2-icon {
    min-width: 100%;
  }
  .peoplesoft-has-a {
    font-size: var(--font-size-5xl);
    min-width: 100%;
  }
  .hero3 {
    padding-left: var(--padding-16xl);
    padding-right: var(--padding-16xl);
    box-sizing: border-box;
  }
  .crm-tools-such,
  .hcm-peoplesoft-is {
    font-size: var(--font-size-5xl);
  }
  .advantages-cards {
    gap: var(--gap-3xl);
  }
  .peoplesoft-advantages {
    font-size: var(--font-size-13xl);
  }
  .advantages-cards-parent {
    gap: 1.438rem;
  }
  .intuitive-user-experience {
    font-size: var(--font-size-13xl);
  }
  .intuitive-content {
    gap: var(--gap-lg);
  }
  .intuitive-item {
    min-width: 100%;
  }
  .group-intuitive {
    padding-left: 2.813rem;
    box-sizing: border-box;
  }
  .powerfull-analysis {
    font-size: var(--font-size-13xl);
  }
  .powerful-content {
    gap: 0.938rem;
  }
  .powerful-content-wrapper {
    min-width: 100%;
  }
  .group-powerful {
    gap: 2.375rem;
  }
  .configuration-your-way {
    font-size: var(--font-size-13xl);
  }
  .group-configuration-inner {
    min-width: 100%;
  }
  .continuous-delivery {
    font-size: var(--font-size-13xl);
  }
  .continuous-content {
    min-width: 100%;
  }
  .group-continuous {
    gap: 3.188rem;
  }
  .our-work-speaks {
    font-size: 3rem;
  }
  .at-lymtech-we-container {
    font-size: 1.75rem;
  }
  .case-study-heading-parent {
    gap: var(--gap-2xl);
  }
  .want-to-know {
    font-size: var(--font-size-13xl);
  }
  .client-projects {
    gap: 3.75rem;
    padding: 1.813rem var(--padding-16xl) 1.375rem;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .rapid-low-code-apps-container {
    font-size: 1.688rem;
    line-height: 2.5rem;
  }
  .the-people-soft-container {
    font-size: 1.188rem;
  }
  .imagens-principais {
    gap: var(--gap-2xl);
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .applications {
    font-size: var(--font-size-5xl);
  }
  .peoplesoft-includes-data,
  .we-can-cover {
    font-size: var(--font-size-lg);
  }
  .human-capital-management-container {
    font-size: var(--font-size-xl);
  }
  .applications-title-parent {
    flex-wrap: wrap;
  }
  .enterprise-resource-planning-container {
    font-size: var(--font-size-xl);
  }
  .hero2 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .peoplesoft-has-a {
    font-size: var(--font-size-lg);
  }
  .people-soft-features {
    padding-bottom: 3.75rem;
    box-sizing: border-box;
  }
  .crm-tools-such,
  .hcm-peoplesoft-is {
    font-size: var(--font-size-lg);
  }
  .peoplesoft-advantages {
    font-size: var(--font-size-5xl);
  }
  .rapid-low-code-apps-inner {
    padding-bottom: 3rem;
    box-sizing: border-box;
  }
  .intuitive-user-experience {
    font-size: var(--font-size-5xl);
  }
  .peoplesoft-is-fresh {
    font-size: var(--font-size-xl);
  }
  .group-intuitive {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .powerfull-analysis {
    font-size: var(--font-size-5xl);
  }
  .harness-the-power {
    font-size: var(--font-size-xl);
  }
  .group-powerful {
    gap: 1.188rem;
  }
  .configuration-your-way {
    font-size: var(--font-size-5xl);
  }
  .take-advantage-of {
    font-size: var(--font-size-xl);
  }
  .continuous-delivery {
    font-size: var(--font-size-5xl);
  }
  .deliver-new-features {
    font-size: var(--font-size-xl);
  }
  .group-continuous {
    gap: 1.563rem;
  }
  .our-work-speaks {
    font-size: var(--font-size-17xl);
  }
  .at-lymtech-we-container {
    font-size: 1.313rem;
  }
  .want-to-know {
    font-size: var(--font-size-5xl);
  }
  .learn-more1 {
    font-size: 1.438rem;
  }
  .client-projects {
    gap: 1.875rem;
  }
}
