/* start - succases page config */
@import url("https://fonts.cdnfonts.com/css/sansation");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.cdnfonts.com/css/nexa-bold?styles=29919,29913");
@import url("https://fonts.cdnfonts.com/css/omnes-2");
@import url("https://fonts.cdnfonts.com/css/lato?styles=170780,170775,170783,170771,170779,170778,170786,170788,170782");

:root {
  font-size: 16px;
}

* {
  padding: 0;
  margin: 0;
}

html {
  width: 100%;
  min-height: 100vh;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  width: inherit;
  height: inherit;
  margin: 0;
}

.container {
  padding: 0;
  width: 65%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.unordered-text li::marker {
  color: #00adbd;
  font-size: 2rem;
}

.sub-unordered-list li::marker {
  color: #173dff;
  font-size: 1.45rem;
}

.mb1 {
  margin-bottom: 1rem;
}

.mb1p3 {
  margin-bottom: 1.3rem;
}

.mb3 {
  margin-bottom: 3rem;
}

.mb4p1 {
  margin-bottom: 4.1rem;
}

.mb6p2 {
  margin-bottom: 6.2rem;
}

.mb10 {
  margin-bottom: 10rem;
}

.mt1 {
  margin-top: 1rem;
}

.mt1p7 {
  margin-top: 1.7rem;
}

.mt3 {
  margin-top: 3rem;
}

.ml1p5 {
  margin-left: 1.5rem;
}

.p0p7 {
  padding: 0.7rem;
}

.color-light-blue {
  color: #002690;
}

.bg-color-light-blue {
  background-color: #e3f2fe;
}
/* end - succases page config */

/* START - Section Banner */
#section-banner-apcd,
#section-banner-safra,
#section-banner-darnel,
#section-banner-ting,
#section-banner-sula {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

#section-banner-apcd {
  height: 34.8rem;
  background-image: url(../img/img-succases/banner-apcd.png);
  background-position: center;
}

#section-banner-safra {
  height: 35.5rem;
  background-image: url(../img/img-succases/banner-safra.png);
  background-position: 100% 30%;
}

#section-banner-darnel {
  height: 34.8rem;
  background-image: url(../img/img-succases/banner-darnel.png);
  background-position: center;
}

#section-banner-ting {
  height: 35.8rem;
  background-image: url(../img/img-succases/banner-ting.png);
  background-position: 100% 20%;
}

#section-banner-sula {
  height: 38rem;
  background-image: url(../img/img-succases/banner-sula.png);
  background-position: center;
}

.text-banner {
  width: 50%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
  color: white;
  font-style: normal;
  text-align: left;
  padding-left: 6rem;
}

.text-banner h3 {
  font-size: 1.8rem;
  text-shadow: 0.5px 0.5px 1px #000;
  font-family: "Nexa", sans-serif;
  color: #19e4ff;
  font-style: inherit;
  text-align: left;
  padding: 0 0 2% 5%;
  font-weight: 700;
}

.text-banner h1 {
  font-family: "Nexa", sans-serif;
  text-shadow: 0.5px 0.5px 1px #000;
  font-size: 5rem;
  font-style: inherit;
  text-align: left;
  font-weight: 700;
  line-height: 5rem;
}

.text-banner p {
  color: inherit;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  text-shadow: 0.5px 0.5px 1px #000;
  text-align: left;
}
/* END - Section Banner */

/* start - section about */
#section-about {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 4.2rem 0;
}

#section-about .container {
  align-items: start;
}

.about-content {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: start;
  justify-content: start;
  gap: 1.5rem;
}

.about-content h1 {
  align-self: center;
  font-size: 3.1rem;
  text-align: center;
  color: #002690;
  font-family: "Nexa", sans-serif;
}

.about-content h3 {
  position: relative;
  width: 100%;
  text-align: left;
  font-family: "Nexa", sans-serif;
  font-size: 2.2rem;
  font-weight: 500;
  color: #002690;
  line-height: normal;
  font-style: normal;
}

.about-content h3::before {
  position: absolute;
  top: 97%;
  left: 0;
  content: "";
  width: 4rem;
  border-bottom: 3.5px solid rgb(74, 34, 160);
}

.about-content p {
  width: 100%;
  align-self: flex-start;
  text-align: justify;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
}

.ordered-wrapper {
  width: 100%;
  display: flex;
  height: max-content;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.ordered-text {
  width: 48%;
  height: max-content;
  gap: 10%;
  display: inherit;
  flex-flow: inherit;
  justify-content: flex-start;
  align-items: center;
}

.ordered-text h4 {
  font-size: 6rem;
  width: 20%;
  text-align: center;
  align-self: flex-start;
  padding: 0;
  color: #002690;
  font-family: "Nexa", sans-serif;
}

.ordered-text p {
  width: 80%;
  align-self: flex-start;
  text-align: left;
}

.ordered-text p strong {
  color: #01aaff;
}

.ordered-wrapper p strong {
  color: black;
}

.unordered-wrapper {
  width: 100%;
  height: max-content;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.unordered-wrapper img {
  height: 25rem;
  object-fit: contain;
  border: 2px solid white;
}

.unordered-text {
  width: 100%;
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
}

.unordered-text p {
  text-align: center;
}

.unordered-text li {
  text-align: inherit;
  font-family: inherit;
  list-style: disc;
}

.sub-unordered-list {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: end;
}

.sub-unordered-list li {
  list-style: circle;
  text-align: left;
  width: 95%;
}

.sub-unordered-list li strong {
  font-weight: 500;
  color: #000;
}

.content-wrapper {
  padding: 2rem 1rem;
  height: 30rem;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.content-box {
  background-color: #f5fafe;
  border-radius: 3rem;
  padding: 0.7rem 1rem 2rem 1rem;
  border: 2px solid #01aaff;
  width: 30%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
}

.content-box h1 {
  font-size: 1.3rem;
  font-family: "Poppins", sans-serif;
  justify-content: flex-start;
}

.content-box span {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: start;
  gap: 5%;
}

.content-box h2 {
  font-family: "Nexa", sans-serif;
  font-size: 1.3rem;
}

.content-box p {
  font-size: 1.1rem;
  text-align: center;
}
/* end - section about */

/* start - section tech */
#section-tech {
  padding: 1.7rem 0 3rem 0;
  width: 100%;
  height: max-content;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  background-color: #f5f5f5;
  gap: 2.3rem;
}

#section-tech h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  text-align: center;
}

.tech-img-apcd {
  width: 65%;
  height: max-content;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.tech-img-safra,
.tech-img-darnel,
.tech-img-ting {
  width: 35%;
  display: inherit;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: max-content;
  margin: 0 auto;
}

.tech-img-apcd img {
  height: 5rem;
  width: auto;
  object-fit: contain;
  margin: 0 auto;
}

.tech-img-safra img,
.tech-img-darnel img,
.tech-img-ting img {
  height: 5rem;
  width: auto;
  object-fit: contain;
}
/* end - section tech */

/* start - media q */
@media screen and (max-width: 1760px) {
  .unordered-wrapper .apcd-mockup {
    height: 20rem;
  }
}

@media screen and (max-width: 1545px) {
  .tech-img-ting {
    width: 100%;
    justify-content: space-evenly;
    gap: 2rem;
  }

  .unordered-wrapper .apcd-mockup {
    height: 15rem;
  }

  .unordered-wrapper .sula-mockup {
    height: 20rem;
  }
}

@media screen and (max-width: 1418px) {
  .content-box p {
    font-size: 0.9rem;
  }

  .tech-img-darnel {
    width: 60%;
  }

  .unordered-wrapper {
    flex-flow: column-reverse nowrap;
    gap: 1.5rem;
  }
}

@media screen and (max-width: 1156px) {
  .content-wrapper {
    flex-flow: column nowrap;
    height: max-content;
  }

  .content-box {
    width: 100%;
    gap: 2rem;
  }

  .content-box span {
    width: inherit;
  }

  .content-box p {
    text-align: left;
  }

  .ordered-wrapper {
    flex-flow: column nowrap;
    gap: 1.5rem;
    margin-bottom: 0;
  }

  .ordered-text {
    flex-flow: row nowrap;
    width: 100%;
  }
}

@media screen and (max-width: 1040px) {
  .tech-img-safra {
    width: 55%;
  }

  .unordered-wrapper .apcd-mockup {
    display: none;
  }

  .tech-img-apcd {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
  }
}

@media screen and (max-width: 850px) {
  #section-banner-safra,
  #section-banner-ting,
  #section-banner-apcd,
  #section-banner-darnel,
  #section-banner-sula {
    align-items: center;
    justify-content: center;
  }

  .text-banner {
    margin: 0;
    padding: 0;
    align-items: center;
    width: 50%;
  }

  .text-banner h3 {
    text-align: center;
    padding: 0;
  }

  .text-banner h1 {
    text-align: center;
    font-size: 3.7rem;
  }

  .text-banner p {
    text-align: center;
  }

  .about-content h1 {
    font-size: 2rem;
  }

  .unordered-wrapper .sula-mockup {
    height: 15rem;
  }

  #section-tech h1 {
    font-size: 2.1rem;
  }

  .tech-img-darnel {
    flex-flow: column nowrap;
    gap: 3.5rem;
  }
}

@media screen and (max-width: 665px) {
  #section-banner-sula {
    height: max-content;
    padding: 3rem 0;
  }
}

@media screen and (max-width: 570px) {
  .tech-img-apcd {
    grid-template-columns: repeat(1, 1fr);
    margin: 0 auto;
  }

  .tech-img-safra,
  .tech-img-ting {
    height: max-content;
    flex-flow: column nowrap;
    gap: 2rem;
  }

  .tech-img-safra img,
  .tech-img-ting img {
    height: 6rem;
  }

  .unordered-wrapper .sula-mockup {
    height: 10rem;
  }
}

@media screen and (max-width: 417px) {
  .text-banner p {
    font-size: 1rem;
  }

  .about-content h1 {
    font-size: 1.6rem;
  }

  .about-content h3 {
    font-size: 1.5rem;
    text-align: center;
  }

  .about-content h3::before {
    width: 100%;
  }

  .about-content p {
    font-size: 1rem;
    text-align: center;
  }

  .unordered-text li {
    font-size: 1.1rem;
  }

  #section-tech h1 {
    font-size: 1.5rem;
  }

  #section-tech img {
    width: 4.9rem;
  }

  .content-box span {
    flex-flow: column nowrap;
    align-items: center;
  }
}

@media screen and (max-width: 360px) {
  #section-banner-safra {
    height: max-content;
    padding: 1.5rem;
  }

  .text-banner {
    gap: 0.8rem;
    width: 70%;
  }

  .text-banner h1 {
    font-size: 2rem;
    line-height: normal;
  }

  .about-content h1 {
    font-size: 1.4rem;
  }

  .about-content h3 {
    font-size: 1.3rem;
  }

  .unordered-text li {
    font-size: 0.9rem;
  }
}
/* end - media q */
