/* start - work page config */
@import url("https://fonts.cdnfonts.com/css/sansation");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.cdnfonts.com/css/nexa-bold?styles=29919,29913");
@import url("https://fonts.cdnfonts.com/css/omnes-2");
@import url("https://fonts.cdnfonts.com/css/lato?styles=170780,170775,170783,170771,170779,170778,170786,170788,170782");

:root {
  font-size: 16px;
}

* {
  padding: 0;
  margin: 0;
}

html {
  width: 100%;
  min-height: 100vh;
  scroll-behavior: smooth;
}

body {
  width: inherit;
  height: inherit;
  margin: 0;
}

.container {
  padding: 0;
  width: 65%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
/* end - work page config */

/* start - banner */
.section-banner-work {
  height: 46rem;
  background-image: url(../img/images-work/banner-work.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: start;
  width: 100%;
  padding: 0;
  margin: 0;
}

.text-banner {
  margin: 8% 0 0 17%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 3.5rem;
  height: auto;
  width: 40rem;
}

.wrapper-title-banner {
  width: auto;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.title-banner {
  margin: inherit;
  color: white;
  width: auto;
  height: auto;
  font-size: 5rem;
  font-weight: 700;
  font-family: "Nexa", sans-serif;
}

.subtitle-banner {
  font-family: "Omnes", sans-serif;
  font-size: 1.7rem;
  font-weight: 300;
  color: white;
  height: auto;
  width: 100%;
}

.subtitle-banner strong {
  font-weight: 500;
}

.btn-banner {
  text-decoration: none;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  color: #ffffff;
  border: 0;
  padding: 1.2rem 3rem;
  border-radius: 139px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
  background-color: #5b1ffe;
  transition: background-color 0.3s ease;
}

.btn-banner:hover {
  background-color: #fff;
  color: #5b1ffe;
}
/* end - banner */

/* start - success cases */
#section-success-cases {
  width: inherit;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

#section-success-cases .container {
  gap: 2rem;
  padding: 10.5rem 0;
}

.succases-span {
  width: 100%;
  height: 40%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: inherit;
}

.succases-box {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: start;
  width: 45%;
  height: 29rem;
  padding: 0.8rem 0.5rem 3rem;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 0.7rem;
}

.succases-img {
  display: flex;
  margin: 0;
  border: 0;
  border-radius: inherit;
  padding: 0;
  height: 55%;
  width: 100%;
  margin-bottom: 0.5rem;
}

.apcd-img,
.safra-img,
.darnel-img,
.tienda-img,
.sulamerica-img,
.blank {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.apcd-img {
  background-image: url(../img/images-work/w-apcd.jpg);
}

.safra-img {
  background-image: url(../img/images-work/w-safra.png);
}

.darnel-img {
  background-image: url(../img/images-work/w-darnel.png);
}

.tienda-img {
  background-image: url(../img/images-work/w-tienda.png);
}

.sulamerica-img {
  background-image: url(../img/images-work/w-sulamerica.png);
}

.blank {
  background-image: url(../img/images-work/w-blank.png);
}

.succases-box h1 {
  color: #030384;
  align-self: flex-start;
  font-family: "Nexa", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 8px;
  text-align: center;
  width: 100%;
}

.succases-box p {
  font-size: 1rem;
  font-weight: 300;
  text-align: justify;
  font-family: "Poppins", sans-serif;
}

.succases-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: transparent;
  border: 0;
  border-radius: inherit;
  transition: box-shadow 0.45s ease;
  box-shadow: 0 0.875rem 1.9375rem 0 rgba(0, 0, 0, 0.1);
}

.succases-link:hover {
  box-shadow: 0rem 0.875rem 1.9375rem 0rem rgba(0, 0, 0, 0.25);
}
/* end - success cases */

/* start - SEPARATOR */
.separator-strip {
  height: max-content;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #02a9e7, #572abb);
  color: white;
  padding: 3.4rem;
  margin: 3.5rem 0;
}

.separator-strip h1 {
  font-size: 3rem;
  word-spacing: 0.7rem;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.separator-strip button {
  width: 15rem;
  height: 4rem;
  background-color: #f8f8f8;
  color: #4742c3;
  border: none;
  font-size: 29px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 1rem;
}

.separator-strip button:hover {
  background-color: transparent;
  border: 2px solid #f8f8f8;
  color: #f8f8f8;
}
/* end - SEPARATOR */

/* stat - media */
@media screen and (max-width: 1495px) {
  .succases-box {
    height: 31rem;
  }
}

@media screen and (max-width: 1353px) {
  .succases-box {
    height: 33rem;
  }
}

@media screen and (max-width: 1306px) {
  .succases-span {
    width: 100%;
    flex-flow: column nowrap;
  }
  .succases-box {
    width: 80%;
  }
}

@media screen and (max-width: 1229px) {
  .separator-strip {
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding: 2rem;
  }
}
/* end - media */
