body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-roboto: Roboto;

  /* font sizes */
  --font-size-21xl: 2.5rem;
  --font-size-5xl: 1.5rem;
  --font-size-13xl: 2rem;
  --font-size-11xl: 1.875rem;
  --font-size-lg: 1.125rem;
  --font-size-10xl: 1.813rem;
  --font-size-4xl: 1.438rem;
  --font-size-26xl: 2.813rem;
  --font-size-8xl: 1.688rem;
  --font-size-17xl: 2.25rem;

  /* Colors */
  --color-aliceblue: #f0faff;
  --color-black: #000;
  --color-blue-100: #5921fb;
  --color-blue-200: #5a1ffd;
  --color-white: #fff;
  --color-darkblue: #562bbb;
  --color-deepskyblue: #02a9e7;
  --color-slateblue: #4742c3;
  --color-gainsboro: #d9d9d9;

  /* Gaps */
  --gap-3xl: 1.375rem;
  --gap-11xl: 1.875rem;
  --gap-mini: 0.937rem;
  --gap-xl: 1.25rem;
  --gap-124xl: 8.937rem;
  --gap-17xl: 2.25rem;
  --gap-52xl: 4.437rem;
  --gap-xs: 0.75rem;
  --gap-13xl: 2rem;
  --gap-base: 1rem;
  --gap-5xl: 1.5rem;

  /* Paddings */


  /* Border radiuses */
  --br-3xl: 22px;
}


body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-roboto: Roboto;
  --font-alegreya-sans: "Alegreya Sans";
  --font-istok-web: "Istok Web";

  /* font sizes */
  --font-size-xl: 1.25rem;
  --font-size-base: 1rem;
  --font-size-21xl: 2.5rem;
  --font-size-5xl: 1.5rem;
  --font-size-lg: 1.125rem;
  --font-size-mid: 1.063rem;
  --font-size-11xl: 1.875rem;

  /* Colors */
  --color-whitesmoke: #f8f8f8;
  --color-deepskyblue-100: #1cc2ff;
  --color-deepskyblue-200: #02a9e7;
  --color-brown: rgba(140, 33, 33, 0);
  --color-indianred: rgba(179, 71, 71, 0);
  --color-steelblue-100: #0079a4;
  --color-black: #000;
  --color-midnightblue: #000555;
  --color-gray: rgba(0, 0, 0, 0.2);

  /* Gaps */
  --gap-base: 1rem;
  --gap-lg: 1.125rem;
  --gap-30xl: 3.062rem;
  --gap-5xl: 1.5rem;
  --gap-xl: 1.25rem;
  --gap-33xl: 3.25rem;
  --gap-7xl: 1.625rem;
  --gap-3xs: 0.625rem;
  --gap-smi: 0.812rem;
  --gap-lg-1: 1.131rem;

  /* Paddings */
  --padding-11xs: 0.125rem;
  --padding-10xs: 0.187rem;
  --padding-xl: 1.25rem;
  --padding-3xl: 1.375rem;
  --padding-8xs: 0.312rem;
  --padding-6xl: 1.562rem;
  --padding-7xl: 1.625rem;
  --padding-5xl: 1.5rem;
  --padding-7xs: 0.375rem;
  --padding-6xs: 0.437rem;
  --padding-2xl: 1.312rem;
  --padding-9xl: 1.75rem;
  --padding-10xl: 1.812rem;
  --padding-smi: 0.812rem;
  --padding-2xs: 0.687rem;
  --padding-sm: 0.875rem;
  --padding-12xs: 0.062rem;
  --padding-5xs: 0.5rem;
  --padding-base: 1rem;
  --padding-4xl: 1.437rem;
  --padding-64xl: 5.187rem;
  --padding-35xl: 3.375rem;
  --padding-5xl-4: 1.525rem;
  --padding-3xs: 0.625rem;
  --padding-13xl: 2rem;
  --padding-33xl: 3.25rem;
  --padding-11xl: 1.875rem;
  --padding-lgi: 1.187rem;
  --padding-xs: 0.75rem;

  /* Border radiuses */
  --br-xl: 20px;
  --br-mid: 17px;
  --br-4xs: 9px;
  --br-120xl: 139px;
}


body {
  /* display: flex;
  flex-direction: column;
  min-height: 100vh; */
  margin: 0;
  line-height: normal;
}

/* START - HEADER */
#headerID {
  /* border: 3px red solid; */
  padding: 0.5rem 2.6rem 0.5rem 2.6rem;
  height: 10vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.logo {
  justify-self: flex-start;
  margin: 0;
  border: none;
  padding: 0;
  object-fit: contain;
}

.div-menu {
  flex-grow: 1;
}

.menu {
  font-size: 27px;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.home,
.services,
.work10,
.insights,
.carrier {
  cursor: pointer;
}

.div-services {
  flex-direction: column;
  align-items: center;
}

.services-main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

.div-insights {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.header-btn {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  border-radius: 1000px;
  border: none;
  background: linear-gradient(-90deg,
      #5b1ffe,
      #413dd4 50%,
      #12a2f3 99.99%,
      #8467c7);
  height: 2.7rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  gap: 2rem;
  cursor: pointer;
}

.text-header-btn {
  font-size: 20px;
  color: #fff;
  justify-self: center;
  align-self: center;
}

/* END - HEADER */

/* START - DROPDOWN MENU  */
.nav-sec {
  background-color: #fff;
  display: none;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 5rem;
  width: 100%;
  padding: 2rem;
}

.dropdown-menu {
  height: 25rem;
  display: none;
  background-color: white;
  border: 1px solid #ccc;
  padding: 0.8rem;
  gap: 2rem;
  z-index: 10;
  position: absolute;

}

.insights-dropdown-menu {
  margin-top: 11rem;
  height: 9rem;
}

.div-services:hover .dropdown-menu,
.div-insights:hover .dropdown-menu {
  display: flex;
  flex-direction: column;
}

.serv-item,
.prod-item,
.ins-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.3rem;
}

.drop-title {
  padding-bottom: 0.3rem;
  color: #12a2f3;
}

.option {
  font-family: "Sansation", sans-serif;
  font-size: 25px;
}

/* END - DROPDOWN MENU */


.imagem-cara-tablet-main-erp-1-icon {
  width: 79.938rem;
  height: 41.306rem;
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-roboto: Roboto;

  /* font sizes */
  --font-size-21xl: 2.5rem;
  --font-size-5xl: 1.5rem;
  --font-size-13xl: 2rem;
  --font-size-11xl: 1.875rem;
  --font-size-lg: 1.125rem;
  --font-size-10xl: 1.813rem;
  --font-size-4xl: 1.438rem;
  --font-size-26xl: 2.813rem;
  --font-size-8xl: 1.688rem;
  --font-size-17xl: 2.25rem;

  /* Colors */
  --color-aliceblue: #f0faff;
  --color-black: #000;
  --color-blue-100: #5921fb;
  --color-blue-200: #5a1ffd;
  --color-white: #fff;
  --color-darkblue: #562bbb;
  --color-deepskyblue: #02a9e7;
  --color-slateblue: #4742c3;
  --color-gainsboro: #d9d9d9;

  /* Gaps */
  --gap-3xl: 1.375rem;
  --gap-11xl: 1.875rem;
  --gap-mini: 0.937rem;
  --gap-xl: 1.25rem;
  --gap-124xl: 8.937rem;
  --gap-17xl: 2.25rem;
  --gap-52xl: 4.437rem;
  --gap-xs: 0.75rem;
  --gap-13xl: 2rem;
  --gap-base: 1rem;
  --gap-5xl: 1.5rem;

  /* Paddings */
  --padding-83xl: 6.375rem;
  --padding-16xl: 2.187rem;
  --padding-68xl: 5.437rem;
  --padding-xl: 1.25rem;
  --padding-24xl: 2.687rem;
  --padding-57xl: 4.75rem;
  --padding-19xl: 2.375rem;
  --padding-71xl: 5.625rem;
  --padding-39xl: 3.625rem;
  --padding-29xl: 3rem;
  --padding-12xl: 1.937rem;
  --padding-47xl: 4.125rem;
  --padding-21xl: 2.5rem;
  --padding-6xl: 1.562rem;
  --padding-28xl: 2.937rem;
  --padding-31xl: 3.125rem;
  --padding-34xl: 3.312rem;
  --padding-7xl: 1.625rem;
  --padding-base: 1rem;
  --padding-lg: 1.125rem;
  --padding-mini: 0.937rem;
  --padding-6xs: 0.437rem;
  --padding-3xl: 1.375rem;
  --padding-79xl: 6.125rem;
  --padding-45xl: 4rem;
  --padding-5xl: 1.5rem;

  /* Border radiuses */
  --br-3xl: 22px;
}


.hero-banner-1-icon {
  width: 119rem;
  position: relative;
  object-fit: cover;
  display: none;
  max-width: 100%;
  z-index: 0;
}

.degrade-1-icon {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 1;
}

.text-banner {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 30rem;
  width: 40rem;
}

.work1 {
  /* border: red solid 3px; */
  color: white;
  margin: 0;
  flex: 1;
  position: relative;
  font-size: 5rem;
  line-height: 120.9%;
  font-weight: 700;
  font-family: "Istok Web";
  text-shadow: 4px 2px 3px rgba(0, 0, 0, 0.3);
}

.work-wrapper {
  width: 14.188rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xs);
  box-sizing: border-box;
}

.work-wrapper h1 {
  margin: 0;
  padding: 0;
  width: 3rem;
}

.learn-how {
  font-family: "Istok Web";
  font-size: 30px;
  font-weight: 400;
  color: white;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.35);
  max-width: 100%;
}

.learn-how-we-helped-our-client-boost-their-business {
  /* width: 38.25rem; */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xs);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-5xl);
  font-family: var(--font-roboto);
}

.button {
  text-align: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.35);
  color: #FFFFFF;
  cursor: pointer;
  border: 0;
  padding: 1rem;
  background-color: transparent;
  width: 22.606rem;
  border-radius: 139px;
  background: linear-gradient(-90deg,
      #5b1ffe,
      #423dd4 50%,
      #12a2f3 99.99%,
      #8467c7);
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
  max-width: 100%;
  font-family: "Istok Web", sans-serif;
  font-weight: 700;
  font-size: 1.75rem;
}

.imagem-principal,
.three-signs-that {
  align-self: stretch;
  display: flex;
}

.imagem-principal {
  height: 90vh;
  background-image: url(../img/images-work/banner_image-transformed.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  max-width: 100%;
  color: var(--color-whitesmoke);
  font-family: var(--font-istok-web);
  padding-left: 7rem;
}

.three-signs-that {
  margin: 0;
  height: 3.313rem;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.icon {
  height: 6.5rem;
  width: 6.5rem;
  position: relative;
  object-fit: cover;
}

.cost-image-wrapper,
.erp-integrates-data {
  align-self: stretch;
  display: flex;
  justify-content: center;
}

.cost-image-wrapper {
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-4xl) 0 var(--padding-xl);
}

.erp-integrates-data {
  height: 10.5rem;
  position: relative;
  align-items: center;
  flex-shrink: 0;
}

.integration-image-wrapper {
  width: 17.938rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.75rem;
}

.icon1 {
  height: 7.444rem;
  width: 6.813rem;
  position: relative;
  object-fit: cover;
}

.erp-systems-automate,
.wrapper {
  align-self: stretch;
  display: flex;
  justify-content: center;
}

.wrapper {
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-xl);
}

.erp-systems-automate {
  height: 8.938rem;
  position: relative;
  align-items: center;
  flex-shrink: 0;
}

.automation-item,
.automation-item-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.automation-item {
  align-self: stretch;
  justify-content: flex-start;
  gap: 1.493rem;
}

.automation-item-wrapper {
  width: 20.063rem;
  justify-content: flex-end;
  padding: 0 2.375rem var(--padding-smi) 0;
  box-sizing: border-box;
  max-width: 100%;
}

.icon2 {
  height: 6.5rem;
  width: 6.5rem;
  position: relative;
  object-fit: cover;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 3.187rem 0 var(--padding-33xl);
}

.erp-systems-can {
  align-self: stretch;
  height: 8.938rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.frame-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 1.812rem;
}

.integration-item-inner {
  width: 12.938rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-5xs);
  box-sizing: border-box;
}

.integration-item,
.integration-item-wrapper {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}

.integration-item {
  align-items: flex-end;
  justify-content: center;
  gap: 3.375rem;
}

.integration-item-wrapper {
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 3.812rem;
  box-sizing: border-box;
  font-size: var(--font-size-lg);
}

.three-signs-that-erp-will-impr-parent {
  width: 66.25rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-33xl);
  max-width: 100%;
}

.hero-banner-1-icon {
  width: 100%;
  height: auto;
  max-width: 100%;
  object-fit: cover;
  z-index: 0;
}

.hero-2-child {
  height: 29.938rem;
  width: 79.875rem;
  position: relative;
  background-color: var(--color-gainsboro);
  display: none;
  max-width: 100%;
}

.about,
.the-client {
  margin: 0;
}

.about-the-client-container,
.frame-child {
  position: relative;
  z-index: 1;
}

.frame-child {
  align-self: stretch;
  height: 0.188rem;
  border-top: 3px solid var(--color-darkblue);
  box-sizing: border-box;
}

.apcd-logo-principal-1-icon {
  width: 10.125rem;
  flex: 1;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  z-index: 1;
}

.about-the-client-parent,
.line-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.line-parent {
  align-self: stretch;
  flex: 1;
  gap: var(--gap-3xl);
}

.about-the-client-parent {
  height: 15.938rem;
  width: 13.75rem;
  gap: var(--gap-xs);
  min-width: 13.75rem;
}

.apcd-holds-an {
  align-self: stretch;
  height: 18.188rem;
  position: relative;
  display: flex;
  align-items: center;
  z-index: 1;
}

.apcd-holds-an-annual-congress-wrapper,
.hero-2,
.hero-2-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}

.apcd-holds-an-annual-congress-wrapper {
  flex: 1;
  flex-direction: column;
  padding: 0.562rem 0 0;
  min-width: 22.125rem;
  font-size: var(--font-size-11xl);
}

.hero-2,
.hero-2-wrapper {
  flex-direction: row;
}

.hero-2 {
  flex: 1;
  background-color: var(--color-gainsboro);
  padding: 5.625rem 10.625rem 5.562rem 13.437rem;
  gap: 8rem;
}

.hero-2-wrapper {
  align-self: stretch;
  padding: 0 0 0 0.125rem;
}

.hero3-child {
  width: 79.875rem;
  height: 23.75rem;
  position: relative;
  background-color: var(--color-blue-100);
  display: none;
  max-width: 100%;
}

.the-solution {
  position: relative;
  z-index: 1;
}

.lymtech-helped-in,
.the-solution-wrapper {
  width: 68.25rem;
  display: flex;
  max-width: 100%;
}

.the-solution-wrapper {
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.lymtech-helped-in {
  height: 11.25rem;
  position: relative;
  font-size: var(--font-size-11xl);
  align-items: center;
  z-index: 1;
}

.hero3 {
  background-color: var(--color-blue-100);
  display: flex;
  /* Mudado de inline para flex */
  flex-direction: column;
  /* Se necessário, alinhe os itens em coluna */
  align-items: center;
  /* Centraliza os itens verticalmente */
  justify-content: center;
  /* Centraliza os itens horizontalmente */
  padding: 3rem 5.437rem 5rem;
  box-sizing: border-box;
  gap: var(--gap-xs);
  z-index: 2;
  margin-top: -2rem;
  color: var(--color-white);
  /* Opcional: faz com que o contêiner ocupe toda a altura da viewport */
}

.frame-parent,
.hero3,
.image-128-icon {
  align-self: stretch;
  max-width: 100%;
}

.frame-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-71xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-poppins);
}

.image-128-icon {
  flex: 1;
  position: relative;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  mix-blend-mode: multiply;
}

.image-128-wrapper {
  height: 44.625rem;
  width: 21.25rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2.25rem 0 0;
  box-sizing: border-box;
  min-width: 21.25rem;
  max-width: 100%;
}

.the-event-could,
.the-result {
  position: relative;
}

.the-event-could {
  align-self: stretch;
  color: var(--color-black);
}

.the-result-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-11xl);
  min-width: 27.188rem;
  max-width: 100%;
}

.frame-group,
.work-inner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}

.frame-group {
  width: 68.813rem;
  justify-content: flex-start;
  gap: 5.75rem;
}

.work-inner {
  align-self: stretch;
  justify-content: center;
  padding: 4.5rem 1.25rem 4.5rem 2.812rem;
  box-sizing: border-box;
  text-align: right;
  font-size: var(--font-size-21xl);
  color: var(--color-blue-200);
  font-family: var(--font-poppins);
}

.hero5-child {
  width: 79.875rem;
  height: 16.563rem;
  position: relative;
  background-color: var(--color-aliceblue);
  display: none;
  max-width: 100%;
}

.thechnology-stack {
  position: relative;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}

.azure-logo-794-new-1-icon {
  height: 4.375rem;
  width: 4.563rem;
  position: relative;
  object-fit: cover;
  min-height: 4.375rem;
  z-index: 1;
}

.r-1-icon {
  align-self: stretch;
  width: 7.581rem;
  max-height: 100%;
}

.python-logo-2-1-icon,
.r-1-icon,
.sap-logo-1-icon {
  position: relative;
  object-fit: cover;
  min-height: 4.375rem;
  z-index: 1;
}

.python-logo-2-1-icon {
  height: 4.375rem;
  width: 4.131rem;
}

.sap-logo-1-icon {
  align-self: stretch;
  width: 8.875rem;
  max-height: 100%;
}

.azure-logo-794-new-1-parent,
.hero5,
.hero5-inner {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}

.azure-logo-794-new-1-parent {
  width: 32.25rem;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}

.hero5,
.hero5-inner {
  align-self: stretch;
  box-sizing: border-box;
}

.hero5-inner {
  flex-direction: row;
  justify-content: center;
  padding: 0 0 0 var(--padding-5xl);
}

.hero5 {
  background-color: var(--color-aliceblue);
  flex-direction: column;
  justify-content: flex-start;
  padding: 2.5rem 5.437rem 3.875rem;
  gap: 2.062rem;
  text-align: right;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-poppins);
}

.hero6-child {
  height: 10.063rem;
  width: 79.875rem;
  position: relative;
  background-color: var(--color-deepskyblue);
  display: none;
  max-width: 100%;
}

.want-to-know {
  align-self: stretch;
  position: relative;
  z-index: 1;
}

.want-to-know-more-about-those-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) 0 0;
  box-sizing: border-box;
  min-width: 35.438rem;
  max-width: 100%;
}

.button-talk-child {
  height: 4.188rem;
  width: 16.875rem;
  position: relative;
  border-radius: var(--br-3xl);
  background-color: var(--color-white);
  display: none;
}

.frame-item,
.lets-talk {
  position: relative;
  z-index: 1;

  /* right: 5px; */
}

.lets-talk {
  flex: 1;
  font-size: var(--font-size-10xl);
  font-family: var(--font-roboto);
  color: var(--color-slateblue);
  text-align: center;
}

.frame-item {
  width: 1.75rem;
  bottom: 8px;
  /* height: ; */
}

.button-talk,
.button-talk-inner,
.hero6 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.button-talk-inner {
  flex-direction: column;
  padding: var(--padding-lg) 0 0;
}

.button-talk,
.hero6 {
  flex-direction: row;
  box-sizing: border-box;
}

.button-talk {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) var(--padding-lg) var(--padding-mini) var(--padding-16xl);
  background-color: var(--color-white);
  width: 16.875rem;
  border-radius: var(--br-3xl);
  gap: var(--gap-5xl);
  z-index: 1;
}

.hero6 {
  align-self: stretch;
  background-color: var(--color-deepskyblue);
  flex-wrap: wrap;
  padding: 2.125rem 2.125rem 2.937rem 3.125rem;
  gap: var(--gap-13xl);
  max-width: 100%;
}

.about1,
.the-client1 {
  margin: 0;
}

.about-the-client-container1,
.frame-inner {
  position: relative;
}

.frame-inner {
  align-self: stretch;
  height: 0.188rem;
  border-top: 3px solid var(--color-darkblue);
  box-sizing: border-box;
}

.apcd-logo-principal-2-icon {
  height: auto;
  /* Defina a altura como automática para manter a proporção */
  width: 100%;
  /* Defina a largura como 100% para garantir que a imagem se ajuste ao contêiner pai */
  max-width: 100%;
  /* Garanta que a imagem não ultrapasse o contêiner pai */
  flex: 1;
  /* Permita que a imagem ocupe todo o espaço disponível no contêiner pai */
  position: relative;
  overflow: hidden;
  /* Oculte qualquer conteúdo que possa transbordar do contêiner */
}

.apcd-logo-principal-2-wrapper {
  cursor: pointer;
  border: 0;
  padding: 0 var(--padding-3xl);
  background-color: transparent;
  width: 12.875rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}

.line-group {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-3xl);
}

.about-the-client-group,
.frame-div,
.line-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about-the-client-group {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-xs);
}

.frame-div {
  width: 13.75rem;
  justify-content: flex-end;
  padding: 0 0 0.5rem;
  box-sizing: border-box;
  min-width: 13.75rem;
}

.banco-safra-is-one-of-the-ten2,
.the-challenge-we-had-was-to-in {
  margin: 0;
}

.banco-safra-is-one-of-the-ten1 {
  width: 100%;
}

.banco-safra-is-one-of-the-ten {
  height: 18.188rem;
  width: 34.063rem;
  position: relative;
  font-size: var(--font-size-11xl);
  display: flex;
  align-items: center;
  flex-shrink: 0;
  min-width: 34.063rem;
  max-height: 18.188rem;
  word-break: break-word;
  max-width: 100%;
}

.frame-container {
  width: 56.813rem;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}

.frame-wrapper,
.hero6-parent {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}

.frame-wrapper {
  width: 78.563rem;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-11xl);
  padding: 0 0 8.437rem;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-poppins);
}

.hero6-parent {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 7.125rem;
  gap: 4.312rem;
  text-align: left;
  font-size: var(--font-size-26xl);
  color: var(--color-white);
  font-family: var(--font-roboto);
  /* box-sizing: border-box; */
}

.hero-8-child {
  width: 79.875rem;
  height: 23.75rem;
  position: relative;
  background-color: var(--color-blue-100);
  display: none;
  max-width: 100%;
}

.the-solution1 {
  position: relative;
  z-index: 1;
}

.the-solution-container {
  width: 68.25rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  max-width: 100%;
}

.we-created-an,
.we-found-a {
  margin: 0;
}

.we-created-an-container1 {
  width: 100%;
}

.we-created-an-container {
  width: 68.25rem;
  position: relative;
  font-size: var(--font-size-11xl);
  display: flex;
  align-items: center;
  max-width: 100%;
  z-index: 1;
}

.hero-8,
.hero-8-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}

.hero-8 {
  flex: 1;
  background-color: var(--color-blue-100);
  display: flex;
  /* Certifique-se de que o display seja flex */
  flex-direction: column;
  /* Mantém os itens alinhados em coluna */
  align-items: center;
  /* Centraliza os itens verticalmente */
  justify-content: center;
  /* Centraliza os itens horizontalmente */
  padding: 1.5rem 5.437rem 2.562rem;
  gap: var(--gap-11xl);
  box-sizing: border-box;
  /* Certifique-se de que o box-sizing esteja configurado */
  /* Opcional: faz com que o contêiner ocupe toda a altura da viewport */
}

.hero-8-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 var(--padding-79xl);
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-white);
  font-family: var(--font-poppins);
}

.the-result1 {
  position: relative;
  z-index: 1;
}

.the-software-developed,
.we-work-under {
  margin: 0;
}

.we-work-under-container {
  align-self: stretch;
  position: relative;
  color: var(--color-black);
}

.the-result-group {
  width: 41.813rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  max-width: 100%;
}

.work-child {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 6.125rem 1.25rem 6.125rem 5.937rem;
  box-sizing: border-box;
  max-width: 100%;
  text-align: right;
  font-size: var(--font-size-21xl);
  color: var(--color-blue-200);
  font-family: var(--font-poppins);
}

.hero-10-child {
  width: 79.875rem;
  height: 16.563rem;
  position: relative;
  background-color: var(--color-aliceblue);
  display: none;
  max-width: 100%;
}

.thechnology-stack1 {
  position: relative;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}

.image-130-icon,
.image-135-icon {
  align-self: stretch;
  width: 100%;
  /* Defina a largura como 100% para ajustar a imagem ao contêiner pai */
  position: relative;
  /* max-height: 100%; */
  /* Remova essa linha para permitir que a altura da imagem seja maior que o contêiner pai */
  object-fit: contain;
  /* Use 'contain' para garantir que a imagem seja totalmente visível, mesmo que não preencha todo o contêiner */
  min-height: 4.375rem;
  z-index: 1;
}

.image-130-icon {
  width: 13.925rem;
}

.hero-10,
.hero-10-inner,
.image-135-parent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}

.image-135-parent {
  width: 27.175rem;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}

.hero-10,
.hero-10-inner {
  align-self: stretch;
  box-sizing: border-box;
}

.hero-10-inner {
  flex-direction: row;
  justify-content: center;
  padding: 0 0 0 0.062rem;
}

.hero-10 {
  background-color: var(--color-aliceblue);
  flex-direction: column;
  justify-content: flex-start;
  padding: 2.187rem 3.437rem 4.75rem;
  gap: var(--gap-5xl);
  text-align: right;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-poppins);
}

.hero-11-child {
  height: 10.063rem;
  width: 79.875rem;
  position: relative;
  background-color: var(--color-deepskyblue);
  display: none;
  max-width: 100%;
}

.want-to-know1 {
  align-self: stretch;
  position: relative;
  z-index: 1;
}

.want-to-know-more-about-those-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) 0 0;
  box-sizing: border-box;
  min-width: 35.438rem;
  max-width: 100%;
}

.button-talk-item {
  height: 4.188rem;
  width: 16.875rem;
  position: relative;
  border-radius: var(--br-3xl);
  background-color: var(--color-white);
  display: none;
}

.arrow-icon,
.lets-talk1 {
  position: relative;
  z-index: 1;
  right: 5px;
}

.lets-talk1 {
  flex: 1;
  font-size: var(--font-size-10xl);
  font-family: var(--font-roboto);
  color: var(--color-slateblue);
  text-align: center;
}

.arrow-icon {
  width: 1.75rem;
  bottom: 8px;
  /* height: ; */
  /* height: 2rem; */
}

.button-talk-inner1,
.button-talk1,
.hero-11 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.button-talk-inner1 {
  flex-direction: column;
  padding: var(--padding-lg) 0 0;
}

.button-talk1,
.hero-11 {
  flex-direction: row;
  box-sizing: border-box;
}

.button-talk1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) var(--padding-lg) var(--padding-mini) var(--padding-16xl);
  background-color: var(--color-white);
  width: 16.875rem;
  border-radius: var(--br-3xl);
  gap: var(--gap-5xl);
  z-index: 1;
}

.hero-11 {
  align-self: stretch;
  background-color: var(--color-deepskyblue);
  flex-wrap: wrap;
  padding: 2rem 2.125rem 2.937rem 3.125rem;
  gap: var(--gap-13xl);
  max-width: 100%;
  z-index: 2;
}

.about2,
.the-client2 {
  margin: 0;
}

.about-the-client-container2,
.line-div {
  position: relative;
}

.line-div {
  align-self: stretch;
  height: 0.188rem;
  border-top: 3px solid var(--color-darkblue);
  box-sizing: border-box;
}

.apcd-logo-principal-3-icon {
  height: 6.125rem;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}

.apcd-logo-principal-3-wrapper {
  cursor: pointer;
  border: 0;
  padding: 0 var(--padding-3xl);
  background-color: transparent;
  width: 12.875rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}

.about-the-client-parent1,
.line-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.line-container {
  align-self: stretch;
  gap: var(--gap-3xl);
}

.about-the-client-parent1 {
  width: 13.75rem;
  gap: var(--gap-xs);
  min-width: 13.75rem;
}

.darnel-is-a {
  height: 12.563rem;
  width: 34.063rem;
  position: relative;
  font-size: var(--font-size-11xl);
  display: flex;
  align-items: center;
  flex-shrink: 0;
  min-width: 34.063rem;
  max-width: 100%;
}

.frame-parent1,
.frame-wrapper1,
.hero-11-parent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}

.frame-parent1 {
  width: 55.813rem;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}

.frame-wrapper1,
.hero-11-parent {
  align-self: stretch;
  box-sizing: border-box;
}

.frame-wrapper1 {
  flex-direction: row;
  justify-content: center;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-poppins);
}

.hero-11-parent {
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 8.437rem;
  gap: var(--gap-124xl);
  text-align: left;
  font-size: var(--font-size-26xl);
  color: var(--color-white);
  font-family: var(--font-roboto);
}

.hero-13-child {
  width: 79.875rem;
  height: 26.25rem;
  position: relative;
  background-color: var(--color-blue-100);
  display: none;
  max-width: 100%;
}

.the-solution2 {
  position: relative;
  z-index: 1;
}

.the-solution-frame {
  width: 68.25rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  max-width: 100%;
}

.stock-control-invoicing,
.we-help-to {
  margin: 0;
}

.we-help-to-container1 {
  width: 100%;
}

.we-help-to-container {
  width: 68.25rem;
  height: 11.25rem;
  position: relative;
  font-size: var(--font-size-11xl);
  display: flex;
  align-items: center;
  max-width: 100%;
  z-index: 1;
}

.hero-13,
.hero-13-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}

.hero-13 {
  /* border: red 3px solid; */
  flex: 1;
  background-color: var(--color-blue-100);
  display: flex;
  /* Certifique-se de que o display seja flex */
  flex-direction: column;
  /* Mantém os itens alinhados em coluna */
  align-items: center;
  /* Centraliza os itens verticalmente */
  justify-content: center;
  /* Centraliza os itens horizontalmente */
  padding: 3rem 3.437rem 5.375rem;
  gap: var(--gap-11xl);
  box-sizing: border-box;
  /* Certifique-se de que o box-sizing esteja configurado */
  /* Opcional: faz com que o contêiner ocupe toda a altura da viewport */
}

.hero-13-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 var(--padding-71xl);
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-white);
  font-family: var(--font-poppins);
}

.image-132-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}

.image-132-wrapper {
  height: 36.75rem;
  width: 18.313rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1.312rem 0 0;
  box-sizing: border-box;
  min-width: 18.313rem;
}

.the-result2,
.we-automate-and {
  position: relative;
}

.we-automate-and {
  align-self: stretch;
  color: var(--color-black);
}

.the-result-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  min-width: 27.188rem;
  max-width: 100%;
}

.frame-parent2,
.frame-section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}

.frame-parent2 {
  width: 66.875rem;
  justify-content: flex-start;
  gap: 6.75rem;
}

.frame-section {
  /* border: 3px solid red; */
  align-self: stretch;
  justify-content: center;
  padding: 3.5rem 1.25rem 0 4.75rem;
  box-sizing: border-box;
  text-align: right;
  font-size: var(--font-size-21xl);
  color: var(--color-blue-200);
  font-family: var(--font-poppins);
}

.hero-15-child {
  width: 79.875rem;
  height: 16.563rem;
  position: relative;
  background-color: var(--color-aliceblue);
  display: none;
  max-width: 100%;
}

.thechnology-stack2 {
  position: relative;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}

.thechnology-stack3 {
  /* Aqui você pode colocar as mesmas propriedades de estilização que foram definidas para .thechnology-stack2 */
  position: relative;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
  font-size: 2.49rem;
  /* Manter o mesmo tamanho de fonte */
  color: var(--color-black);
  font-family: var(--font-poppins);
  font-weight: bold;
}

.image-139-icon,
.image-140-icon {
  align-self: stretch;
  width: 9.781rem;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  min-height: 4.375rem;
  z-index: 1;
}

.image-140-icon {
  width: 13.919rem;
  object-fit: contain;
}

.hero-15,
.hero-15-inner,
.image-139-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}

.image-139-parent {
  width: 29.356rem;
  justify-content: space-between;
  gap: var(--gap-xl);
}

.hero-15,
.hero-15-inner {
  align-self: stretch;
  justify-content: center;
}

.hero-15 {
  /* border: 3px solid red; */
  background-color: var(--color-aliceblue);
  flex-direction: column;
  justify-content: flex-start;
  padding: 2.187rem 4.437rem 1.687rem;
  box-sizing: border-box;
  gap: 2.562rem;
  text-align: right;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-poppins);
}

.hero-16-child {
  height: 10.063rem;
  width: 79.875rem;
  position: relative;
  background-color: var(--color-deepskyblue);
  display: none;
  max-width: 100%;
}

.want-to-know2 {
  align-self: stretch;
  position: relative;
  z-index: 1;
}

.want-to-know-more-about-those-frame {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) 0 0;
  box-sizing: border-box;
  min-width: 35.438rem;
  max-width: 100%;
}

.lets-talk2,
.rectangle-div {
  position: relative;
  display: none;
}

.rectangle-div {
  height: 4.188rem;
  width: 16.875rem;
  border-radius: var(--br-3xl);
  background-color: var(--color-white);
}

.lets-talk2 {
  width: 10.625rem;
  font-size: var(--font-size-10xl);
  font-family: var(--font-roboto);
  color: var(--color-slateblue);
  text-align: center;
  flex-shrink: 0;
}

.button-talk-child1 {
  height: 4.188rem;
  width: 16.875rem;
  position: relative;
  border-radius: var(--br-3xl);
  background-color: var(--color-white);
  display: none;
}

.frame-child1,
.lets-talk3 {
  position: relative;
  z-index: 3;
  right: 5px;
}

.lets-talk3 {
  flex: 1;
  font-size: var(--font-size-10xl);
  font-family: var(--font-roboto);
  color: var(--color-slateblue);
  text-align: center;
}

.frame-child1 {
  bottom: 8px;
  width: 1.75rem;
  /* height: 1.9rem; */
}

.button-talk-inner2,
.button-talk2,
.hero-16 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.button-talk-inner2 {
  flex-direction: column;
  padding: var(--padding-lg) 0 0;
}

.button-talk2,
.hero-16 {
  flex-direction: row;
  box-sizing: border-box;
  z-index: 2;
}

.button-talk2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) var(--padding-lg) var(--padding-mini) var(--padding-16xl);
  background-color: var(--color-white);
  width: 16.875rem;
  border-radius: var(--br-3xl);
  gap: var(--gap-5xl);
}

.hero-16 {
  align-self: stretch;
  background-color: var(--color-deepskyblue);
  flex-wrap: wrap;
  padding: 2rem 2.125rem 2.937rem 3.125rem;
  gap: var(--gap-13xl);
  max-width: 100%;
}

.about3,
.the-client3 {
  margin: 0;
}

.about-the-client-container3,
.frame-child2 {
  position: relative;
}

.frame-child2 {
  align-self: stretch;
  height: 0.188rem;
  border-top: 3px solid var(--color-darkblue);
  box-sizing: border-box;
}

.about-the-client-parent2 {
  width: 13.75rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  min-width: 13.75rem;
}

.we-collaborate-with {
  height: 12.563rem;
  width: 34.063rem;
  position: relative;
  font-size: var(--font-size-11xl);
  display: flex;
  align-items: center;
  flex-shrink: 0;
  min-width: 34.063rem;
  max-width: 100%;
}

.frame-parent3,
.frame-wrapper2,
.hero-16-parent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}

.frame-parent3 {
  width: 55.813rem;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}

.frame-wrapper2,
.hero-16-parent {
  align-self: stretch;
  box-sizing: border-box;
}

.frame-wrapper2 {
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-6xl) 0 var(--padding-xl);
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-poppins);
}

.hero-16-parent {
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 11.812rem;
  gap: var(--gap-124xl);
  text-align: left;
  font-size: var(--font-size-26xl);
  color: var(--color-white);
  font-family: var(--font-roboto);
}

.hero-18-child {
  width: 79.875rem;
  height: 26.25rem;
  position: relative;
  background-color: var(--color-blue-100);
  display: none;
  max-width: 100%;
}

.the-solution3 {
  position: relative;
  z-index: 1;
}

.the-solution-wrapper1 {
  width: 68.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* Change from flex-start to center */
  justify-content: center;
  max-width: 100%;
  margin: 0 auto;
  /* Add this line to center the section itself horizontally */
}

.we-collaborate-improving {
  margin: 0;
}

.price-control-and-updating-rp {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-21xl);
}

.we-collaborate-improving-container1 {
  width: 100%;
}

.we-collaborate-improving-container {
  width: 68.25rem;
  height: 11.25rem;
  position: relative;
  font-size: var(--font-size-11xl);
  display: flex;
  align-items: center;
  max-width: 100%;
  z-index: 1;
}

.hero-18,
.hero-18-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}

.hero-18 {
  flex: 1;
  background-color: var(--color-blue-100);
  display: flex;
  /* Adicione display flex */
  flex-direction: column;
  /* Mantém os itens alinhados em coluna */
  align-items: center;
  /* Centraliza os itens verticalmente */
  justify-content: center;
  /* Centraliza os itens horizontalmente */
  padding: 3rem 5.437rem 6.375rem;
  gap: var(--gap-11xl);
  box-sizing: border-box;
  /* Certifique-se de que o box-sizing esteja configurado */
  /* Opcional: faz com que o contêiner ocupe toda a altura da viewport */
}

.hero-18-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 5.625rem;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-white);
  font-family: var(--font-poppins);
}

.the-result3 {
  position: relative;
}

.thanks-to-our,
.we-tripled-the {
  margin: 0;
}

.thanks-to-our-container {
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
}

.image-removebg-preview-18-1 {
  max-width: 100%;
  /* Ajustar a largura máxima para que a imagem se ajuste ao contêiner pai */
  height: auto;
  /* Deixe a altura se ajustar automaticamente para manter a proporção */
  position: absolute;
  margin: 0 !important;
  top: -2.875rem;
  left: -29.5rem;
  object-fit: cover;
  z-index: 1;
}

.thanks-to-our-solution-the-cus-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  max-width: 100%;
  color: var(--color-black);
}

.the-result-parent1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-11xl);
  max-width: 100%;
}

.frame-wrapper3 {
  width: 46.625rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0.75rem;
  box-sizing: border-box;
  max-width: 100%;
}

.hero-20-child {
  width: 79.875rem;
  height: 16.563rem;
  position: relative;
  background-color: var(--color-aliceblue);
  display: none;
  max-width: 100%;
}

.thechnology-stack3 {
  position: relative;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}

.image-137-icon,
.image-138-icon {
  align-self: stretch;
  width: 9.781rem;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  min-height: 4.375rem;
  z-index: 1;
}

.image-138-icon {
  width: 13.919rem;
  object-fit: contain;
}

.image-137-parent {
  width: 32.106rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}

.hero-20,
.hero-20-inner {
  align-self: stretch;
  align-items: flex-start;
  max-width: 100%;
}

.hero-20-inner {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hero-20 {
  background-color: var(--color-aliceblue);
  padding: 2.187rem 4.437rem 1.687rem;
  box-sizing: border-box;
  gap: var(--gap-11xl);
  color: var(--color-black);
}

.frame-parent4,
/* .hero-20, */
.work {
  box-sizing: border-box;
  width: auto;
  display: column;
  /* flex-direction: column; */
  justify-content: center;
}

.frame-parent4 {
  /* Mantenha as propriedades existentes */
  /* max-width: 900%; */
  margin-left: 25%;
  text-align: right;
  font-size: var(--font-size-21xl);
  color: var(--color-blue-200);
  font-family: var(--font-poppins);
  padding: 0 1.25rem 2.5rem 1.812rem;
  /* Defina o alinhamento dos filhos */
  display: flex;
  flex-direction: column;
  /*Alinhe os filhos verticalmente*/
  align-items: center;
  /* Alinhe os filhos horizontalmente */
  justify-content: center;
  /*Alinhe os filhos verticalmente*/
}

.work {
  /* border: 3px solid red; */
  /* width: 100%; */
  position: relative;
  background-color: #f8f8f8;
  overflow: hidden;
  align-items: flex-start;
  padding: 6.375rem 0 3.812rem;
  /* box-sizing:content-box; */
  line-height: normal;
  letter-spacing: normal;
}

@media screen and (max-width: 1200px) {
  .frame-group {
    gap: 2.875rem;
  }

  .work-inner {
    padding-left: var(--padding-3xl);
    box-sizing: border-box;
  }

  .work-child {
    padding-left: 13.938rem;
    box-sizing: border-box;
  }

  .frame-parent2 {
    gap: 3.375rem;
  }

  .frame-section {
    padding-left: var(--padding-19xl);
    box-sizing: border-box;
  }
}

@media screen and (max-width: 1050px) {
  .about-the-client-container {
    font-size: var(--font-size-13xl);
  }

  .about-the-client-parent {
    flex: 1;
  }

  .apcd-holds-an {
    font-size: var(--font-size-5xl);
  }

  .apcd-holds-an-annual-congress-wrapper {
    min-width: 100%;
  }

  .hero-2 {
    flex-wrap: wrap;
  }

  .the-solution {
    font-size: var(--font-size-13xl);
  }

  .lymtech-helped-in {
    font-size: var(--font-size-5xl);
  }

  .frame-parent {
    padding-bottom: var(--padding-39xl);
    box-sizing: border-box;
  }

  .image-128-icon {
    align-self: stretch;
    width: auto;
  }

  .image-128-wrapper {
    flex: 1;
  }

  .the-event-could,
  .the-result {
    font-size: var(--font-size-13xl);
  }

  .frame-group {
    flex-wrap: wrap;
  }

  .work-inner {
    padding-bottom: var(--padding-28xl);
    box-sizing: border-box;
  }

  .thechnology-stack {
    font-size: var(--font-size-13xl);
  }

  .want-to-know {
    font-size: var(--font-size-17xl);
  }

  .about-the-client-container1 {
    font-size: var(--font-size-13xl);
  }

  .frame-div {
    flex: 1;
  }

  .banco-safra-is-one-of-the-ten {
    font-size: var(--font-size-5xl);
    flex: 1;
  }

  .frame-container {
    flex-wrap: wrap;
  }

  .the-solution1 {
    font-size: var(--font-size-13xl);
  }

  .we-created-an-container {
    font-size: var(--font-size-5xl);
  }

  .the-result1,
  .we-work-under-container {
    font-size: var(--font-size-13xl);
  }

  .work-child {
    padding-bottom: var(--padding-45xl);
    box-sizing: border-box;
  }

  .thechnology-stack1 {
    font-size: var(--font-size-13xl);
  }

  .want-to-know1 {
    font-size: var(--font-size-17xl);
  }

  .about-the-client-container2 {
    font-size: var(--font-size-13xl);
  }

  .about-the-client-parent1 {
    flex: 1;
  }

  .darnel-is-a {
    font-size: var(--font-size-5xl);
    flex: 1;
  }

  .frame-parent1 {
    flex-wrap: wrap;
  }

  .the-solution2 {
    font-size: var(--font-size-13xl);
  }

  .we-help-to-container {
    font-size: var(--font-size-5xl);
  }

  .image-132-icon {
    align-self: stretch;
    width: auto;
  }

  .image-132-wrapper {
    flex: 1;
  }

  .the-result2,
  .we-automate-and {
    font-size: var(--font-size-13xl);
  }

  .frame-parent2 {
    flex-wrap: wrap;
  }

  .thechnology-stack2 {
    font-size: var(--font-size-13xl);
  }

  .want-to-know2 {
    font-size: var(--font-size-17xl);
  }

  .about-the-client-container3 {
    font-size: var(--font-size-13xl);
  }

  .about-the-client-parent2 {
    flex: 1;
  }

  .we-collaborate-with {
    font-size: var(--font-size-5xl);
    flex: 1;
  }

  .frame-parent3 {
    flex-wrap: wrap;
  }

  .the-solution3 {
    font-size: var(--font-size-13xl);
  }

  .we-collaborate-improving-container {
    font-size: var(--font-size-5xl);
  }

  .thanks-to-our-container,
  .the-result3,
  .thechnology-stack3 {
    font-size: var(--font-size-13xl);
  }
}

@media screen and (max-width: 750px) {

  .hero-2,
  .hero3 {
    box-sizing: border-box;
  }

  .hero-2 {
    gap: 4rem;
    padding: var(--padding-39xl) 5.313rem var(--padding-39xl) 6.688rem;
  }

  .hero3 {
    padding-left: var(--padding-24xl);
    padding-right: var(--padding-24xl);
  }

  .frame-parent {
    padding-bottom: var(--padding-19xl);
    box-sizing: border-box;
  }

  .the-result-parent {
    min-width: 100%;
  }

  .frame-group {
    gap: 1.438rem;
  }

  .azure-logo-794-new-1-parent {
    flex-wrap: wrap;
    justify-content: center;
  }

  .hero5 {
    gap: var(--gap-base);
    padding-left: var(--padding-24xl);
    padding-right: var(--padding-24xl);
    box-sizing: border-box;
  }

  .want-to-know-more-about-those-wrapper {
    min-width: 100%;
  }

  .hero6 {
    gap: var(--gap-base);
    padding-left: var(--padding-7xl);
    padding-right: var(--padding-6xl);
    box-sizing: border-box;
  }

  .banco-safra-is-one-of-the-ten {
    min-width: 100%;
  }

  .hero6-parent {
    gap: 2.125rem;
    padding-bottom: 4.625rem;
    box-sizing: border-box;
  }

  .hero-8 {
    gap: var(--gap-mini);
    padding-left: var(--padding-24xl);
    padding-right: var(--padding-24xl);
    box-sizing: border-box;
  }

  .hero-8-wrapper {
    padding-bottom: var(--padding-45xl);
    box-sizing: border-box;
  }

  .work-child {
    padding-left: 6.938rem;
    box-sizing: border-box;
  }

  .hero-10 {
    padding-left: var(--padding-24xl);
    padding-right: var(--padding-24xl);
    box-sizing: border-box;
  }

  .want-to-know-more-about-those-container {
    min-width: 100%;
  }

  .hero-11 {
    gap: var(--gap-base);
    padding-left: var(--padding-7xl);
    padding-right: var(--padding-6xl);
    box-sizing: border-box;
  }

  .darnel-is-a {
    min-width: 100%;
  }

  .hero-11-parent {
    gap: var(--gap-52xl);
    padding-bottom: 5.5rem;
    box-sizing: border-box;
  }

  .hero-13 {
    gap: var(--gap-mini);
    padding-left: var(--padding-24xl);
    padding-right: var(--padding-24xl);
    box-sizing: border-box;
  }

  .hero-13-wrapper {
    padding-bottom: var(--padding-39xl);
    box-sizing: border-box;
  }

  .the-result-container {
    min-width: 100%;
  }

  .frame-parent2 {
    gap: 1.688rem;
  }

  .frame-section {
    padding-bottom: var(--padding-39xl);
    box-sizing: border-box;
  }

  .image-139-parent {
    flex-wrap: wrap;
  }

  .hero-15 {
    gap: var(--gap-xl);
    padding-left: var(--padding-24xl);
    padding-right: var(--padding-24xl);
    box-sizing: border-box;
  }

  .want-to-know-more-about-those-frame {
    min-width: 100%;
  }

  .hero-16 {
    gap: var(--gap-base);
    padding-left: var(--padding-7xl);
    padding-right: var(--padding-6xl);
    box-sizing: border-box;
  }

  .we-collaborate-with {
    min-width: 100%;
  }

  .hero-16-parent {
    gap: var(--gap-52xl);
    padding-bottom: 7.688rem;
    box-sizing: border-box;
  }

  .hero-18 {
    gap: var(--gap-mini);
    padding-left: var(--padding-24xl);
    padding-right: var(--padding-24xl);
    box-sizing: border-box;
  }

  .hero-18-wrapper {
    padding-bottom: var(--padding-39xl);
    box-sizing: border-box;
  }

  .frame-wrapper3 {
    padding-left: var(--padding-19xl);
    padding-right: var(--padding-19xl);
    box-sizing: border-box;
  }

  .image-137-parent {
    flex-wrap: wrap;
  }

  .hero-20 {
    gap: var(--gap-mini);
    padding-left: var(--padding-24xl);
    padding-right: var(--padding-24xl);
    box-sizing: border-box;
  }

  .frame-parent4 {
    gap: 2.813rem;
  }
}

@media screen and (max-width: 450px) {
  .about-the-client-container {
    font-size: var(--font-size-5xl);
  }

  .apcd-holds-an {
    font-size: var(--font-size-lg);
  }

  .hero-2 {
    gap: var(--gap-13xl);
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }

  .the-solution {
    font-size: var(--font-size-5xl);
  }

  .lymtech-helped-in {
    font-size: var(--font-size-lg);
  }

  .hero3 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    padding-bottom: 3.25rem;
    box-sizing: border-box;
  }

  .image-128-wrapper {
    min-width: 100%;
  }

  .the-event-could,
  .the-result {
    font-size: var(--font-size-5xl);
  }

  .work-inner {
    padding-bottom: var(--padding-12xl);
    box-sizing: border-box;
  }

  .thechnology-stack {
    font-size: var(--font-size-5xl);
  }

  .hero5 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }

  .want-to-know {
    font-size: var(--font-size-8xl);
  }

  .lets-talk {
    font-size: var(--font-size-4xl);
  }

  .about-the-client-container1 {
    font-size: var(--font-size-5xl);
  }

  .banco-safra-is-one-of-the-ten {
    font-size: var(--font-size-lg);
  }

  .hero6-parent {
    gap: 1.063rem;
  }

  .the-solution1 {
    font-size: var(--font-size-5xl);
  }

  .we-created-an-container {
    font-size: var(--font-size-lg);
  }

  .hero-8 {
    padding: var(--padding-xl) var(--padding-xl) 1.688rem;
    box-sizing: border-box;
  }

  .the-result1,
  .we-work-under-container {
    font-size: var(--font-size-5xl);
  }

  .work-child {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }

  .thechnology-stack1 {
    font-size: var(--font-size-5xl);
  }

  .image-135-parent {
    flex-wrap: wrap;
  }

  .hero-10 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }

  .want-to-know1 {
    font-size: var(--font-size-8xl);
  }

  .lets-talk1 {
    font-size: var(--font-size-4xl);
  }

  .about-the-client-container2 {
    font-size: var(--font-size-5xl);
  }

  .darnel-is-a {
    font-size: var(--font-size-lg);
  }

  .hero-11-parent {
    gap: var(--gap-17xl);
  }

  .the-solution2 {
    font-size: var(--font-size-5xl);
  }

  .we-help-to-container {
    font-size: var(--font-size-lg);
  }

  .hero-13 {
    padding: var(--padding-12xl) var(--padding-xl) var(--padding-47xl);
    box-sizing: border-box;
  }

  .the-result2,
  .thechnology-stack2,
  .we-automate-and {
    font-size: var(--font-size-5xl);
  }

  .hero-15 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }

  .want-to-know2 {
    font-size: var(--font-size-8xl);
  }

  .lets-talk2,
  .lets-talk3 {
    font-size: var(--font-size-4xl);
  }

  .about-the-client-container3 {
    font-size: var(--font-size-5xl);
  }

  .we-collaborate-with {
    font-size: var(--font-size-lg);
  }

  .hero-16-parent {
    gap: var(--gap-17xl);
  }

  .the-solution3 {
    font-size: var(--font-size-5xl);
  }

  .we-collaborate-improving-container {
    font-size: var(--font-size-lg);
  }

  .hero-18 {
    padding: var(--padding-12xl) var(--padding-xl) var(--padding-47xl);
    box-sizing: border-box;
  }

  .thanks-to-our-container,
  .the-result3,
  .thechnology-stack3 {
    font-size: var(--font-size-5xl);
  }

  .hero-20 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }

  .frame-parent4 {
    gap: var(--gap-3xl);
  }
}