@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* HERO */
.hero {
    
    background-image: url('./img/hero-img.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    color: #fff;
    height: 90vh;
}

-div{
    border: 1px solid red;
}
.hero-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 05%;
    height: 100%;
}

.hero-title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    letter-spacing: 0.2rem;

}
.hero-subtitle {
    font-size: 1.3rem;
    margin-bottom: 2rem;
    max-width: 50%;
}
.hero-btn {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    color: #fff;
    background: linear-gradient(to right, #9168FF, #02ADE9);
    border: none;
    border-radius: 5rem;
    cursor: pointer;
    max-width: 30%;
}

.hero-btn:hover{
    background: linear-gradient(to right, #8963f1, #02a3dd);
}

/* DATA */


.container-data {
    text-align: center;
}

.title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 2rem;
    color: #350042;
}

.banner {
    display: flex;
    justify-content: space-around;

}

.metric {
    text-align: center;
}

.number {
    font-size: 40px;
    font-weight: bold;
    color: #572ABB;
}

.subtitle {
    font-size: 23px;
    color: grey;
}

.separator {
    border-left: 1px solid blue;
    height: 50px;
    margin: 0 10px;
}

/* ABOUT US */

#aboutUs{
    padding: 5rem;
    background-color: #F0FAFF;
}

/* SEPARATOR */

.separator-strip {
    height: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #02A9E7, #572ABB);
    color: white;
    padding: 3rem;
}

.separator-strip h1 {
    font-size: 55px;
    word-spacing: 8px;
    font-family: "Roboto", sans-serif;
    font-weight: lighter;
}

.separator-strip button {
    width: 15rem;
    height: 4rem;
    background-color: #f8f8f8;
    color: #4742C3;
    border: none;
    font-size: 29px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 1rem;
}

/* CAROUSEL */
