/* start -pg config */
:root {
  font-size: 16px;
}
/* end - pg config */

/* START - BANNER */
#section-banner {
  height: 65vh;
  width: 100%;
  padding: 5rem 0;
  background-position: 90% 55%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.text-banner {
  height: 100%;
  width: 50%;
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  padding-left: 7rem;
}

.titulo-banner {
  margin: 0;
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-shadow: 1.5px 1.5px #4d4d4d;
  color: #fff;
}

.p-banner {
  font-size: 1.5rem;
  font-family: "Sofia Pro", sans-serif;
  font-weight: 4000;
  font-style: normal;
  text-shadow: 1px 1px #000;
  color: #fff;
  width: 25rem;
}

.btn-banner {
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  color: #fff;
  text-align: center;
  border: none;
  margin-top: 1rem;
  padding: 0.5rem 2rem;
  border-radius: 10rem;
  background-color: #582abb;
  height: max-content;
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.4s ease, color 0.4s ease;
}

.btn-banner:hover {
  background-color: white;
  color: #582abb;
}
/* END - BANNER */

/* start m- media q */
@media screen and (max-width: 1384px) {
  .titulo-banner {
    font-size: 1.7rem;
  }
  .p-banner,
  .btn-banner {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 1000px) {
  #section-banner {
    height: max-content;
  }
}

@media screen and (max-width: 768px) {
  .titulo-banner {
    font-size: 5vw;
  }

  .text-banner {
    width: 90%;
  }

  .p-banner {
    width: 90%;
    font-size: 3vw;
    margin-top: 2vw;
  }

  .btn-banner {
    font-size: 3vw;
    max-height: 10vw;
    margin-top: 2vw;
  }
}

@media screen and (max-width: 565px) {
  .text-banner {
    align-items: center;
    padding: 0;
    align-self: center;
  }

  .titulo-banner {
    text-align: center;
  }

  .p-banner {
    text-align: center;
    width: 100%;
    margin-bottom: 1rem;
  }
}
/* end - media q */

/* start - banner background images */
.bg-img-home {
  background-image: url(../img/img_home/ban_h.webp);
}

.bg-img-autorec {
  background-image: url("../img/img-auto-rec/ban_autorec.png");
}

.bg-img-our-people {
  background-image: url("../img/img-ourPeople/ban_ourp.png");
}

.bg-img-apcd {
  background-image: url("../img/img-succases/banner-apcd.png");
}

.bg-img-careers {
  background-image: url(../img/img_careers/ban_career.png);
}
/* end - banner background images */
