/* start - blog page config */
:root {
  font-size: 16px;
}

* {
  padding: 0;
  margin: 0;
}

html {
  width: 100%;
  min-height: 100vh;
  scroll-behavior: smooth;
}

body {
  width: inherit;
  height: inherit;
  margin: 0;
}

.container {
  animation: slideIn 4s 1s forwards; /* Animação de slide in com atraso de 1s */
  padding: 0;
  width: 65%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
/* end - blog page config */

/* start - success cases */
#section-posts {
  width: inherit;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

#section-posts .container {
  animation: fadeIn 4s forwards; /* Animação de fade in */
  animation: slideIn 4s 1s forwards; /* Animação de slide in com atraso de 1s */
  gap: 2rem;
  padding: 3.5rem 0;
}

.posts-span {
  width: 100%;
  height: 40%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: inherit;
}

.posts-box {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: start;
  width: 45%;
  height: 25rem;
  padding: 1.2rem 2rem;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 0.7rem;
}

.posts-img {
  display: flex;
  margin: 0;
  border: 0;
  border-radius: inherit;
  padding: 0;
  height: 55%;
  width: 100%;
  margin-bottom: 0.5rem;
}

.img-1,
.img-2,
.img-3,
.img-4,
.img-5,
.img-6,
.img-7,
.img-8,
.img-9,
.img-10,
.img-11,
.img-12 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.img-1 {
  background-image: url(../img/images-blog/img-post-1.webp);
}
.img-2 {
  background-image: url(../img/images-blog/img-post-2.webp);
}
.img-3 {
  background-image: url(../img/images-blog/img-post-3.webp);
}
.img-4 {
  background-image: url(../img/images-blog/img-post-4.webp);
}
.img-5 {
  background-image: url(../img/images-blog/img-post-5-banner.webp);
}
.img-6 {
  background-image: url(../img/images-blog/img-post-6.webp);
}
.img-7 {
  background-image: url(../img/images-blog/img-post-7.webp);
}
.img-8 {
  background-image: url(../img/images-blog/img-post-8.webp);
}
.img-9 {
  background-image: url(../img/images-blog/img-post-9-banner-netflix.webp);
}
.img-10 {
  background-image: url(../img/images-blog/img-post-10-banner.webp);
}
.img-11 {
  background-image: url(../img/images-blog/img-post-11.webp);
}
.img-12 {
  background-image: url(../img/images-blog/img-post-12-banner.webp);
}

.posts-box h1 {
  color: #030384;
  align-self: flex-start;
  font-family: "Poppins";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 0.6rem;
  margin-top: 0.4rem;
  text-align: center;
  width: 100%;
}

.posts-box p {
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  font-family: "Sofia Pro", sans-serif;
}

.posts-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: transparent;
  border: 0;
  border-radius: inherit;
  transition: box-shadow 0.45s ease;
  box-shadow: 0 0.875rem 1.9375rem 0 rgba(0, 0, 0, 0.1);
}

.posts-link:hover {
  box-shadow: 0rem 0.875rem 1.9375rem 0rem rgba(0, 0, 0, 0.583);
}
/* end - success cases */

/* stat - media */
@media screen and (max-width: 1353px) {
  .posts-box {
    width: 90%;
    height: auto;
  }

  .container {
    width: 90%;
  }

  .posts-span {
    flex-direction: column;
    gap: 2rem;
  }

  .posts-img {
    height: 15rem;
  }
}
/* end - media */
