/* start - page config */
:root {
  font-size: 16px;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
}

.btn-banner a[href] {
  text-decoration: none;
  color: inherit;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
/* end - page config */

/* START - CONTAINER CONFIG. */
.container {
  width: 72%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}
/* END - CONTAINER CONFIG. */

/* start - section-join-us */
.section-join-us {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;

  height: max-content;
  width: 100%;
  padding: 5rem 0;
}

.section-join-us .container {
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

.text-join {
  width: 40%;
  height: 80%;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}

.text-join h1 {
  font-family: "Poppins", sans-serif;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1;
  text-align: left;

  width: 100%;
}

.text-join p {
  font-family: "Sofia Pro", sans-serif;
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 1;
  text-align: left;

  width: 100%;
  padding-left: 1.5rem;
}

.img-join {
  height: auto;
  width: 30%;
}

.img-join img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
/* end - section-join-us */
