/* start - footer config */
:root {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}

.coluna ul {
  list-style: none;
  padding: 0;
}

#footer {
  background: linear-gradient(to left, #00ade9, #582abb);
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: start;
  height: max-content;
  gap: 2rem;
}

.mt1p7 {
  margin-top: 1.7rem;
}
/* end - footer config */

/* start - upper content */
.top-content {
  width: 100%;
  height: 50%;
  color: white;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.coluna {
  width: max-content;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0.8rem 0;
  gap: 1.2rem;
}

.logo-footer {
  width: 15rem;
  height: auto;
  align-self: center;
}

.social-cont {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.contact-email {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  align-self: center;

  width: 100%;
  height: max-content;
}

.contact-email strong {
  font-family: "Poppins", sans-serif;
  padding-right: 5px;
  font-weight: 600;
}

.contact-email a {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1rem;

  transition: color 0.3s ease;
}

.contact-email a:hover {
  color: #8d8d8d;
}

.coluna h3 {
  font-size: 1.6rem;
  text-align: left;
}

.top-content .coluna ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 300;
  font-family: "Sofia Pro", sans-serif;
}

.top-content .coluna ul li a:hover {
  color: #ddd;
}

.social-icon-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.8rem;
}

.social-icon-wrapper a {
  text-decoration: none;
}

.social-icon {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 9999px;
  width: 2rem;
  height: 2rem;
  font-size: 1.3rem;
  background-color: #00ade9;
  background-position: center;
  background-size: 85% 85%;
  transition: background-color 0.4s ease, color 0.4s ease;
}

.fcb {
  background-image: url(../img/icon_facebook.png);
}
.lkd {
  background-image: url(../img/icon_linkedin.png);
}
.wta {
  background-image: url(../img/icon_wpp.png);
}
.itg {
  background-image: url(../img/icon_insta.png);
}

.coluna p {
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
}

.social-icon:hover {
  background-color: #9a9a9a;
}
.social-icon:hover .fa-brands {
  color: black;
}

.mega-button {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: white;
}
/* end - upper content */

/* start - middle content */
.middleContent {
  color: white;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  width: 100%;
  margin: auto;
}

.middleContent div {
  text-align: center;
  width: max-content;
}

.middleContent h4 {
  font-family: "Poppins", sans-serif;
}

.middleContent p {
  font-family: "Sofia Pro", sans-serif;
}
/* end - middle content */

/* start - down content */
.downContent {
  color: white;
  text-align: center;
  display: flex;
  width: 70%;
  margin: auto;
  font-family: "Poppins", sans-serif;
  padding-bottom: 0.5rem;
}

.downContent p {
  padding: 0.3rem;
  border-top: 0.1rem solid white;
}
/* end - down content */

/* start - media q */
@media screen and (max-width: 1045px) {
  .logo-footer {
    width: 10rem;
  }
}

@media screen and (max-width: 960px) {
  .social-cont {
    flex-flow: column nowrap;
    align-self: center;
  }
}

@media screen and (max-width: 740px) {
  #footer {
    height: max-content;
  }

  .top-content {
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
  }

  .coluna {
    width: 100%;
    align-items: center;
    margin-top: 1rem;
  }

  .coluna ul {
    text-align: center;
  }

  .coluna ul h3 {
    text-align: center;
  }

  .coluna ul li {
    text-align: center;
  }
}

@media screen and (max-width: 540px) {
  #footer {
    gap: 0.3rem;
  }

  .middleContent {
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 1.3rem;
    padding: 0.2rem 0 0.8rem 0;
  }
}
/* end - media q */
