/* start -pg config */
:root {
  font-size: 16pxw;
}

input,
textarea {
  color: #4d4d4d;
}

input::placeholder,
textarea::placeholder {
  color: #4d4d4d;
  font-style: italic;
  transition: color 0.3s ease;
  font-weight: 400;
}

input:focus::placeholder,
textarea:focus::placeholder {
  color: #00ade9;
}
/* end - pg config */

/* START - FORM */
#section-form {
  width: 100%;
  padding: 4rem 0 3.7rem 0;
  background-color: #ebebeb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#section-form .container {
  width: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

#section-form .container h1 {
  font-family: "Poppins", sans-serif;
  color: #7f52e1;
  font-size: 2rem;
  text-align: center;
  font-weight: 600;
  margin-bottom: 2.5rem;
  padding: 0 0.7rem;
}

.form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  gap: 2rem;

  width: 70%;
  padding: 1.5rem 1rem;
}

.form-row {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  border-bottom: 0.1rem solid #582abb;
}

.form-row input,
.form-row textarea {
  width: 100%;
  font-size: 17px;
  outline: none; /* Remove outline on focus */
  font-family: "Poppins", sans-serif;
  background-color: #f8f8f800;
  border: none;
}

.textarea {
  resize: none;
}

.btn-form {
  justify-self: flex-end;
  padding: 0.5rem 1rem;
  border: 2px solid #582abb;
  background: #582abb;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  margin-top: 1rem;
}

.btn-form:hover {
  transition-duration: 0.3s;
  color: #582abb;
  background-color: #fff;
}

.alert-form {
  display: none;
  border-radius: 10px;
  background-color: #fbfbfb;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.alert-form-b {
  color: rgb(124, 14, 0);
}

.alert-form-success-b {
  color: rgb(0, 110, 152);
}

.send-file {
  width: 100%;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: start;
  gap: 0.5rem;
}

.send-file label {
  font-family: "Sofia Pro", sans-serif;
  color: #4d4d4d;
  font-size: 1.1rem;
  font-weight: 700;
}
/* END - FORM */

/* start - media */
@media screen and (max-width: 989px) {
  #section-form .container h1 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 741px) {
  #section-form .container h1 {
    font-size: 1.5rem;
  }
}
/* end - media */
