/* start - page config */
:root {
  font-size: 16px;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
}

.btn-banner a[href] {
  text-decoration: none;
  color: inherit;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.mb2p1 {
  margin-bottom: 2.1rem;
}
/* end - page config */

/* START - CONTAINER CONFIG. */
.container {
  width: 72%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}
/* END - CONTAINER CONFIG. */

/* start - section advantages */
#section-adv {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 4rem 0;
}

#section-adv .container {
  gap: 3rem;
}

#section-adv .container h1 {
  font-family: "Nexa", sans-serif;
  font-size: 3rem;
  text-align: center;
  color: #000;

  padding: 0.7rem 0;
  width: 100%;
  border-radius: 9999px;
  margin-bottom: 3.4rem;
}

.div-r-adv,
.div-l-adv {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.div-text-adv {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding: 2rem;
  animation: slideFadeIn 2s ease-in-out forwards; /* Aplica a animação */
}

.div-text-adv h2 {
  color: #02a9e7;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 700;
  animation: slideFadeIn 2s ease-in-out forwards; /* Aplica a animação */
}

.div-text-adv p {
  color: #000;
  font-family: "Omnes", sans-serif;
  font-size: 25px;
  font-weight: 300;
}

.div-r-adv .div-text-adv h2,
.div-r-adv .div-text-adv p {
  text-align: left;
}

.div-l-adv .div-text-adv h2,
.div-l-adv .div-text-adv p {
  text-align: right;
}

.div-l-adv img,
.div-r-adv img {
  height: 17rem;
  width: auto;
}
/* end - section advantages */

/* start - section team */
.section-team {
  width: 100%;
  height: max-content;
  padding-top: 6rem;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.section-team .container h3 {
  padding-bottom: 3rem;
  font-family: "Poppins", sans-serif;
  font-size: 3.5rem;
  font-weight: 500;
}

.team-img-wrapper {
  height: 100%;
  width: 100%;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.team-img-wrapper img {
  height: 12rem;
  padding: 1rem;
}
/* end - section team */

/* start - section values */
#section-values {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 1rem;
}

#section-values .container h1 {
  font-family: "Nexa", sans-serif;
  font-size: 3.6rem;
  text-align: center;
  color: #000;

  padding: 0.7rem 0;
  width: 100%;
  border-radius: 9999px;
  margin-bottom: 5rem;
}

.values-span {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

.values-box {
  width: 42%;
  height: 14rem;
  border-radius: 1rem;
  padding: 1rem;

  border: 3px solid #02a9e7;

  display: inherit;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.values-box h3 {
  width: 100%;
  text-align: left;
  color: #fff;
  background-color: #0d3d9e;
  border-radius: 9999px;
  font-family: "Poppins", sans-serif;
  text-indent: 3%;
  padding: 0.3rem 0;
}

.values-box p {
  text-align: justify;
  color: rgb(61, 40, 40);
  font-family: "Poppins", sans-serif;
}
/* end - section values */

/* start - section career */
#section-career {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;

  background-color: #0faae3;

  padding-bottom: 3.5rem;
}

.line-title {
  width: 100%;
  margin-bottom: 1.6rem;
}
#section-career h1 {
  font-family: "Nexa", sans-serif;
  font-size: 3rem;
  text-align: center;
  color: #000;

  padding: 0.7rem 0;
  width: 72%;
  border-radius: 9999px;
  margin-bottom: 2.4rem;
  margin-top: 1.5rem;
}

.career-text {
  width: 80%;
  color: #000;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 6rem;
  padding: 0 3rem;
}

.div-l-car,
.div-r-car {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 70%;
  height: max-content;

  border: #092241 solid 4px;
}

.div-r-car {
  align-self: flex-end;
  flex-shrink: 0;
  border-radius: 1.25rem 0rem 0rem 1.25rem;
  background: #0d3d9e;
  border-right: 0;
}

.div-l-car {
  align-self: flex-start;
  flex-shrink: 0;
  border-radius: 0rem 1.25rem 1.25rem 0rem;
  background: #95d3ff;
  margin-top: 1.3rem;
  margin-bottom: 1.3rem;
  border-left: 0;
}

.div-l-car img,
.div-r-car img {
  height: 20rem;
}

.text-div-car {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 0.3rem 1rem 0.3rem 1rem;
  justify-items: start;
  gap: 2rem;
}

.text-div-car h2 {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 1.875rem;
  font-weight: 700;
}

.text-div-car p {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-align: justify;
}

.div-l-car .text-div-car p,
.div-l-car .text-div-car h2 {
  color: black;
}
/* end - section career */

/* start - section testimonial */
#section-test {
  background-color: #02aae73d;
  padding-top: 4rem;
  padding-bottom: 6rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

#section-test h1 {
  font-family: "Nexa", sans-serif;
  font-size: 3rem;
  text-align: center;
  color: #0d3d9e;

  padding: 0.7rem 0;
  width: 72%;
  border-radius: 9999px;
  margin-bottom: 4rem;
}

.title-test h1 {
  color: #fff;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: -0.1rem;
}

.div-test {
  background-color: #fff;
  border: black solid 4px;

  width: 71.5rem;
  height: max-content;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.l {
  border-radius: 0 3.75rem 3.75rem 0;
  align-self: flex-start;
  margin-bottom: 5rem;
  margin-top: 3rem;
}

.r {
  border-radius: 3.75rem 0 0 3.75rem;
  align-self: flex-end;
}

.text-div-test {
  height: 100%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.text-p-test {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.text-p-test h3 {
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: 700;
}

.text-p-test p {
  color: #000;
  text-align: justify;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 300;
}

.exp {
  color: #000;
  text-align: justify;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-style: italic;
  font-weight: 300;
}

.div-test img {
  width: 25.6875rem;
  height: 25.6875rem;
  filter: grayscale(100%);
  border-radius: 0;
}

.le {
  border-radius: 0 3.75rem 3.75rem 0;
}

.ri {
  border-radius: 3.75rem 0 0 3.75rem;
}
/* end - section testimonial */

/* start - media q */
@media screen and (max-width: 1752px) {
  .values-box {
    height: 15.5rem;
  }
}

@media screen and (max-width: 1752px) {
  .values-box {
    height: 15.5rem;
  }
}

@media screen and (max-width: 1457px) {
  #section-adv .container h1 {
    margin-bottom: 1rem;
  }

  .div-r-adv {
    flex-flow: column nowrap;
  }

  .div-l-adv {
    flex-flow: column-reverse nowrap;
  }

  .div-l-adv,
  .div-r-adv {
    margin-bottom: 1.9rem;
  }

  .div-text-adv {
    width: 70%;
    padding: 0 0 2rem 0;
  }

  .div-l-adv .div-text-adv h2,
  .div-l-adv .div-text-adv p,
  .div-r-adv .div-text-adv h2,
  .div-r-adv .div-text-adv p {
    text-align: center;
  }
}

@media screen and (max-width: 1400px) {
  .values-span {
    flex-flow: column nowrap;
    gap: 2.1rem;
  }

  .values-box {
    width: 100%;
    height: max-content;
  }

  .values-box h3,
  .values-box p {
    width: 60%;
  }

  .values-box h3,
  .values-box p {
    text-align: center;
  }
}

@media screen and (max-width: 1280px) {
  .div-l-car,
  .div-r-car {
    width: 90%;
  }
}

@media screen and (max-width: 1220px) {
  #section-test .div-test {
    width: 100%;
  }

  .text-banner {
    width: 80%;
  }

  .div-text-adv {
    width: 90%;
  }
}

@media screen and (max-width: 1062px) {
  .values-box p {
    width: 100%;
  }

  .ri,
  .le {
    align-self: center;
  }
}

@media screen and (max-width: 980px) {
  #section-banner {
    align-items: center;

    padding: 0;
  }

  .text-banner {
    align-items: center;
  }

  .text-banner h1 {
    text-align: center;
  }

  #section-values {
    padding: 0;
    padding-bottom: 3rem;
  }

  #section-values .container h1 {
    font-size: 2.7rem;
    margin: 1rem 0;
  }

  .values-span {
    flex-flow: column nowrap;
    gap: 2rem;
  }

  .values-box {
    width: 100%;
    justify-content: space-between;
  }
}

@media screen and (max-width: 910px) {
  #section-career h1 {
    font-size: 2.5rem;
    margin: 1rem 0;
  }

  .career-text {
    margin-bottom: 2.7rem;
    font-size: 1.3rem;
  }

  .div-l-car,
  .div-r-car {
    width: 100%;
    border-radius: 0;
    padding: 1rem;
  }

  .div-l-car img,
  .div-r-car img {
    display: none;
  }

  .div-l-car .text-div-car h2,
  .div-r-car .text-div-car h2 {
    text-align: center;
  }

  .div-l-car .text-div-car p,
  .div-r-car .text-div-car p {
    text-align: left;
  }

  #section-test h1 {
    font-size: 2.2rem;
  }
}

@media (max-width: 768px) {
  .container {
    width: 82%;
  }

  #section-adv .container {
    margin-top: 0;

    gap: 1rem;
  }

  #section-adv .container h1 {
    font-size: 2.2rem;
    margin-bottom: 0;
  }

  .div-r-adv,
  .div-l-adv {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .div-text-adv h2 {
    margin-top: 1rem;
    align-self: center;

    font-size: 1.3rem;
  }

  .div-text-adv p {
    font-size: 1.3rem;
  }

  .div-l-adv img,
  .div-r-adv img {
    height: auto;
    width: 50%;
    max-width: 25rem;
    margin: 0.2rem;
    margin-bottom: 1.8rem;
    order: 2;
    border-radius: 1.25rem;
  }

  #section-banner {
    height: auto;
    padding: 2rem 0;
  }

  .text-banner {
    margin-left: 0;
    width: 90%;
    align-items: flex-start;
    text-align: left;
  }

  .titulo-banner {
    font-size: 2.5rem;
    text-align: left;
  }

  .btn-banner {
    width: 16rem;
    height: 3rem;
    font-size: 24px;
    margin-top: 2rem;
  }

  .div-test {
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 1rem;
    border-radius: 0;
    border-left: 0;
    border-right: 0;
  }

  .ri {
    flex-flow: column-reverse nowrap;
  }

  .div-test img {
    width: 80%;
    max-width: 300px;
    height: auto;
    border-radius: 3.75rem;
    margin-bottom: 1rem;
  }

  .text-div-test {
    width: 100%;
    padding: 1rem;
    text-align: center;
  }

  .text-p-test {
    text-align: center;
  }

  .career-title h1 {
    font-size: 24px;
    margin-bottom: 0;
    margin-top: 1.5rem;
  }

  .line-title {
    margin-bottom: 0.5rem;
  }

  .career-text {
    width: 90%;
    font-size: 1rem;
    margin: 1.5rem;
  }

  .div-r-car,
  .div-l-car {
    width: 100%;
    padding: 0.5rem;
  }

  .text-div-car {
    width: 100%;
    padding: 0.5rem;
    order: 1;
  }

  .text-div-car h2 {
    font-size: 1.3rem;
  }

  .text-div-car p {
    font-size: 1rem;
  }

  .div-l-car img,
  .div-r-car img {
    height: auto;
    width: 70%;
    max-width: 25rem;
    margin: 0.2rem;
    margin-bottom: 1.8rem;
    order: 2;
    border-radius: 1.25rem;
  }
}

@media screen and (max-width: 716px) {
  .titulo-banner {
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 630px) {
  .titulo-banner {
    font-size: 1.8rem;
  }

  .btn-banner {
    font-size: 1rem;
    height: max-content;
    width: max-content;
    padding: 0.7rem 2.3rem;
  }

  .div-l-adv,
  .div-r-adv {
    padding: 0;
  }
}

@media screen and (max-width: 542px) {
  .div-test img {
    height: 15rem;
    width: auto;
  }
}

@media screen and (max-width: 515px) {
  .titulo-banner {
    font-size: 1.3rem;
  }

  .career-text {
    margin-top: 0;
  }

  #section-test {
    padding: 3rem 0;
  }

  #section-test h1 {
    font-size: 1.8rem;
    margin: 0;
  }
}

@media screen and (max-width: 455px) {
  #section-values .container h1 {
    font-size: 2.5rem;
  }
}
/* end - media q */
