/* start - posts page config */
:root {
  font-size: 16px;
}

* {
  padding: 0;
  margin: 0;
}

html {
  width: 100%;
  min-height: 100vh;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  width: inherit;
  height: inherit;
  margin: 0;
}

.container {
  padding: 0;
  width: 65%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
/* end - posts page config */

/* START - Section Banner */
#section-banner-post-11,
#section-banner-post-10,
#section-banner-post-9,
#section-banner-post-8,
#section-banner-post-7,
#section-banner-post-6,
#section-banner-post-5,
#section-banner-post-4,
#section-banner-post-3,
#section-banner-post-2,
#section-banner-post-1 {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

#section-banner-post-12 {
  height: max-content;
  padding: 3rem 6rem;
  background-image: url(../img/images-blog/img-post-12-banner.jpg);
  background-position: center;
  background-size: cover;
}

#section-banner-post-11 {
  height: 34.8rem;
  background-image: url(../img/images-blog/img-post-11-banner.png);
  background-position: center;
}

#section-banner-post-10 {
  height: 34.8rem;
  background-image: url(../img/images-blog/img-post-10.png);
  background-position: center;
}

#section-banner-post-9 {
  height: 34.8rem;
  background-image: url(../img/images-blog/img-post-9-banner-netflix.png);
  background-position: center;
}

#section-banner-post-8 {
  height: 34.8rem;
  background-image: url(../img/images-blog/img-post-8-banner.png);
  background-position: center;
}

#section-banner-post-7 {
  height: 34.8rem;
  background-image: url(../img/images-blog/img-post-7.png);
  background-position: center;
}

#section-banner-post-6 {
  height: 34.8rem;
  background-image: url(../img/images-blog/img-post-6-banner.png);
  background-position: center;
}

#section-banner-post-5 {
  height: 34.8rem;
  background-image: url(../img/images-blog/img-post-5-banner.png);
  background-position: center;
}

#section-banner-post-4 {
  height: 34.8rem;
  background-image: url(../img/images-blog/img-post-4-banner.png);
  background-position: center;
}

#section-banner-post-3 {
  height: 34.8rem;
  background-image: url(../img/images-blog/img-post-3-banner.png);
  background-position: center;
}

#section-banner-post-2 {
  height: 34.8rem;
  background-image: url(../img/images-blog/img-post-2-banner.png);
  background-position: center;
}

#section-banner-post-1 {
  height: 34.8rem;
  background-image: url(../img/images-blog/img-post-1-banner.png);
  background-position: center;
}

.text-banner {
  width: 40%;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
  color: white;
  font-style: normal;
  text-align: left;
  margin: 3.3% 0 0 10%;
}

.text-banner h3 {
  font-size: 3.2rem;
  font-family: "Nexa", sans-serif;
  color: #19e4ff;
  font-style: inherit;
  text-align: left;
  padding: 0 0 2% 5%;
  font-weight: 700;
}

.text-banner h1 {
  font-family: "Nexa", sans-serif;
  font-size: 5rem;
  font-style: inherit;
  text-align: left;
  font-weight: 700;
  line-height: 5rem;
}

.text-banner p {
  color: inherit;
  font-size: 1.2rem;
  font-family: "Lato", sans-serif;
  text-align: left;
}
/* END - Section Banner */

/* ELEMENTOS DO POST 5 - Transform your Black Friday sales with effective integration */
.text-banner-post-5 {
  width: 60%;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
  color: white;
  font-style: normal;
  text-align: left;
  margin: 3.3% 0 3% 5%;
}

.text-banner-post-5 h3 {
  font-size: 3.2rem;
  font-family: "Nexa", sans-serif;
  color: #19e4ff;
  font-style: inherit;
  text-align: left;
  padding: 0 0 2% 5%;
  font-weight: 700;
}

.text-banner-post-5 h1 {
  font-family: "Nexa", sans-serif;
  font-size: 4.5rem;
  font-style: inherit;
  text-align: left;
  font-weight: 700;
  line-height: 4.5rem;
}

.titulo-post-5 h3 {
  position: relative;
  width: 100%;
  text-align: left;
  font-family: "Nexa", sans-serif;
  font-size: 2.2rem;
  font-weight: 500;
  color: #002690;
  line-height: normal;
  font-style: normal;
}
/*   FIM  DOS  ELEMENTOS DO POST 5  */

/* start - separator-strip */

.separator {
  border-left: 3px solid #d4d4d4;
  height: 3.5rem;
  margin: 0 10px;
}
.separator-strip {
  height: 10rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #02a9e7, #572abb);
  text-align: center;

  margin: 0.5rem 0 0.5rem 0;
  padding: 0 2rem 0 2rem;
  border-radius: 1.4rem;
}

.title-separatorStrip {
  text-align: center;
  align-self: center;
  font-size: 55px;
  word-spacing: 8px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: white;
}

/* ELEMENTOS DO POST 8 - Transform your Black Friday sales with effective integration */
.text-banner-post-8 {
  width: 65%;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
  color: white;
  font-style: normal;
  text-align: left;
  margin: 3.3% 0 0 10%;
}
.text-banner-post-8 h3 {
  font-size: 3.2rem;
  font-family: "Nexa", sans-serif;
  color: #19e4ff;
  font-style: inherit;
  text-align: left;
  padding: 0 0 2% 5%;
  font-weight: 700;
}
.text-banner-post-8 h1 {
  font-family: "Nexa", sans-serif;
  font-size: 5rem;
  font-style: inherit;
  text-align: left;
  font-weight: 700;
  line-height: 5rem;
}
/*   FIM  DOS  ELEMENTOS DO POST 8  */

/* ELEMENTOS DO POST 9 - NETFLIX - PEDRO */
.logo-e-texto {
  display: flex;
  align-items: center;
  justify-content: center;
}
.imagem-logo-da-netflix {
  border-radius: 1.25rem;
  margin-right: 1rem; /* Espaço entre a imagem e o texto */
  margin-bottom: 5rem;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8); /* Adiciona sombra na borda */
}

.texto-a-direita-da-imagem {
  text-align: center; /* Centraliza o texto */
  margin-top: 3rem;
  margin-left: 1.8rem;
  /* margin-right: 5rem; */
}
.imagem-aws {
  border-radius: 1rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%; /* Ajuste este valor conforme necessário */
  max-width: 300px; /* Ajuste este valor conforme necessário */
  border: 2px solid #007bff; /* Azul moderno e fino */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); /* Sombra na imagem */
  transition: transform 0.3s ease-in-out; /* Transição suave para o movimento */
}
.imagem-sede-netflix-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 0.7rem; /* Ajuste conforme necessário */
  margin-bottom: 1rem; /* Ajuste conforme necessário */
}
.imagem-sede-netflix {
  border-radius: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8); /* Adiciona sombra na borda */
}
.caption {
  margin-top: 0.8rem;
  text-align: left;
  width: 100%;
  max-width: 600px; /* Ajuste conforme necessário */
  padding-left: 1rem;
  font-style: italic;
}
.imagem-pedro {
  border-radius: 1rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%; /* Ajuste este valor conforme necessário */
  max-width: 300px; /* Ajuste este valor conforme necessário */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9); /* Sombra na imagem */

  transition: transform 0.3s ease-in-out;
}
.imagem-sede-netflix {
  transform: scale(1.05); /* Ação de movimento ao passar o mouse */
}
.imagem-logo-da-netflix {
  transform: scale(1.05); /* Ação de movimento ao passar o mouse */
}
.imagem-aws:hover {
  transform: scale(1.05); /* Ação de movimento ao passar o mouse */
}
.imagem-pedro:hover {
  transform: scale(1.05); /* Ação de movimento ao passar o mouse */
}

/*   FIM  DOS  ELEMENTOS DO POST 9 - NETFLIX - PEDRO */

/* ELEMENTOS DO POST 10 - alejandro */
.imagem {
  border-radius: 1rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%; /* Ajuste este valor conforme necessário */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8); /* Sombra na imagem */
  transition: transform 0.3s ease-in-out; /* Transição suave para o movimento */
}

/* Efeito ao passar o mouse */
.imagem:hover {
  transform: scale(1.05); /* Ação de movimento ao passar o mouse */
}
/* FIM DOS ELEMENTOS DO POST 10 - ALEJANDRO */

/* ELEMENTOS DO POST 11 - alejandro */

.text-banner-post-11 {
  width: 40%;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
  color: white;
  font-style: normal;
  text-align: left;
  margin: 3.3% 0 0 7%;
}

.text-banner-post-11 h3 {
  font-size: 3.2rem;
  font-family: "Nexa", sans-serif;
  color: #19e4ff;
  font-style: inherit;
  text-align: left;
  padding: 0 0 0 5%;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.text-banner-post-11 h1 {
  font-family: "Nexa", sans-serif;
  font-size: 5rem;
  font-style: inherit;
  text-align: left;
  font-weight: 700;
  line-height: 5rem;
}

.text-banner-post-11 p {
  color: inherit;
  font-size: 1.2rem;
  font-family: "Lato", sans-serif;
  text-align: left;
}
.imagem-arnold-harley {
  border-radius: 1rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%; /* Ajuste este valor conforme necessário */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8); /* Sombra na imagem */
  transition: transform 0.3s ease-in-out; /* Transição suave para o movimento */
}

.imagem-arnold-harley:hover {
  transform: scale(1.05); /* Ação de movimento ao passar o mouse */
}
/* FIM DOS ELEMENTOS DO POST 11 - ALEJANDRO */

/* start - section about */
#section-about {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 4.2rem 0;
}

#section-about .container {
  align-items: center;
}

.about-content {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: start;
  gap: 1rem;
}

.about-content h1 {
  align-self: center;
  font-size: 3.1rem;
  text-align: center;
  color: #002690;
  font-family: "Nexa", sans-serif;
}

.about-content h3 {
  position: relative;
  width: 100%;
  text-align: left;
  font-family: "Nexa", sans-serif;
  font-size: 2.2rem;
  font-weight: 500;
  color: #002690;
  line-height: normal;
  font-style: normal;
}

.about-content h3::before {
  position: absolute;
  top: 97%;
  left: 0;
  content: "";
  width: 4rem;
  border-bottom: 3.5px solid rgb(74, 34, 160);
}

.about-content p {
  width: 100%;
  align-self: flex-start;
  text-align: justify;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
}

.ordered-wrapper {
  width: 100%;
  display: flex;
  height: max-content;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.ordered-text {
  width: 48%;
  height: max-content;
  gap: 10%;
  display: inherit;
  flex-flow: inherit;
  justify-content: flex-start;
  align-items: center;
}

.ordered-text h1 {
  font-size: 6rem;
  width: 20%;
  text-align: center;
  align-self: flex-start;
  padding: 0;
}

.ordered-text p {
  width: 80%;
  align-self: flex-start;
  text-align: left;
}

.ordered-text p strong {
  color: #01aaff;
}

.ordered-wrapper p strong {
  color: black;
}

.unordered-wrapper {
  width: 100%;
  height: max-content;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding-right: 4rem;
}

.unordered-wrapper img {
  height: 25rem;
  object-fit: contain;
  border: 2px solid white;
}

.unordered-text {
  height: 100%;
  width: max-content;
}

.mb1p3 {
  margin-bottom: 1.3rem;
}

.mb3 {
  margin-bottom: 3rem;
}

.mb4p1 {
  margin-bottom: 4.1rem;
}

.mb6p2 {
  margin-bottom: 6.2rem;
}

.mb10 {
  margin-bottom: 10rem;
}

.mt1p7 {
  margin-top: 1.7rem;
}

.color-light-blue {
  color: #002690;
}

.custom-list {
  list-style-type: none; /* Remove os marcadores padrão */
  padding: 0;
}

.custom-list-item {
  position: relative;
  padding-left: 1.5rem; /* Espaço para o marcador personalizado */
  margin-bottom: 0.5rem; /* Espaço entre os itens da lista */
}

.custom-list-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.5rem; /* Ajusta a posição vertical do marcador */
  width: 0.75rem; /* Tamanho da bolinha */
  height: 0.75rem; /* Tamanho da bolinha */
  background-color: blue; /* Cor da bolinha */
  border-radius: 50%; /* Torna a bolinha circular */
}

/* end - section about */

@media screen and (max-width: 1160px) {
  .text-banner-post-5 h1 {
    margin-bottom: 1rem;
    font-size: 3.8rem; /* Reduce font size */
  }

  .text-banner-post-5 {
    width: 70%;
    margin-bottom: 1rem;
    font-size: 3.8rem; /* Reduce font size */
  }
}

@media screen and (max-width: 976px) {
  .text-banner-post-11 h1 {
    margin-bottom: 1rem;
    font-size: 3.8rem; /* Reduce font size */
  }
  .text-banner-post-11 {
    width: 40%;
    margin-bottom: 1rem;
    font-size: 3.8rem; /* Reduce font size */
  }
}

@media screen and (max-width: 841px) {
  .text-banner-post-5 h1 {
    margin-bottom: 1rem;
    font-size: 3.8rem; /* Reduce font size */
  }
  .text-banner-post-5 {
    width: 80%;
    margin-bottom: 1rem;
    font-size: 3.8rem; /* Reduce font size */
  }
}

/* Responsividade para disposivivos menores que 768px: */
@media screen and (max-width: 768px) {
  /* Ajuste geral para os banners */
  #section-banner-post-11,
  #section-banner-post-10,
  #section-banner-post-9,
  #section-banner-post-8,
  #section-banner-post-7,
  #section-banner-post-6,
  #section-banner-post-5,
  #section-banner-post-4,
  #section-banner-post-3,
  #section-banner-post-2,
  #section-banner-post-1 {
    height: auto; /* Adjust height to auto for better flexibility */
    background-size: cover;
    background-position: center;
    flex-direction: column; /* Stack elements vertically */
    justify-content: center;
    align-items: center;
    padding: 1rem; /* Add padding for spacing */
  }

  /* Text banner adjustments for smaller screens */
  .text-banner {
    width: 90%; /* Adjust width to take more space */
    margin: 0; /* Remove margins */
    text-align: center; /* Center align text */
    align-items: LEFT;
  }

  .text-banner h3 {
    font-size: 2rem; /* Reduce font size for better readability */
    margin-top: 2.9rem;
    padding: 0; /* Remove padding */
  }

  .text-banner h1 {
    margin-bottom: 2.5rem;
    font-size: 3rem; /* Reduce font size */
    line-height: 3.5rem; /* Adjust line height */
  }

  .text-banner p {
    font-size: 1rem;
    margin-top: 1rem;
  }

  /* AJUSTES DO POST 5  */
  .text-banner-post-5 {
    width: 70%; /* Adjust width to take more space */
    margin: 0; /* Remove margins */
    text-align: center; /* Center align text */
    align-items: LEFT;
  }
  .text-banner-post-5 h3 {
    font-size: 2rem; /* Reduce font size for better readability */
    margin-top: 1.5rem;
    padding: 0; /* Remove padding */
  }
  .text-banner-post-5 h1 {
    font-size: 2rem;
    line-height: 2rem;
    margin-top: 1.7rem;
    margin-bottom: 1rem;
  }
  .titulo-post-5 {
    display: none;
  }

  /* AJUSTES DO POST 7  */
  .separator-strip {
    width: 100%;
    height: 10rem;
    display: block;
    text-align: center;
    align-content: center;
    padding: 0vw;
    border-radius: 1.4rem;
    margin: 0;
  }

  .title-separatorStrip {
    font-size: 6vw;
    word-spacing: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: white;
  }

  /* AJUSTES DO POST 8  */
  .text-banner-post-8 {
    width: 80%; /* Adjust width to take more space */
    margin: 0; /* Remove margins */
    text-align: center; /* Center align text */
    align-items: LEFT;
  }
  .text-banner-post-8 h3 {
    font-size: 2rem; /* Reduce font size for better readability */
    margin-top: 1.5rem;
    padding: 0; /* Remove padding */
  }
  .text-banner-post-8 h1 {
    font-size: 2rem;
    line-height: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }

  /* AJUSTES DO POST 9  */
  .logo-e-texto {
    flex-direction: column; /* Muda a orientação para coluna */
  }
  .imagem-logo-da-netflix {
    width: 98%; /* Ajusta a largura da imagem */
    margin-right: 0; /* Remove o espaço lateral */
    margin-bottom: 0.1rem; /* Reduz o espaço inferior */
    border-bottom: 1.5px solid rgb(109, 109, 109);
  }
  .texto-a-direita-da-imagem {
    margin-bottom: 1.9rem;
    margin-left: 0;
    margin-top: 0.7rem;
  }
  .imagem-pedro {
    margin-top: 2.7rem;
    margin-bottom: 2.7rem;
    width: 100%;
    border-bottom: 3.5px solid rgb(104, 104, 104);
  }
  .imagem-sede-netflix {
    width: 100%;
    border-bottom: 1px solid rgb(80, 80, 80);
  }

  /* AJUSTES DO POST 10  */
  #section-banner-post-10 {
    height: 30.8rem;
    background-image: url(../img/images-blog/img-post-10-banner-mob.png);
    background-position: top;
    align-items: center;
    justify-content: start;
    position: relative;
  }
  .imagem-1 {
    border-radius: 1.4rem;
    display: flex;
    align-self: center;
    width: 100%; /* Ajusta a largura da imagem para 100% da largura do contêiner */
  }
  .imagem-2 {
    border-radius: 0.4rem;
    display: flex;
    align-self: center;
    width: 100%; /* Ajusta a largura da imagem para 100% da largura do contêiner */
    align-self: center;
  }
  .imagem-3 {
    border-radius: 0.4rem;
    display: flex;
    align-self: center;
    width: 100%; /* Ajusta a largura da imagem para 100% da largura do contêiner */
    align-self: center;
  }
  .imagem-4 {
    border-radius: 0.4rem;
    display: flex;
    align-self: center;
    width: 100%; /* Ajusta a largura da imagem para 100% da largura do contêiner */
    align-self: center;
  }
  .imagem-5 {
    border-radius: 0.9rem;
    display: flex;
    align-self: center;
    width: 100%; /* Ajusta a largura da imagem para 100% da largura do contêiner */
    align-self: center;
  }
  .imagem-6 {
    border-radius: 0.9rem;
    display: flex;
    align-self: center;
    width: 100%; /* Ajusta a largura da imagem para 100% da largura do contêiner */
    align-self: center;
  }
  .imagem-7 {
    border-radius: 0.9rem;
    display: flex;
    align-self: center;
    width: 100%; /* Ajusta a largura da imagem para 100% da largura do contêiner */
    align-self: center;
  }

  /* AJUSTES DO POST 11  */
  #section-banner-post-11 {
    height: 30.8rem;
    background-image: url(../img/images-blog/img-post-11-banner-mob.png);
    background-position: top;
    align-items: center;
    justify-content: start;
    position: relative;
  }

  .text-banner-post-11 {
    justify-content: flex-start;
    padding: 0;
    width: 100%; /* Ajusta a largura para 90% do contêiner */
    margin-top: 0;
    margin-right: 5%; /* Centraliza a margem */
    margin-left: 5%;
    margin-bottom: 5%;
    text-align: center; /* Centraliza o texto */
    align-items: flex-start; /* Centraliza os itens */
  }

  .text-banner-post-11 h3 {
    font-size: 2rem; /* Ajusta o tamanho da fonte */
    margin-bottom: 0%;
  }

  .text-banner-post-11 h1 {
    text-align: center;
    font-size: 2.4rem; /* Ajusta o tamanho da fonte */
    line-height: 3rem; /* Ajusta a altura da linha */
    margin-top: 1rem;
  }

  .imagem-arnold-harley {
    width: 70%;
  }

  /* responsividade do body: */
  #section-about {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    padding: 1.2rem 0;
  }

  .about-content h1 {
    font-size: 2.5rem; /* Reduz o tamanho do título principal */
  }

  .about-content h3 {
    font-size: 1.7rem; /* Reduz o tamanho do título principal */
    margin-bottom: 0.7rem;
  }

  .about-content p {
    font-size: 1rem; /* Reduz o tamanho da fonte do texto */
  }

  .about-content {
    max-width: 100%; /* Garante que as imagens não ultrapassem o tamanho do contêiner */
    height: auto; /* Permite redimensionamento proporcional das imagens */
    display: block; /* Garante que as imagens se comportem corretamente */
  }
}
