.form-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-aliceblue);
  width: 1278px;
  height: 868px;
}
.e-mail,
.name {
  position: absolute;
  top: 251px;
  left: 135px;
}
.e-mail {
  top: 380px;
}
.how-can-we,
.message {
  position: absolute;
  top: 605px;
  left: 138px;
}
.how-can-we {
  top: 536px;
  color: var(--color-black);
}
.form-item {
  top: 667px;
  max-height: 100%;
}
.form-inner,
.form-item,
.line-icon {
  position: absolute;
  left: calc(50% - 501px);
  width: 1008px;
}
.form-inner {
  top: 442px;
  max-height: 100%;
}
.line-icon {
  top: 313px;
  height: 1px;
  object-fit: contain;
}
.how-we-can {
  top: 82px;
  left: calc(50% - 391px);
  font-weight: 800;
  color: var(--color-steelblue-100);
}
.erp1,
.form,
.how-we-can {
  position: absolute;
}
.form {
  top: 4533px;
  left: 0;
  width: 1278px;
  height: 868px;
  text-align: left;
  color: var(--color-gray);
}
.erp1 {
  top: 98px;
  left: 4px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 148px;
  height: 64px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.17);
}
.erp-card-child {
  position: absolute;
  top: 164px;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-brown);
  border: 2px solid var(--color-deepskyblue);
  box-sizing: border-box;
  width: 153px;
  height: 36px;
}
.learn-more {
  position: absolute;
  top: 172px;
  left: 17px;
  color: var(--color-steelblue-100);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 102px;
  height: 20px;
}
.erp-card-item {
  position: absolute;
  top: 184px;
  left: 127px;
  max-height: 100%;
  width: 10px;
}
.erp-card-inner {
  position: absolute;
  top: 0;
  left: 28px;
  width: 104px;
  height: 104px;
  object-fit: cover;
}
.erp-card {
  position: absolute;
  top: 9px;
  left: 185px;
  width: 153px;
  height: 200px;
}
.cards-assign-child {
  position: absolute;
  top: 190px;
  left: 129px;
  max-height: 100%;
  width: 10px;
}
.scale-and-augment {
  position: absolute;
  top: 104px;
  left: 0;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 148px;
  height: 64px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.17);
}
.scale-card-child {
  position: absolute;
  top: 188px;
  left: 128px;
  max-height: 100%;
  width: 10px;
}
.scale-card-item {
  position: absolute;
  top: 170px;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-brown);
  border: 2px solid var(--color-deepskyblue);
  box-sizing: border-box;
  width: 153px;
  height: 36px;
}
.learn-more1 {
  position: absolute;
  top: 177px;
  left: 15px;
  color: var(--color-steelblue-100);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 102px;
  height: 20px;
}
.scale-card-inner {
  position: absolute;
  top: 0;
  left: 24px;
  width: 104px;
  height: 104px;
  object-fit: cover;
}
.automatic-card-child,
.scale-card {
  position: absolute;
  top: 3px;
  left: 940px;
  width: 153px;
  height: 206px;
}
.automatic-card-child {
  top: 173px;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-brown);
  border: 2px solid var(--color-deepskyblue);
  box-sizing: border-box;
  height: 36px;
}
.automatic-reconciliations,
.learn-more2 {
  position: absolute;
  top: 180px;
  left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 102px;
  height: 20px;
}
.automatic-reconciliations {
  top: 107px;
  left: 0;
  font-weight: 500;
  color: var(--color-black);
  width: 148px;
  height: 64px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.17);
}
.automatic-card-item {
  position: absolute;
  top: 193px;
  left: 127.5px;
  max-height: 100%;
  width: 10px;
}
.automatic-card {
  position: absolute;
  top: 0;
  left: 562px;
  width: 153px;
  height: 209px;
  color: var(--color-steelblue-100);
}
.bpms-card-child {
  position: absolute;
  top: 172px;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-brown);
  border: 2px solid var(--color-deepskyblue);
  box-sizing: border-box;
  width: 153px;
  height: 36px;
}
.learn-more3 {
  position: absolute;
  top: 179px;
  left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 102px;
  height: 20px;
}
.bpms {
  margin: 0;
}
.bpms-consultancy-txt-container {
  line-break: anywhere;
  width: 100%;
}
.bpms-consultancy {
  position: absolute;
  top: 108px;
  left: 5px;
  font-weight: 500;
  color: var(--color-black);
  display: flex;
  align-items: center;
  width: 148px;
  height: 64px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.17);
}
.image-142-icon {
  position: absolute;
  top: 0;
  left: 25px;
  width: 104px;
  height: 104px;
  object-fit: cover;
}
.bpms-card,
.custom-card-child {
  position: absolute;
  left: 0;
  width: 153px;
}
.bpms-card {
  top: 1px;
  height: 208px;
  color: var(--color-steelblue-100);
}
.custom-card-child {
  top: 165px;
  border-radius: var(--br-xl);
  background-color: var(--color-brown);
  border: 2px solid var(--color-deepskyblue);
  box-sizing: border-box;
  height: 36px;
}
.custom-development,
.learn-more4 {
  position: absolute;
  top: 172px;
  left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 102px;
  height: 20px;
}
.custom-development {
  top: 101px;
  left: 0;
  font-weight: 500;
  color: var(--color-black);
  width: 148px;
  height: 64px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.17);
}
.custom-card-item {
  position: absolute;
  top: 0;
  left: 22px;
  width: 104px;
  height: 104px;
  object-fit: cover;
}
.custom-card-inner {
  position: absolute;
  top: 183px;
  left: 126px;
  max-height: 100%;
  width: 10px;
}
.custom-card {
  position: absolute;
  top: 8px;
  left: 370px;
  width: 153px;
  height: 201px;
  color: var(--color-steelblue-100);
}
.support-card-child {
  position: absolute;
  top: 171px;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-brown);
  border: 2px solid var(--color-deepskyblue);
  box-sizing: border-box;
  width: 153px;
  height: 36px;
}
.learn-more5 {
  position: absolute;
  top: 178px;
  left: 15px;
  color: var(--color-steelblue-100);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 102px;
  height: 20px;
}
.support-card-item {
  position: absolute;
  top: 189px;
  left: 125px;
  max-height: 100%;
  width: 10px;
}
.cards-assign,
.support-card {
  position: absolute;
  top: 2px;
  left: 753px;
  width: 153px;
  height: 207px;
}
.cards-assign {
  top: 115px;
  left: 0;
  width: 1093px;
  height: 209px;
}
.as-trusted-partners-container1 {
  width: 100%;
}
.as-trusted-partners-container {
  position: absolute;
  top: 0;
  left: calc(50% - 469.5px);
  font-size: var(--font-size-21xl);
  font-weight: 500;
  color: var(--color-steelblue-100);
  display: flex;
  align-items: center;
  width: 902px;
}
.as-trusted-partners {
  position: absolute;
  top: 4147px;
  left: 109px;
  width: 1093px;
  height: 324px;
  font-size: var(--font-size-xl);
}
.expertise-plataforms-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-aliceblue);
  width: 1278px;
  height: 1110px;
}
.expertise-in-the-container,
.image-98-icon {
  position: absolute;
  top: 47px;
  left: 251px;
}
.image-98-icon {
  top: 0;
  left: 25px;
  width: 104px;
  height: 108px;
  object-fit: cover;
}
.image-100-icon,
.image-101-icon,
.image-99-icon {
  position: absolute;
  top: 18px;
  left: 191px;
  width: 223px;
  height: 54px;
  object-fit: cover;
}
.image-100-icon,
.image-101-icon {
  top: 3px;
  left: 428px;
  width: 166px;
  height: 97px;
}
.image-101-icon {
  top: 171px;
  left: 21px;
  width: 111px;
  height: 116px;
}
.image-102-icon,
.image-removebg-preview-1-13 {
  position: absolute;
  top: 135px;
  left: 443px;
  width: 166px;
  height: 173px;
  object-fit: cover;
}
.image-removebg-preview-1-13 {
  top: 18px;
  left: 646px;
  width: 80px;
  height: 74px;
}
.image-removebg-preview-1-14,
.image-removebg-preview-1-15 {
  position: absolute;
  top: 17px;
  left: 841px;
  width: 80px;
  height: 74px;
  object-fit: cover;
}
.image-removebg-preview-1-15 {
  left: 742px;
  width: 89px;
}
.image-103-icon,
.image-removebg-preview-6-icon {
  position: absolute;
  top: 184px;
  left: 696px;
  width: 185px;
  height: 102px;
  object-fit: cover;
}
.image-103-icon {
  top: 391px;
  left: 28px;
  width: 130px;
  height: 82px;
}
.image-removebg-preview-3-6,
.image-removebg-preview-4-6 {
  position: absolute;
  top: 343px;
  left: 236px;
  width: 139px;
  height: 144px;
  object-fit: cover;
}
.image-removebg-preview-4-6 {
  top: 369px;
  left: 487px;
  width: 111px;
  height: 115px;
}
.bonita,
.python {
  font-size: var(--font-size-lg);
  height: 21px;
}
.bonita {
  position: absolute;
  top: 114px;
  left: 48px;
  font-weight: 200;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
}
.python {
  top: 292px;
  left: 255px;
  width: 96px;
}
.css,
.html,
.javascript,
.kubernet,
.python {
  position: absolute;
  font-weight: 200;
  display: flex;
  align-items: center;
  justify-content: center;
}
.kubernet {
  top: 292px;
  left: 29px;
  font-size: var(--font-size-lg);
  width: 96px;
  height: 20px;
}
.css,
.html,
.javascript {
  top: 102px;
  left: 654px;
  width: 42px;
  height: 19px;
}
.html,
.javascript {
  top: 104px;
  left: 841px;
  width: 105px;
}
.html {
  left: 758px;
  width: 51px;
}
.image-104-icon,
.image-removebg-preview-5-6 {
  position: absolute;
  top: 557px;
  left: 0;
  width: 180px;
  height: 89.9px;
  object-fit: cover;
}
.image-104-icon {
  top: 571px;
  left: 450px;
  width: 170px;
  height: 56.5px;
}
.image-105-icon,
.image-removebg-preview-6-6 {
  position: absolute;
  top: 542px;
  left: 705px;
  width: 180px;
  height: 114.2px;
  object-fit: cover;
}
.image-removebg-preview-6-6 {
  top: 536px;
  left: 246px;
  width: 130px;
  height: 141.8px;
}
.image-106-icon,
.image-removebg-preview-7-6,
.image-removebg-preview-8-6 {
  position: absolute;
  top: 717px;
  left: 5px;
  width: 170px;
  height: 132.2px;
  object-fit: cover;
}
.image-106-icon,
.image-removebg-preview-8-6 {
  left: 253px;
  width: 100px;
  height: 100px;
}
.image-removebg-preview-8-6 {
  top: 671px;
  left: 425px;
  width: 220px;
  height: 220px;
}
.image-107-icon,
.image-108-icon,
.image-109-icon {
  position: absolute;
  top: 723px;
  left: 717px;
  width: 145px;
  height: 95px;
  object-fit: cover;
}
.image-108-icon,
.image-109-icon {
  top: 395px;
  left: 681px;
  width: 200px;
  height: 63.9px;
}
.image-109-icon {
  top: 166px;
  left: 243px;
  width: 120px;
  height: 131.9px;
}
.logos-plataformas {
  position: absolute;
  top: 190px;
  left: 186px;
  width: 946px;
  height: 891px;
  font-size: var(--font-size-mid);
  color: var(--color-black);
}
.expertise-plataforms {
  position: absolute;
  top: 3003px;
  left: 3px;
  width: 1278px;
  height: 1110px;
  font-size: 45px;
  color: var(--color-midnightblue);
}
.infografico-erp-1-icon {
  position: absolute;
  top: 2076px;
  left: 266px;
  width: 800px;
  height: 809.7px;
  object-fit: cover;
}
.card-low-code-child,
.image-21-icon {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-mid);
  width: 307px;
  height: 310px;
}
.image-21-icon {
  top: 23px;
  left: 21px;
  border-radius: var(--br-4xs);
  width: 264px;
  height: 90px;
  object-fit: cover;
}
.create-and-build {
  font-weight: 300;
}
.offering-personalized-solution {
  font-weight: 500;
}
.create-and-build-container,
.rapid-low-code-apps {
  position: absolute;
  top: 173px;
  left: 20px;
  display: flex;
  align-items: center;
  width: 266px;
  height: 124px;
}
.rapid-low-code-apps {
  top: 130px;
  left: 22px;
  font-size: var(--font-size-11xl);
  font-family: var(--font-alegreya-sans);
  justify-content: center;
  width: 263px;
  height: 32px;
}
.card-low-code {
  position: absolute;
  top: 0;
  left: 360px;
  width: 307px;
  height: 310px;
  font-size: var(--font-size-base);
  font-family: var(--font-roboto);
}
.cloud-migration {
  position: absolute;
  top: 133px;
  left: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 223px;
  height: 29px;
}
.leverage-the-expertise-container {
  position: absolute;
  top: 182px;
  left: 21px;
  font-size: var(--font-size-base);
  display: flex;
  align-items: center;
  width: 270px;
  height: 99px;
  font-family: var(--font-roboto);
}
.image-28-icon {
  position: absolute;
  top: 23px;
  left: 21px;
  border-radius: var(--br-4xs);
  width: 265.9px;
  height: 90px;
  object-fit: cover;
}
.card-cloud,
.image-23-icon {
  position: absolute;
  top: 0;
  left: 720px;
  width: 307px;
  height: 310px;
}
.image-23-icon {
  top: 23px;
  left: 23px;
  border-radius: var(--br-4xs);
  width: 262px;
  height: 90px;
  object-fit: cover;
}
.providing-all-the,
.to-streamline-processes {
  font-weight: 500;
  font-family: var(--font-roboto);
}
.to-streamline-processes {
  font-weight: 300;
}
.count-on-us {
  margin: 0;
  font-weight: 300;
}
.the-lymtech-team-container {
  position: absolute;
  top: 184px;
  left: 13px;
  font-size: var(--font-size-base);
  display: flex;
  align-items: center;
  width: 283px;
  height: 100px;
  font-family: var(--font-roboto);
}
.integrated-team,
.text {
  position: absolute;
  display: flex;
  align-items: center;
  width: 263px;
}
.text {
  top: 148px;
  left: 23px;
  text-align: left;
}
.integrated-team {
  top: 130px;
  left: 22px;
  justify-content: center;
}
.all-cards,
.card-integrated {
  position: absolute;
  top: 0;
  left: 0;
  width: 307px;
  height: 310px;
}
.all-cards {
  top: 1582px;
  left: 128px;
  width: 1027px;
  font-size: var(--font-size-11xl);
  font-family: var(--font-alegreya-sans);
}
.solution-tailored-to {
  font-weight: 500;
  font-family: var(--font-roboto);
  color: #006a8e;
}
.we-serve-as-container {
  position: absolute;
  top: 21px;
  left: 0;
  display: flex;
  align-items: center;
  width: 816px;
  height: 143px;
}
.simplify-company-processes-container {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 50px;
  font-weight: 300;
  color: var(--color-midnightblue);
}
.text-simplify {
  position: absolute;
  top: 1374px;
  left: 35px;
  width: 946px;
  height: 164px;
  text-align: left;
  font-size: var(--font-size-mid);
}
.text-three-signs,
.three-signs-that {
  position: absolute;
  top: 0;
  left: 0;
  width: 1060px;
  height: 53px;
}
.three-signs-that {
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-three-signs {
  font-size: 38px;
}
.erp-systems-can {
  top: 133px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 207px;
  height: 143px;
}
.erp-systems-can,
.icon,
.sign {
  position: absolute;
}
.icon {
  top: 0;
  left: 52px;
  width: 104px;
  height: 104px;
  object-fit: cover;
}
.sign {
  top: 174px;
  left: 792px;
  width: 207px;
  height: 276px;
}
.erp-systems-automate {
  position: absolute;
  top: 143px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 283px;
  height: 143px;
}
.icon1,
.sign1 {
  position: absolute;
}
.icon1 {
  top: 0;
  left: 87px;
  width: 109px;
  height: 119.1px;
  object-fit: cover;
}
.sign1 {
  top: 159px;
  left: 417px;
  width: 283px;
  height: 286px;
}
.erp-integrates-data {
  position: absolute;
  top: 116px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 287px;
  height: 168px;
}
.icon2 {
  position: absolute;
  top: 0;
  left: 90px;
  width: 104px;
  height: 104px;
  object-fit: cover;
}
.sign2,
.three-signs {
  position: absolute;
  top: 174px;
  left: 76px;
  width: 287px;
  height: 284px;
}
.three-signs {
  top: 791px;
  left: 111px;
  width: 1060px;
  height: 458px;
  font-size: var(--font-size-lg);
}
.imagem-cara-tablet-main-erp-icon {
  position: relative;
  top: 0;
  left: 3px;
  width: 100%;
  height: 623px;
  object-fit: cover;
}
.degrade-icon,
.imagem-principal {
  position: absolute;
  top: 0;
  left: 0;
  height: 623px;
}
.degrade-icon {
  width: 1281px;
  object-fit: contain;
}
.imagem-principal {
  width: 1282px;
}
.an-erp-is,
.erp2 {
  position: absolute;
  display: inline-block;
}
.erp2 {
  top: 62px;
  left: 111px;
  line-height: 120.9%;
  width: 237px;
  height: 120px;
  text-shadow: 4px 2px 3px rgba(0, 0, 0, 0.3);
}
.an-erp-is {
  top: 244px;
  left: 117px;
  font-size: 24px;
  font-family: var(--font-sansation);
  width: 430px;
  height: 186px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.35);
}
.button-rev-up1 {
  position: absolute;
  top: 18px;
  left: 22px;
  border-radius: 139px;
  background: linear-gradient(
    -90deg,
    #5b1ffe,
    #413dd4 50%,
    #12a2f3 99.99%,
    #8467c7
  );
  width: 362px;
  height: 77px;
}
.rev-up-your-bussiness {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 384px;
  height: 113px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.35);
}
.vector-icon {
  position: absolute;
  top: 46px;
  left: 349px;
  width: 9px;
  height: 21px;
  object-fit: contain;
}
.button-rev-up,
.hero {
  position: absolute;
  top: 476px;
  left: 87px;
  width: 384px;
  height: 113px;
  text-align: center;
  font-size: 28px;
}
.hero {
  top: 100px;
  left: -1px;
  width: 1282px;
  height: 623px;
  text-align: left;
  font-size: 96px;
  color: var(--color-whitesmoke);
  font-family: var(--font-istok-web);
}
.erp {
  width: 100%;
  position: relative;
  background-color: var(--color-whitesmoke);
  height: 5401px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-roboto);
}