/*header {
    display: flex;
    align-items: center;
    padding: 10px;
}

.container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    padding: 10px;
    width: 100%;
}

.container span {
    margin-left: 20px; 
    width: auto;
}

img {
    max-width: 100px;
    height: auto;
}*/

/* Estilos CSS */
.header {
    background-color: #0079A4;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }

  .banner {
    background: linear-gradient(90deg, rgba(115, 115, 115, 0) 0%, #0079A4 70%);
    color: #fff;
    text-align: center;
    padding: 50px 0;
  }

  .titulo-banner {
    font-size: 36px;
    margin-bottom: 20px;
  }

  .subtitulo-banner {
    font-size: 18px;
    margin-bottom: 30px;
  }

  .banner button {
    padding: 10px 40px 10px 20px; /* Adicionado padding à direita para a imagem */
    background-color: #fff;
    color: #0079A4;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }

  .banner button img {
    width: 20px; /* Defina a largura desejada para a imagem */
    margin-left: 10px; /* Espaçamento entre o texto e a imagem */
    vertical-align: middle; /* Alinhamento vertical ao meio */
  }