/* body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-roboto: Roboto;
  --font-istok-web: "Istok Web";

  /* font sizes */
  --font-size-21xl: 2.5rem;
  --font-size-13xl: 2rem;
  --font-size-5xl: 1.5rem;
  --font-size-17xl: 2.25rem;
  --font-size-6xl: 1.563rem;
  --font-size-xl: 1.25rem;
  --font-size-11xl: 1.875rem;
  --font-size-lg: 1.125rem;

  /* Colors */
  --color-whitesmoke: #f8f8f8;
  --color-black: #000;
  --color-aliceblue: #e1f5fc;
  --color-gainsboro: #d9d9d9;

  /* Gaps */
  --gap-2xl: 1.312rem;
  --gap-xl: 1.25rem;
  --gap-lg: 1.125rem;
  --gap-25xl: 2.75rem;
  --gap-3xl: 1.375rem;

  /* Paddings */
  --padding-25xl: 2.75rem;
  --padding-51xl: 4.375rem;
  --padding-16xl: 2.187rem;
  --padding-9xs: 0.25rem;
  --padding-xl: 1.25rem;
  --padding-12xs: 0.062rem;
  --padding-27xl: 2.875rem;
  --padding-15xl: 2.125rem;
  --padding-315xl: 20.875rem;

  /* Border radiuses */
  --br-3xl: 22px;
  --br-xl: 20px;
  --br-120xl: 139px;
} */
