body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-poppins: Poppins;
    --font-roboto: Roboto;
    --font-kodchasan: Kodchasan;
  
    /* font sizes */
    --font-size-11xl: 30px;
    --font-size-21xl: 40px;
    --font-size-10xl: 29px;
    --font-size-26xl: 45px;
    --font-size-xl: 20px;
    --font-size-13xl: 32px;
    --font-size-lg: 18px;
  
    /* Colors */
    --color-whitesmoke: #f8f8f8;
    --color-white: #fff;
    --color-darkblue: #562bbb;
    --color-black: #000;
    --color-blue-100: #5921fb;
    --color-blue-200: #5a1ffd;
    --color-slateblue: #4742c3;
    --color-deepskyblue: #02a9e7;
    --color-aliceblue: #f0faff;
  
    /* Border radiuses */
    --br-3xl: 22px;
  }
  